[2015-09-10 16:01] ftessier opened #2 "Testing posting of issues"
This is just to test how issues posted by EGSnrc users will show up in the EGSnrc repository issues pages.

[2015-09-10 16:02] #2 closed

[2015-09-29 23:08] marenaud opened #3 "Syntax error in HEN_HOUSE/scripts/configure"
Hello!
There's a syntax error on line 271 of HEN_HOUSE/scripts/configure:
    for test_file in $((ls conftest.o conftest.obj; ls conftest.*) 2>/dev/null); do

Probably meant to write
    for test_file in $(ls conftest.o conftest.obj 2>/dev/null;
                ls conftest.* 2>/dev/null); do

(at least that works on my machine... modelled after line 296)

[2015-09-30 14:30] ftessier commented on #3
Interesting: I can't reproduce the syntax error. What OS and bash version are you running on?

[2015-09-30 14:31] #3 closed

[2015-09-30 16:25] marenaud commented on #3
Xubuntu 14.04 et Ubuntu 14.04,
GNU bash, version 4.3.11(1)-release (x86_64-pc-linux-gnu)

Here's the log (the specific line number is not helpful since it's looking for a closing bracket and never finding it):

You can exit this script at any time by typing Ctrl-C.

Press enter to continue.

Checking system type ...                          x86_64-unknown-linux-gnu
Checking for make ...

[2015-09-30 16:49] ftessier commented on #3
Thank you @marenaud. What is happening is that the `$((...) ...)` expression was meant as a shell command substitution `$(...)`, which itself contained a subshell (...) expression. The problem is that the leading `$((` string collides with the syntax for an arithmetic expansion! I removed the inside subshell expression, hence this becomes a non-issue. Otherwise the solution would have been to add

[2015-10-01 13:40] ftessier opened #4 "Typos in EGSnrc manual"
There are 2 typos in the EGSnrc manual, Section 3.7.2, paragraph "Moller scatter".  They are not ambiguous, so not critical, but you might want to change it. Section 3.7.2. It might be worth running the whole document through a spell checker. (Dave Rogers)

[2015-10-01 13:45] #4 closed

[2015-10-01 18:46] blakewalters opened #5 "finalize_egs_foruser"
Does not compile cpp user codes on OSX because it only searches for $HEN_HOUSE/egs++/dso/$my_machine/libegspp.so (i.e. omits .dylib extension) when ascertaining whether egspp has been installed or not.

[2015-10-01 18:55] ftessier commented on #5
Fixed in ff2130b.

[2015-10-01 18:55] #5 closed

[2015-10-07 15:49] blakewalters opened #6 "Old problem with relative path to libiaea_phsp.dylib on OSX"
When running user codes that use IAEA phase space functionality on OSX, one obtains the message:
`dyld: Library not loaded: ../egs++/dso/darwin/libiaea_phsp.dylib`
This can be circumvented by actually creating directory `../egs++/dso/darwin/` and placing `libiaea_phsp.dylib` in it, but why is a relative path (..) being used in the first place?

[2015-10-21 13:26] MartinMartinov opened #8 "Bound Compton scattering default"
The new default value for the `Bound Compton scattering` transport parameter seems to be `norej` but, according to PIRS 701, the default is documented as being `on`.

[2015-10-28 19:02] marenaud opened #9 "Seg fault with BEAM shared library in DOSXYZnrc with modern gcc versions"
if I run a shared library beam source in DOSXYZnrc on 64 bit Ubuntu 14.04, gcc 4.8.4, I get a seg fault in the photon routine of DOSXYZnrc. This occurs in all EGSnrc distributions from 2011 onwards (haven't tested earlier).

The seg fault disappears in the latest version if I compile with no optimisation, OR if I force 32 bit compatibility (and recompile all of HEN_HOUSE/cutils) using the -m32 fla

[2015-11-06 18:48] marenaud commented on #9
@blakewalters found that the bug had nothing to do with pointer length or 64 bit, but in fact was due to an uninitialized variable related to using `VACUUM` as the outside (`dsurround`) material in DOSXYZnrc. The seg fault can be avoided by either using anything else than `VACUUM`, **or** by changing `REPLACE {$EPSGMFP} WITH {1.E-5}` to `REPLACE {$EPSGMFP} WITH {1.E-8}` in `$HEN_HOUSE/src/egsnrc.m

[2015-11-10 23:52] ftessier commented on #8
Adjusted the documentation source and commend in the code to indicate that 'norej' is the default option for bound Compton scattering.

[2015-11-10 23:52] #8 closed

[2015-11-10 23:57] ftessier commented on #6
This issue should be fixed now that the egsnrc_bashrc_additions explicitly add the $HEN_HOUSE/egs++/dso/... path to the DYLD_LIBRARY_PATH environement variable in osx. Leaving the issue open until this is confirmed.

[2015-11-23 20:34] pakoliver opened #10 "Correlated sampling issue"
When calculating doses to spherical cavities with radii on the order of microns, the use of correlated sampling causes the dose to be 2-4% smaller than expected. This discrepancy was observed for monoenergetic photon beams with energies on the order of tens of keV, incident on a cubic phantom with a side length of 2 cm. The amount of discrepancy depends on the energy and medium used. This does not

[2015-11-23 21:10] ftessier commented on #10
What is the size of your source? @MartinMartinov recently found that the default single-precision resolution for the random number generator in the particle sources is not sufficient, thus at the micron scale you end up sampling source particles on a discrete grid.

[2015-11-23 22:05] pakoliver commented on #10
My source is parallel beam of monoenergetic photons with a radius of 1 cm. I am using the “high resolution = yes” option, as suggested by Martin Martinov.

On Nov 23, 2015, at 4:10 PM, Frédéric Tessier <notifications@github.com<mailto:notifications@github.com>> wrote:

What is the size of your source? @MartinMartinov<https://github.com/MartinMartinov> recently found that the default single-precisi

[2015-11-30 17:50] marenaud opened #13 "Bug with fat photon rejection when using directional brem splitting with isource = 21 in dosxyznrc"
Hi all,

If you compare the fat photon rejection line [from source 21](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/user_codes/dosxyznrc/srcxyznrc.mortran#L4035)

[code]

to the one from [from source 10](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/user_codes/dosxyznrc/srcxyznrc.mortran#L3706)

[code]

you'll notice that in one case it checks for **iphatsrc=1** and in the o

[2015-12-01 15:47] #13 closed

[2015-12-01 16:53] ftessier commented on #13
Fixed in 6fa05d3

[2015-12-02 01:44] blakewalters opened #14 "Bug in SYNCMLCE"
User Michael Martyn has reported an endless loop with a run using a step-and-shoot leaf sequence file.

[2015-12-02 02:05] #14 closed

[2015-12-23 11:22] bacillus411 opened #18 "egs_gui on CentOS 5.5 (GLIBC_2.7 not found)"
I can't use 'egs_gui' on CentOS 5.5 system because CentOS 5.5 has only supported GLIBC 2.5.

egs_gui: /lib64/libc.so.6: version `GLIBC_2.7' not found (required by egs_gui)
egs_gui: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.11' not found (required by egs_gui)
egs_gui: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.9' not found (required by egs_gui)

Is there any solution to use egs_gui on Ce

[2015-12-29 14:35] ustc-czc opened #19 "The executlve program ’EGSnrc-configure-linux‘ does not work"

[2015-12-30 08:47] lmmonline opened #20 "El Capitan Install stuck in a loop"
Firstly ......
gcc is detected by the install script and I select it by hitting enter however compiling ctcreate and dosxyz_show are skipped with the comment no C compiler.

Then secondly........

I get to a list of 9 options. I hit enter to proceed.
I get

Creating C++ config file ...                      OK
Building the IAEA phase space library ...         Failed
Building the EGSnrc C++ class li

[2015-12-30 13:18] mchamberland commented on #20
I quit the install script, ran it again, and it worked the second time. ¯\_(ツ)_/¯

[2015-12-31 05:59] lmmonline commented on #20
I have run it a number of times, each time getting the same result as follows:

Do you want to retry? (yes/no)                    y

Determining Fortran libraries for g++ linking ... OK

Using the following compiler/linker switches for creating/linking against
dynamic shared objects (DSO, also known as shared library or DLL), where
$(abs_dso) or $(ABS_DSO) below will be replaced with the absolute

[2016-01-01 20:02] kurijlj commented on #19
Same thing happens on Slackware 14.0 box.
Report from bash:
bash: ./EGSnrc-configure-linux: cannot execute binary file

[2016-01-04 18:32] ftessier commented on #19
@kurijlj, did you `chmod +x EGSnrc-configure-linux`? If so, then perhaps you are trying to run on a 32-bit machine. The `EGSnrc-configure-linux` binary is a 64-bit executable.

[2016-01-04 18:36] ftessier commented on #20
@lmmonline, I will try to reproduce the problem. Please send me your detailed compiler version numbers: `gfortran --version; gcc --version; g++ --version;`

[2016-01-04 18:44] ftessier opened #22 "Update electron rest mass"
EGSnrc uses 511.0034 keV as the rest mass of the electron. But the accepted value is now 0.510 998 9461(31) MeV according to [CODATA 2014](http://physics.nist.gov/cgi-bin/cuu/Value?mec2mev). This is a change of only 0.0009%, but EGSnrc should nevertheless use the updated value. (Suggested by Dave Rogers).

There are about 60 instances of the hard coded 0.5110034 rest mass throughout the code:
`gre

[2016-01-04 21:54] kurijlj commented on #19
That's it. I have 32-bit Slackware machine. So the question is will the rest of code work on such machine, and any chances of getting 32-bit binaries or source?

[2016-01-04 21:58] ftessier commented on #19
The rest of the code should work fine because you compile it at your end. We provide precompiled binaries for some GUIs because they rely on Qt which is not usually installed by default. But if you have the Qt development files installed, you have all the source code to compile the GUIs as well. For example, go inside the `$HEN_HOUSE/gui` directory and issue the `make` command. We will consider ad

[2016-01-04 22:05] kurijlj commented on #19
Thank you. I will give it a try.

[2016-01-04 22:15] #19 closed

[2016-01-04 22:16] #6 closed

[2016-01-05 00:11] niddaas commented on #20
Hello,
I just installed egsnrc GUI, but my other software, G95 (fortran compiler) cannot compile the code again.
The error log in cmd when g95 compiling is:
![g95_error_log](https://cloud.githubusercontent.com/assets/16548973/12104115/e1e27754-b37a-11e5-8bba-886539da7e24.jpg)

 Here I attached the screenshot of the version of my EGSnrc.

![about_egsnrc_gui](https://cloud.githubusercontent.com/asse

[2016-01-05 00:26] mchamberland opened #23 "Clashing file names causes unexpected changes in cloned repo on case insensitive Mac OS X"
Mac OS X is case insensitive. When the EGSnrc repo is cloned to a Mac, changes are automatically applied to the repository because of duplicate file names. The culprits are under:

HEN_HOUSE/doc/src/pirs898-egs++/figures

and are:

I6702.png
I6702a.png
i6702.png
i6702a.png

Since OS X is case insensitive, two of those files automatically get renamed or deleted when the repo is initially cloned. Al

[2016-01-05 05:36] lmmonline commented on #20
Hi Thanks ftessier

Lindas-iMac:EGSnrc iMacLinda$ gfortran --version
GNU Fortran (GCC) 4.2.3
Copyright (C) 2007 Free Software Foundation, Inc.

GNU Fortran comes with NO WARRANTY, to the extent permitted by law.
You may redistribute copies of GNU Fortran
under the terms of the GNU General Public License.
For more information about these matters, see the file named COPYING

Lindas-iMac:EGSnrc iMacL

[2016-01-05 18:49] mchamberland opened #24 "EGS_AliasTable and EGS_SimpleAliasTable are susceptible to round off errors"
I'm not sure if anything can be done to guard against this, but EGS_AliasTable and EGS_SimpleAliasTable are susceptible to round off errors when building the table. [Lines 113-116](https://github.com/nrc-cnrc/EGSnrc/blob/6b1938d3186055017da09bfd37631c8b87c0af32/HEN_HOUSE/egs%2B%2B/egs_alias_table.cpp#L113-L116), and [lines 204-206](https://github.com/nrc-cnrc/EGSnrc/blob/6b1938d3186055017da09bfd37

[2016-01-05 22:41] #23 closed

[2016-01-06 00:42] mchamberland commented on #24
Not sure if this is relevant or not, but [this page](http://www.keithschwarz.com/darts-dice-coins/) describes a different algorithm to create the alias table, which explicitly addresses numerical instabilities. See the last section ("A Practical Version of Vose's Algorithm"). It also provides an [example implementation](http://www.keithschwarz.com/interesting/code/?dir=alias-method) in Java.

I th

[2016-01-06 16:52] ftessier commented on #24
Thank you @mchamberland for pointing out this problem; we ought to clean this up indeed! Kudos for the useful links as well.

[2016-01-06 17:08] mchamberland commented on #24
Here's a sample C++ implementation I whipped up this morning, based on the Java code above. It requires the use of std::stack. Feel free to use it, if helpful.

[code]

[2016-01-08 21:13] ftessier commented on #10
@pakoliver, can you send me a minimal sample input file which illustrates the problem?

[2016-01-09 00:41] ftessier commented on #20
@lmmonline, I note the line `5) Output/dlopen library: -o $@ BEAMLIB_EXTRA_LIBS =` in your options. These options should read `-o $@ -ldl`. Try changing options number 5 for this and let me know. The underlying cause is a mishandling of trailing spaces in the C++ configuration script when the variable the `BEAMLIB_EXTRA_LIBS` is undefined in the `$EGS_CONFIG` file. This has been fixed in commit c6

[2016-01-09 00:43] #20 closed

[2016-01-09 10:37] lmmonline commented on #20
Thanks for your reply, this is what happened:

1) Optimization options:                          -O3 -ffast-math
2) Generation of position independent code:
3) Preprocessor defines:                          -DOSX
4) Flag for creating shared libraries:            -dynamiclib
5) Output/dlopen library:                         -o $@ BEAMLIB_EXTRA_LIBS =
6) DSO path encoded in the executable:

[2016-01-09 13:25] ftessier commented on #20
No, sorry for the confusion, I meant the `$@ BEAMLIB_EXTRA_LIBS =` should NOT be there at all, as in
[code]

[2016-01-09 13:40] ftessier commented on #20
Something is still symptomatic of a deeper problem, e.g., you don't have a flag for generation of position independent code. When I try with a fresh install of El Capitan with gfortran 5.1 or 6.0, the configuration sets the flags as expected. The problem you have is caused by the fact that the script does not set `BEAMLIB_EXTRA_LIBS`  variable because it is not able to compile shared libaries. Thi

[2016-01-13 04:27] pakoliver commented on #10
Hi Frederic,

I just wanted to give you a quick update so that you know I’ve seen your message:

So far, I’ve only seen the issue in my most complicated input files, which might be hard to follow for anyone but myself. Over the weekend, I ran a test with correlated sampling using a very simple geometry, and I was not able to reproduce the issue. I’d like to run a couple more tests with slightly mo

[2016-01-13 16:18] ftessier commented on #10
Thank you @pakoliver. Indeed if you can provide a simplified input that suffers from this problem it would be extremely useful. Perhaps you can simplify your complicated case step-by-step and note when the issue you raise vanishes; that in itself might provide the best clue as to where lies the problem.

[2016-01-14 03:37] mchamberland opened #28 "Cone stack geometry errors when inscribed in cylindrical geometry"
Cone stack geometries throw geometry errors (of the type `howfar: called from the outside`) when they are inscribed in a base geometry which is cylindrical in shape. The frequency of errors seem to increase when the base geometry has radii that are similar to or smaller than the radii of the cone stack.

I've attached a simple input file below. It can be run in `tutor7pp` with the `tutor_data` PEG

[2016-01-14 13:45] blakewalters opened #29 "BEAMnrc and DOSXYZnrc GUI's not using fonts from .gui_defaults file"
Both gui main codes, `beamnrc_gui.tcl` and `dosxyznrc_gui.tcl`, now invoke the coding:
[code]
after having read in default font definitions from the `.gui_defaults` file.  The result is that the user can no  longer set default font type/size using `.gui_defaults`.  Suggest that the font defined above only be used for the main window.

[2016-01-15 14:29] ftessier opened #30 "The SPRRZnrc user code does not work in parallel"

[2016-01-15 15:56] mchamberland opened #31 "CD geometry errors when composed of cone stack and inscribed in cylindrical geometry"
I believe this may be related to issue #28: build a CD geometry whose base is planes and composed of a cone stack (two layers, different radii). Then, inscribe the CD geometry in a cylindrical phantom. Watch the geometry errors accumulate!

Attached below is a simple input file to run with `tutor7pp` and `tutor_data` PEGS file.

[cd_geom_errors.txt](https://github.com/nrc-cnrc/EGSnrc/files/92143/c

[2016-01-15 16:34] ftessier commented on #28
Whenever there are mathematically overlapping surfaces, there will be geometry errors because of floating point errors. So that explains your first four scenarios, where cylindrical surfaces overlap I believe.

The last two are are due to a problem with the logic in the code when a conestack is inscribed in an envelope (again the root cause is floating-point error), when the particle is near a "co

[2016-01-15 16:36] #28 closed

[2016-01-15 18:50] mchamberland commented on #28
Thanks for the workaround! It's not perfect, but it works in a pinch. Hopefully, my simple input file at least provides something to test any improvements to the cone stack code against.

[2016-01-15 18:52] ftessier commented on #31
Indeed this issue is related to #28, and can be handled in the same way: remove numerical coincidence between surfaces (for example use `radii = 1.0001 5` for the phantom cylinder radii), and pad the cone stack radially to avoid kinks as seen from the outside.

[2016-01-15 18:52] #31 closed

[2016-01-18 13:49] #29 closed

[2016-01-18 21:04] ftessier commented on #30
Fixed in 518f2ff by @blakewalters.

[2016-01-18 22:04] #30 closed

[2016-01-19 14:01] mchamberland opened #32 "egs_view window greys out on OS X until you interact with it"
This affects the version of `egs_view` on the develop branch, on OS X (10.11.2).

The window where the geometry is rendered greys out when it gets focus or when the focus moves to the UI window. The geometry becomes visible if you interact with it by dragging, zooming, or if you use the reload button. I've uploaded a [screencast](https://dl.dropboxusercontent.com/u/21325205/egs_view_glitch_osx.mov

[2016-01-20 01:18] ftessier commented on #32
I confirm this problem on Yosemite 10.10.5 as well. @mstoeckl, any chance you are able to pinpoint quickly the missing rerender trap on OS X?

[2016-01-26 09:59] ustc-czc commented on #19
Thank you! It works well on 64-bit ubuntu

2016-01-05 6:15 GMT+08:00 Frédéric Tessier <notifications@github.com>:

[2016-01-26 18:04] jalovis opened #34 "beamdp and qtgrace issue."
When attempting to run beamdp on Mac, it says that xmgrace cannot be launced. This is of course because qtgrace is used on OS X. I tried just replacing all isntaces of qtgrace with xmgrace but it did not work. I believe this is because I need to find the correct command line name to launch qtgrace.

Will attempt to find the correct name, if anyone has any thoughts or input feel free to let me know

[2016-01-27 01:42] ftessier commented on #34
Indeed qtgrace is not recognized as a executable name in the Terminal, because it is bundled as an application. In an attempt to solve this problem, alias the `xmgrace` command to the proper command-line `qtgrace` call by adding the following line to your `~/.profile`:
[code]

One problem remains though: `qtgrace` is launched with the application's directory as the current working directory, hence

[2016-02-02 02:36] lmmonline commented on #20
Thanks again,

My outdated gfortran was part of the problem.  The other part was that I had upgraded the operating system but did not realise that when I did this I would also have to upgrade Macports which I have been using as a package manager (rather than home-brew), after doing this the configure script ran correctly.

[2016-02-09 20:38] crcrewso opened #36 "80 Character Limit"
We've been dealing with the 80 character limit for a while. Under old installs I would manually correct the mortran files when the issue arose. With the transition to git this should be removed.

![beam](https://cloud.githubusercontent.com/assets/6089951/12929863/be5be03c-cf3a-11e5-923e-72f3a5b22d33.PNG)

[2016-02-09 21:02] ftessier commented on #36
This has been fixed a week ago on the `develop` branch in commit 76006b8. Thank you for taking the time to report this.

[2016-02-09 22:56] crcrewso commented on #36
While the example I gave was fixed in a specific version of the development branch I would like to submit a greater issue. The existence of the 80 char limit at all. I know that is a lot of fixing to increase the 80 char limit to a more reasonable 256 but it's something that I've continually run across with descriptive file names.

[2016-02-10 01:54] ftessier commented on #36
I agree with you, it is a pain. The 80 character width limit is a legacy from terminal days of course. While in principle it seems possible to increase the allowed width using the `%Cn` mortran flag, the Mortran 3 guide specifies that `n` must be between 10 and 80. We will no change the mortran source code at this point; but we are looking ahead to port everything to C++, eventually.

[2016-02-10 17:02] mainegra commented on #36
While it is true that the EGS User Guide to Mortran3 in the EGSnrc user's manual PIRS-701 (SLAC265 - APPENDIX 4) states that the line length can be increased up to a maximum of 80 characters, one can actually go beyond this limit according to the original Mortran3 User's Guide by A. James Cook. The directive `%Cn` tells the Mortran3 pre-processor to interpret `n` characters as program text. Howeve

[2016-02-13 03:28] mstoeckl commented on #32
It might be that OS X handles repainting/buffering differently, and so needs full repaints, even if they do waste CPU. Does changing:

         bool wasRerenderRequested = rerenderRequested;

in `image_window.cpp` to

         bool wasRerenderRequested = true;

fix the issue?

[2016-02-14 04:06] lmmonline commented on #34
To get xmgrace working I had to install XQuartz and leave its terminal open. I also needed set the environment variable DISPLAY=:0

[2016-02-16 12:26] Abdullah-Abuhaimed opened #39 "Unable to compile BEAMnrc"
I have installed the new version in 2 machines (Mac) and (Linux). I am having an issue in compiling jobs in BEAMnrc code. I have this issue in both the systems. Here is the error for compiling one of the BEAMnrc examples that have been distributed with EGSnrc.
[code]

Please note that I have tried to compile different jobs some of which were running successfully in the old version, but still havin

[2016-02-16 15:43] crcrewso commented on #36
Thank you

In past releases we've had to manually change the mortran on some applications and recompile to allow 90+ character names. Making the limit 132 ( which I believe would be effectively 124 + extensions) would be fantastic.

[2016-02-16 16:55] ftessier commented on #39
You need to pull commit 76006b8 or else fix the line in `beamnrc.mortran` which was longer than 80 characters.

[2016-02-16 23:16] Abdullah-Abuhaimed commented on #39
Thanks Frederic,

I fixed the line and things worked properly.

[2016-02-16 23:16] #39 closed

[2016-02-17 18:57] ftessier commented on #32
Indeed setting `bool wasRerenderRequested = true;` in `image_window.cpp` solves the problem in OS X, thank you, I will implement the fix.

[2016-02-17 19:03] #32 closed

[2016-02-23 20:16] ftessier opened #41 "Position sampling bug in cylinder shape"
When defining a cylinder shape with a midpoint away from the origin, the midpoint translation is applied twice, e.g., entering `midpoint = 0 0 1` causes points to be samples incorrectly around `0 0 2`. This is because the translation `xo` to the midpoint is [included in the shape's affine transformation](https://github.com/nrc-cnrc/EGSnrc/blob/b46f8cca1f8e005f853048bfe2107cd15163c632/HEN_HOUSE/egs

[2016-02-24 18:49] #41 closed

[2016-02-25 17:30] mchamberland opened #42 "Position sampling bug in egs_shape_collection"
When defining an `egs_shape_collection` composed of cylinder shapes with midpoints away from the origin, the midpoint translation is not applied.

Here is a simple `egs_chamber` input file which reproduces the problem. Remove the `.txt` extension, run `egs_chamber -i shape_collection_midpoint` and view tracks with egs_view to reveal the problem.

[shape_collection_midpoint.egsinp.txt](https://gith

[2016-02-25 19:26] #42 closed

[2016-02-25 19:26] ftessier commented on #42
No worries, I did not realize myself at the time that the midpoint was already taken into account by an affine transformation. The underlying issue with the shape collection is that it calls the function `getPoint` for each shape in the collection, where it should call `getRandomPoint` which properly applies the affine transformation of the shape after sampling the point.

[2016-02-25 21:04] mainegra opened #43 "Bug in *.io files of MORTRAN user codes"
When EGSnrc reads the `*.io` files looking for pairs `unit extension` per line, it also checks for comments by checking whether the first character of a line starts with `#`. This very simple check will fail if there is a blank line which is the case now in the first line of all `*.io` files.

The affected files in `$EGS_HOME` and `$HEN_HOUSE/user_codes` are:
[code]
and the default io file for BEA

[2016-04-01 16:48] ftessier opened #48 "Commit a7a1a29 has broken pegsless runs"
After commit a7a1a29 it is no longer possible to launch jobs in pegsless mode interactively. The code stops complaining it cannot find the pegs4 file with an empty name. This commit has also been cherry-picked to the master branch in commit e9ffe17, so it will have to be fixed there as well.

[2016-04-07 09:54] ojalaj opened #49 "IAEA phase space files compiled after addphsp"
With the `develop` branch of EGSnrc2016 from April 1st I get the following error message when using `addphsp` to concatenate the IAEA phase space files from my test simulations:

[code]

The distribution is installed on a Linux cluster (Scientific Linux 6.7) as per the GitHub Wiki instructions with gfortran/gcc/g++/make using the shell script with default options (I'm more than happy to send the c

[2016-04-07 13:10] blakewalters commented on #49
Try going into $OMEGA_HOME/progs/addphsp and re-make addphsp (you may have to remove the .f file to force the recompile).  There's a bug in the installation script: the iaea phase space libraries are currently compiled AFTER addphsp.

[2016-04-07 16:44] crcrewso opened #50 "Phase-space and other file locations cannot be specified with a relative path"
It would be great if the file locations of phase spaces and other files could be linked relatively or at least through the `$EGS_HOME` and `$HEN_HOUSE` variables. It would make switching between a prototype and production system much easier. This could be flagged as a product improvement request.

[2016-04-07 17:22] ojalaj commented on #49
Thank Mr. Walters - your suggestion worked. I've always thought that 'make clean' prior to 'make' would do the job, but obviously it is not enough.

[2016-04-08 06:00] ojalaj opened #51 "Parallel BEAM simulations end with failed job when outputting IAEA phase space files"
With the  `develop`  branch of EGSnrc2016 from April 1st (and actually with BEAMnrc 2013 as well) when I run a parallel BEAM simulation outputting IAEA phase space files, all the other jobs finish OK, but the last one running always fails with segmentation fault (.io file) (EXIT CODE 139). However the last job is almost finished i.e. phase space file is produced, `.egslog` and `.egslst` files are

[2016-04-09 19:10] crcrewso opened #52 "Add memory request option to exb and other queue suggestions"
When submitting jobs from multiple users with multiple purposes we sometimes need to explicitly declare the memory required per job. This has been done by editing the `batch_options.pbs` file before running `exb`. I've read a few issues leading me to think that some major batch configuration work is in the near future, and as such i'd like to add this as a feature request.

As I am not a developer

[2016-04-12 17:46] ftessier commented on #52
Thank you for your suggestions @crcrewso. Indeed it is high time to overhaul the job submission scripts. I personally use a python script which in addition can loop over input file parameters etc., which proves extremely useful. The current script is very dated, any one is welcome to propose a modern and more flexible implementation!

[2016-04-14 14:40] ftessier opened #53 "Make command not found on Windows when compiling from the dosxyznrc GUI"
On Windows 10 (and presumably other versions of Windows), trying to compile `dosxyznrc` on from the GUI causes a fatal error: `couldn't execute "make": no such file or directory`. This is likely due to the fact that when using MinGW, the `make` command is in fact called `mingw32-make`. There should be a generic `make` command made available via the EGSnrc configuration on Windows.

[2016-04-14 15:06] ftessier commented on #53
@mainegra says: In the config file `%EGS_CONFIG%` there is a variable called `%make_prog%` which should be used when invoking make from any GUI.

[2016-04-14 15:15] crcrewso opened #54 "Windows Subsystem for Linux (WSL)"
This is the start of a WSL compatibility discussion for EGSnrc, If there are specific requests for certain functionality tests, please reply below.

After last week's announcement of the new, Microsoft supported method of getting Bash on windows I played around with it for a bit. The great news is that all of the command line utilities appear to work, and the only flaws related to the expected lac

[2016-04-14 15:27] crcrewso commented on #53
May I suggest that we add a documentation change to the install guide explicitly listing installing the official version of make for windows (or cmake) with notes about how to add each to the path. It's a lot easier than ming/cygwin for people who have not seen these systems before.

[2016-04-14 15:33] ftessier commented on #54
Thank you @crcrewso! The advent of a native bash shell and the ability to run ELF binaries directly within the Windows Subsystem for Linux bodes very well for EGSnrc on Windows! We are very interested to hear more on your testing efforts, please keep us up to date. We are looking forward to maintaining a single set of files and configuration scripts on all platforms.

[2016-04-14 15:36] ftessier commented on #53
We could if it works. The problem is that as far as I remember some EGSnrc makefiles rely in part on specific `GNU make` extensions. Unless you can confirm that they work with other versions of make with minimal modifications (and then again soon we'll be using GNU make on WSL!)

[2016-04-14 16:46] crcrewso commented on #53
Here's the version I found which appears to be some good samaritan compiling the official code to a windows executable. I copied it to the Program Files/make directory and added the location to my path. [http://www.equation.com/servlet/equation.cmd?fa=make](url)

I spoke too soon about cmake, That one was only tested on the WSL and being the Ubuntu version might have had some compatability flag tu

[2016-04-14 17:05] ftessier commented on #53
We are going to leave things as is for now, since users must install the GNU tool chain anyhow.

[2016-04-14 17:05] ftessier commented on #53
The issue has been resolved by @blakewalters in f8ed335

[2016-04-14 17:05] #53 closed

[2016-04-26 17:49] crcrewso opened #57 "dosxyznrc .egslst files not generated"
I just migrated a cluster from Egs circa 2012 to EGSnrc 2016.

Upon doing so an old egsinp (read unmodified) that had previous to the migration produced an egslst no longer does so.

I found this in testing but thought it was a configuration issue on my test system. As this is a clean install from git I am now starting to think that it might be a regression with the dosxyznrc code.

What informati

[2016-04-26 18:46] blakewalters commented on #57
Hi:

Can you attach the .egsinp file that's giving you trouble.

Thanks,
Blake

[2016-04-26 20:14] crcrewso commented on #57
Here is the input and the results of the run

[sample for dosx.zip](https://github.com/nrc-cnrc/EGSnrc/files/237402/sample.for.dosx.zip)

[2016-04-26 20:38] blakewalters commented on #57
There's no problem with your .egsinp file.  Try going into $EGS_HOME/dosxyznrc and deleting the blank line at the top of file dosxyznrc.io (where unit numbers are assigned to their "proper" output names).  Let me know if this works.

[2016-04-26 20:47] crcrewso commented on #57
Perfect that worked. As I overwrote my *.io with the one from HEN_HOUSE after the installation should the HEN_HOUSE copy be modified?

[2016-04-26 20:48] ftessier commented on #57
This blank line is an issue #43 reported by @mainegra. I don't want to take these blank lines out unless there is no other way;  @blakewalters, is it possible to modify the code to allow blank first lines in `.io` files?

[2016-04-28 18:31] mchamberland opened #58 "Segmentation fault in pegsless mode when AE = UE"
In pegsless mode, a segmentation fault occurs if AE = UE.

See the simple input file below, which should be run with egs_chamber in pegsless mode.

[pegsless.txt](https://github.com/nrc-cnrc/EGSnrc/files/241191/pegsless.txt)

I know this is a weird edge case, but I figured there might be a better way to handle this than segfaulting. Maybe an error message and exiting?

[2016-04-28 19:11] ftessier commented on #58
This one has your name on it @blakewalters!

[2016-04-29 20:19] mchamberland opened #60 "Pegsless mode cannot read density correction files when using material.dat file"
Density correction files fail to be read when using a `material.dat` file in pegsless mode. See the sample material and `egs_chamber` input files below. There is no problem when the material is directly defined in the input file, with or without a density correction file.

[material_short.txt](https://github.com/nrc-cnrc/EGSnrc/files/243150/material_short.txt)
[pegsless_material_file.txt](https://

[2016-04-29 20:24] ftessier commented on #60
Thank you for reporting this problem; @blakewalters can you check into this?

[2016-05-02 20:17] blakewalters commented on #60
Hi Marc:

I think I found the source of this problem, but to make sure, could you go into your $HEN_HOUSE/src/get_media_inputs.mortran file and look for the code:

        IF(mindex>0 & eindex>mindex)[
         "remove everything up to ="
         text_string=text_string(eindex+1:);

Change this to:

        IF(mindex>0 & eindex>mindex)[
         "remove everything up to ="
         text_string=te

[2016-05-02 21:21] mchamberland commented on #60
@blakewalters, yes this fixes the problem. Thanks!

[2016-05-03 12:15] ojalaj opened #64 "Radiative Compton corrections warning in .egslog, but not in .egslst"
I've enabled radiative compton corrections as instructed in the manuals. When performing a DOSXYZnrc run, a following warning is printed in `.egslog` file:
[code]
but not in `.egslst file`. However, it is `rad_compton1.mortran` that I've included in the `Makefile`, not `rad_compton.mortran`. Which one is correct and is it running correctly? For accelerator models, is `sources.make` the correct fil

[2016-05-03 13:29] ftessier commented on #43
Fixed in c89f8ff

[2016-05-03 13:29] #43 closed

[2016-05-03 13:29] ftessier commented on #57
Fixed in c89f8ff

[2016-05-03 13:29] #57 closed

[2016-05-03 13:29] ftessier commented on #58
Fixed in c89f8ff

[2016-05-03 13:29] #58 closed

[2016-05-03 13:29] ftessier commented on #60
Fixed in c89f8ff

[2016-05-03 13:29] #60 closed

[2016-05-03 20:21] ftessier opened #65 "Change "user code" to "application" everywhere"
The term "user code" to describe EGSnrc programs is antiquated and confusing. I suggest we change all instances to refer to "application" or "app" in the code and in the documentation, a concept which is nowadays well understood. There are currently 1560 hard-coded references to "user code" in the repository (about a third of that being in the documentation), which are easy to find:

[code]

(Ther

[2016-05-04 15:45] mainegra commented on #64
Hi @ojalaj, you need to add `$(EGS_SOURCEDIR)rad_compton1.mortran` just before $(EGS_SOURCEDIR)get_inputs.mortran in your Makefile to void the macro $RADC_WARNING which issues the warning message you are seen and also sets radc_flag to 0. The warning message has a typo since it refers to `rad_compton.mortran` when it should be `rad_compton1.mortran`. I realize that the EGSnrc manual states that `$

[2016-05-04 17:29] mchamberland opened #66 "switch_config alias is not defined correctly in the egsnrc additions scripts"
[Line 80](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/scripts/egsnrc_bashrc_additions#L80) of `egsnrc_bashrc_additions` and [Line 69](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/scripts/egsnrc_cshrc_additions#L69) of `egsnrc_cshrc_additions` improperly use the undefined `$hen_house` variable to define the `switch_config` alias. The variable name should be capitalized.

[2016-05-04 17:37] ftessier opened #67 "Inconsistent pegs4 density correction file paths"
## Issue

The paths for user-supplied pegs4 density correction files is inconsistent across EGSnrc:

1. `HEN_HOUSE/scripts/configure` creates a `egs_home/pegs4/density` directory
2. `get_media_inputs.mortran` looks in the `egs_home/pegs4/density` created during configuration (since commit b53023b)
3. but `pegs4.mortran` (and thus `egs_gui`) looks for density correction files inside `egs_home` path

[2016-05-04 19:10] blakewalters commented on #67
I see the same behaviour and clearly this is a bug.  As far as changing the names of the subdirectories off $EGS_HOME/pegs4 in which density correction files are stored to mirror the $HEN_HOUSE/pegs4 structure, I'm not sure that's necessary: Just thinking about how users may elect to store their own custom .density files, it's more convenient to just collect them all in a single directory rather t

[2016-05-04 19:12] ftessier commented on #67
Yes, absolutely, this is what I suggested above:

3. pegs4.mortran searches `egs_home/pegs4/density_corrections` (**without** the `elements` or `compounds` sub-directories)

[2016-05-04 20:30] blakewalters commented on #67
How about backward compatibility (i.e. users who are used to pegs4.mortran finding their .density files in $EGS_HOME/pegs4/density_corrections/elements and $EGS_HOME/pegs4/density_corrections/compounds)?  pegs4.mortran has been around for quite awhile now.

[2016-05-04 20:34] mainegra commented on #67
I always keep my density corrections files in `$HEN_HOUSE/pegs4/density_corrections`. But of course in a centralized environment this could be tricky. And updates to a $HEN_HOUSE could delete files created by the user.

[2016-05-04 20:40] ftessier commented on #67
Fair enough. However as far as I can tell the configuration script never created those directories, users would have have to create them by hand; hence this bug would officially be backwards compatible (!) Perhaps the best solution is to look for the `compounds` and `elements` sub-directories _as well_? In fact, ideally we would recursively find **all** `.density` files under `density_corrections`

[2016-05-04 20:43] ftessier commented on #67
We should strive not to modify anything manually under HEN_HOUSE, although for the time being to avoid the current issue putting your density correction files there is the best workaround. The other temporary solution under the current release is to change the name of `egs_home/density` to `egs_home/density_corrections` and create the `compounds` and `elements` sub-directories. But that **breaks**

[2016-05-04 21:35] blakewalters commented on #67
Here's where pegs4.mortran searches for the .density file (in this order):
1. current directory (presumably for the case where the entire path to the file is specified)
2. $HEN_HOUSE/pegs4/density_corrections/elements
3. $HEN_HOUSE/pegs4/density_corrections/compounds
4. $EGS_HOME/pegs4/density_corrections
5. $EGS_HOME/pegs4/density_corrections/elements
6. $EGS_HOME/pegs4/density_corrections/compou

[2016-05-04 22:18] ftessier commented on #67
Agreed with your proposed search order and backward compatibility.

I had missed the check for the current directory, which explains why `egs_gui` succeeded when launching from the directory where the `.density` file is stored. While this is arguably useful, in my case it was confusing because sometimes for the same file it worked, and sometimes not, depending on where I launched `egs_gui` from!

[2016-05-04 23:14] blakewalters commented on #67
Alright.  If @mainegra's okay with it I can fix up egs_gui as well!

[2016-05-04 23:16] mainegra commented on #67
Go for it @blakewalters!

[2016-05-04 23:27] ftessier commented on #67
**git branch -b** in my previous post!!! Create a new branch, not delete it!!

[2016-05-05 02:33] lichuanlong opened #70 "Unknown float option 'r' when compiling PIRS-701"
When compiling `pirs701-egsnrc.tex`, there is an error on [line 2009](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/doc/src/pirs701-egsnrc/inputs/new_um_app2.tex#L2009):

[code]

[2016-05-05 17:06] crcrewso opened #72 "clean_after_parallel"
When running `clean_after_parallel` I noticed the following behavior. It looks like the indices for the inputs are not lining up with `addphsp`'s expectations. I got the same behavior when either leaving the defaults as they are or manually entering in the parameters.
[code]

[2016-05-05 17:21] crcrewso commented on #65
I agree that user code might be confusing and intimidating but I'm not sure about app or application.

May I suggest (as a discussion starting point) using <user?> environment for  EGShome  and tools for BEAM, dosxyznrc etc. with scripts for all those tiny helpful applets like exb and clean_after_parallel.

[2016-05-05 17:31] crcrewso commented on #54
The Fast ring is a bit unstable for the rest of my work and the known nano issue with the current WSL system is driving the current fast ring community a bit bonkers (I know I know, not using vim is a sin) so I'm going to delay further testing until the summer release of the stable environment. I'll keep checking on this thread if people want to submit specific test requests.

[2016-05-05 17:32] ftessier commented on #65
Thanks. The long term outlook is to port EGSnrc entirely ported to C++, at which point every simulation will indeed be an application derived the egs++ class library, for a specific task. So I think "application" is appropriate.

Not sure what you mean by "using environment". We are already defining a large amount via the environment using `egsnrc_bashrc_additions`.

As for the little utilities, i

[2016-05-05 17:35] rtownson commented on #65
I've heard complaints about the term 'user code' being confusing a number of times. I favor 'application' as being very clear. If I were searching for DOSXYZnrc and saw the folder structure, certainly I would look in 'applications' first. I'm not so sure about 'tools'.

[2016-05-05 17:41] randlet commented on #65
I'll add my +1 for the term "application" as well, makes a lot of sense to
me.

On 5 May 2016 at 13:35, Reid Townson <notifications@github.com> wrote:

[2016-05-05 17:57] ftessier commented on #54
Sounds good, we are looking forward to hearing back on the stable release!

[2016-05-06 00:46] crcrewso commented on #72
I think I solved it. @blakewalters, does this make sense???

I Changing one line in clean_after parallel from

addphsp $p1 $p2 $p3 $p4

to

addphsp $p1 $p1 $p2 $p3 $p4

(I'd send in a pull request but alas my dev box is not with me right now)

[2016-05-06 03:58] blakewalters commented on #72
This makes sense.  The second input to addphsp is the base of the output file name, which, in this case, should be the same as the base of the input file name.

[2016-05-06 14:41] mainegra opened #74 "Mismatch between the type for external spectrum file and intrinsic spectrum definition"
@Klunkerball recently reported differences when using an externally defined tabulated spectrum in `mode` 2 compared to an intrinsically defined tabulated spectrum with `spectrum type` 2. Although the documentation leads one to believe that the type for the external and intrinsic `EGS_TabulatedSpectrum` are equivalent, they are actually **NOT**!!!

In the case of an external file the `type` input i

[2016-05-06 14:42] crcrewso commented on #72
I just noticed that this version breaks if the user inputs anything other than default for the collection name. I've sent in a pull request using the tested solution addphsp $1 $p1 $p2 $p3 $p4 which relies on the command line input for the initial egsinp name.

[2016-05-09 22:19] crcrewso commented on #22
This issue got me thinking (dangerous I know). While I used NIST a great deal for reference values I seem to remember that the particle data group is now the accepted source of oversight for subatomic masses. What does the group think about using the PGD citation instead of NIST?

http://pdglive.lbl.gov/Particle.action?node=S003

[2016-05-10 00:16] mchamberland commented on #22
[PDG uses the CODATA dataset](http://pdg.lbl.gov/2015/reviews/rpp2015-rev-phys-constants.pdf) and actually cite CODATA/NIST. Problem solved!

[2016-05-10 00:33] ftessier commented on #22
Thank you for the comments. Interesting!

[2016-05-10 15:01] crcrewso commented on #22
That was a rabbit hole! I didn't even know about CODATA.

[2016-05-10 18:18] ftessier commented on #72
@blakewalters can you vouch for the fix proposed in PR #75?

[2016-05-10 21:38] #74 closed

[2016-05-10 21:38] #66 closed

[2016-05-10 21:39] #64 closed

[2016-05-13 15:29] mchamberland opened #82 "Unnecessary warning when lowest energy input for density correction is equal to AE"
This is just a minor inconvenience. When the lowest energy input for the density effect is exactly equal to AE, a warning is output saying that it is higher:

 *_**LOWEST ENERGY INPUT FOR DENSITY EFFECT IS 5.120E-01
                   WHICH IS HIGHER THAN THE VALUE OF AE= 5.120E-01 MEV
 *__IT HAS BEEN SET TO AE_**

It would be nicer to only output a warning if the lowest energy input is strictly l

[2016-05-17 23:49] mchamberland opened #83 "Bug in CD geometry's howfar"
[Line 525](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/egs%2B%2B/geometry/egs_cd_geometry/egs_cd_geometry.h#L525) in egs_cd_geometry.h should read:

`
ibase_n = bg->howfar(ibase_n,xtmp,u,tb,pmednew,pn);
`

because the next line uses `ibase_n` to check if we're entering the base geometry or not. This resolves a subset of long-standing CD geometry errors.

[2016-05-18 07:19] ojalaj opened #85 "NaNs in user-generated .pegs4dat file"
Hello.

With following `.pegs4inp` file I get NaNs in the generated `.pegs4dat` file:
[code]
Is this normal? At least it crashes the simulations. I've never seen this before, when using pegs4.

PS: Issue #67 also has an effect, when using from command line (at least I wasn't able to succeed in generating .pegs4dat with density corrections). I haven't tested yet if fix #80 help, but will do it, whe

[2016-05-18 12:01] ftessier commented on #85
NaNs in pegs4 files can arise due to the `-ffast-math` compiler flag when compiling the `pegs4` executable. Go inside your `$EGS_CONFIG` file and remove `-ffast-math` from the Fortran compiler flags, then go in `$HEN_HOUSE/pegs4` to compile using `make clean` and `make`.

[2016-05-18 12:13] ojalaj commented on #85
I tried and NaNs are no longer present - thank you.

The reason why I haven't seen these before might be that I've previously generated all the pegs4 data in a Windows-based EGS/BEAM distribution, so this flag might not be there and/or something else has prevented NaNs from being generated. Since -ffast-math flag was suggest during configuration by default, could this kind of issue be worth mentio

[2016-05-18 12:15] ftessier commented on #83
Nice catch @mchamberland, this might just be it! On a related note, in the same code section @mainegra, why is the hard-coded 1e-4 cm considered small enough? Seems large for micron size simulations... Why not 1e-8 cm? If an atomic size fuzz is a problem, then the algorithm is not appropriate anyways.

[2016-05-18 12:26] ftessier commented on #85
Good point. The flag is not suggested when using `$HEN_HOUSE/scripts/configure`, but I see it in the GUI configuration tool; @mainegra can you remove the `-ffast-math` default for the Fortran compiler in [`egs_tools.cpp`](https://github.com/nrc-cnrc/EGSnrc/blob/4fb7c06fb8b262834132d2860a8b015e03d7e5b3/HEN_HOUSE/gui/egs_configure/egs_tools.cpp)?

[2016-05-18 12:35] mainegra commented on #83
@ftessier hard-coded values like this one can be found all over the geometry library. This is why I proposed using a general epsilon that could be set for all geometries and remove all the hard-coded limits. One could then allow users to re-define the default value for epsilon depending on their world's dimensions. BTW such an epsilon is already in place in the base geometry class. It is just not

[2016-05-18 12:41] ojalaj commented on #85
Some further suggestion/question - if you are aware some kind of behaviour, which is due to using/not using some options/flags, for compilers that you suggest to be used as default, could you mention them in the documentation and/or in the configuration phase? I know that there are many different compilers available and you can't support them all 100%, but at least for the recommended ones. E.g.fo

[2016-05-18 12:49] ftessier commented on #83
Good idea! Indeed we ought to clean this up. Let's open the general epsilon approach as a separate issue (enhancement).

[2016-05-18 12:52] mainegra opened #86 "Use a default epsilon to check for geometrical round-off errors"
- Use a default epsilon and remove all the hard-coded limits.
- Allow users to re-define the default value for epsilon depending on their world's dimensions.
- Set default value to 1e-10 m.

[2016-05-18 12:56] ftessier commented on #85
Ideally yes, but there such a long list of compiler flags, this is not practical. Our approach is to propose a very minimal set of compiler flags that are expected to work across the board for most users, and let more advanced users tweak their compilers as they see fit. This is standard practice.

[2016-05-18 12:58] ojalaj commented on #85
OK - I fully understand and agree. Thank you!

[2016-05-18 13:08] mainegra commented on #85
This issue might be caused by a specific version of the GNU Fortran compiler which may show in one OS and not in the other. Up until recently `-ffast-math` did not cause any problems. It was good to have as it did produce faster code. We could be cautious and stop suggesting optimization options leaving it up to the users. The downside of this could be having users never looking into exploiting th

[2016-05-18 13:14] ftessier commented on #85
Agreed. This particular problem with `-ffast-math` and pegs4 has come up a number of times recently, so I suggest we remove it from the suggested default in the configuration tool. Ideally we could figure out why it causes NaNs in the first place and fix pegs4 accordingly. Are you up for this @blakewalters?

[2016-05-18 13:16] mainegra commented on #85
Perhaps is the compiler that needs fixing? In which case there is nothing that can be done in pegs4. But maybe worth taking a peek.

[2016-05-18 13:18] blakewalters commented on #85
I can take a look at it.

[2016-05-18 13:33] ftessier commented on #85
You can try expanding the individual options invoked by `-ffast-math` to find the culprit, which might give a clue as to what part of the code is failing under non-strict IEEE compliance.

https://gcc.gnu.org/onlinedocs/gcc-5.3.0/gcc/Optimize-Options.html#Optimize-Options
[code]
My guess is `-ffinite-math-only`; bets are open!

[2016-05-18 13:42] mchamberland commented on #83
Just an FYI, in case you forgot (and because I've been delving into those issues lately): the egs_stack_geometry already implements a `tolerance` input. You may want to harmonize it with the rest once you have the general epsilon implemented.

Also: I've got two more improvements / fixes to CD geometry to propose, but I'll need your feedback to make sure my fixes are appropriate. Should I just ope

[2016-05-18 14:03] ftessier commented on #83
Yes, please open pull requests (or add it to your previous one if your improvements are related). We will have little time until mid-June, but it is best to open issues and requests before we forget!

[2016-05-18 16:19] lichuanlong opened #88 "choose 1 or 2 can't compile user code when configure."
when configure, choose 1 or 2 compile failed.

[2016-05-18 16:33] lichuanlong opened #89 "can't find qmake"
[code]

In ubuntu 14.04 maybe `qmake` is `/usr/lib/x86_64-linux-gnu/qt4/bin/qmake` or `/usr/lib/x86_64-linux-gnu/qt5/bin/qmake` but EGSnrc can't find it.

[2016-05-18 17:30] rtownson commented on #89
In ~/.bashrc try setting an environment variable $QTDIR, then start a new terminal.

For example:
export QTDIR=/usr/lib/x86_64-linux-gnu/qt4

[2016-05-18 17:35] rtownson commented on #88
Can you provide more information? Did you follow the steps on the installation instructions?

https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-Linux

[2016-05-18 19:45] blakewalters commented on #85
Just back from taking a look in pegs4.mortran.  I've found that the NAN values for cross-sections are traceable to an Infinite value of the parameter, VPLASM=SQRT(EDEN*R0*C**2/PI), which, in turn results in +/- Infinite values of the parameters, CBAR, and AFACT.  At this point, I'm not exactly sure what the physical meanings of VPLASM, CBAR, AFACT are.  Numerically, however, when -ffast-math is tu

[2016-05-18 19:49] blakewalters commented on #85
I mean: VPLASM=SQRT(EDEN*R0*C**2/PI) which should be recast as VPLASM=SQRT(EDEN/PI*R0*C**2).

[2016-05-18 21:41] ftessier commented on #85
Awesome!!

Thanks!

Frédéric.
On Wed, May 18, 2016 at 15:49 blakewalters <notifications@github.com> wrote:

[2016-05-19 03:26] ftessier commented on #88
It seems that you don't have compilers installed, or they are not in your path. You can look inside the configuration log files in `$HEN_HOUSE/logs` for more details on the problem, or else go inside one application directory, say `$EGS_HOME/examin` and issue the `make` command to see why it fails.

[2016-05-19 03:26] #88 closed

[2016-05-19 03:29] #89 closed

[2016-05-19 07:38] ojalaj opened #90 "'WARNING in +ve/-ve bar of SYNCJAWS' & 'Please contact the NRC'"
In a parallel BEAMnrc simulation with `ISOURC=21` incident on the top of geometry starting with SLABS (0.2 cm), then SYNCJAWS (checked that parameters in sequence file not overlapping with CMs above of below, with air gaps ~1 cm and ~0.5 cm, respectively) and then another SLABS (0.1 cm) and other CMs, I get hundreds of negative usteps with following warning:

[code]

Well, now I'm contacting NRC.

[2016-05-19 08:46] lichuanlong commented on #89
I have made a symbol link in /bin/ name qmake linking my qt4 qmake.
But I think it is not a fine way to fix it, because it is automatic.
In my opinion EGS should find it by itself.
So I post it here.

[2016-05-19 08:56] lichuanlong commented on #88
In configure-linux-lcl.log there are the logs.
and i have compile edknrc in $EGS_HOME/edknrc and run it. but in ./configure choose 1 , all usercode compile failed.

[2016-05-19 10:17] lichuanlong commented on #88
I find it.
in ubuntu sh link to dash not bash. default shell is not bash.

so compile_user_code the first line #!/bin/sh change to #!/bin/bash
may fix it.

[2016-05-19 13:29] blakewalters commented on #90
Hi Jarkko:

Any chance you could attach the .egsinp file that's causing this warning.

Thanks!

[2016-05-19 16:59] ojalaj commented on #90
Hi! Did you get my email?

[2016-05-19 19:44] ojalaj commented on #90
Hi! Did you get my email?

[2016-05-23 12:32] ojalaj commented on #90
I've sent you example files.

[2016-06-01 15:07] randlet opened #97 "Infinite loops in CD_Geometry"
We have a problem where very rarely (i.e.  ~ 1/10E9 histories) the code is getting stuck in an infinite loop in [this code block in CD_Geometry](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/egs%2B%2B/geometry/egs_cd_geometry/egs_cd_geometry.h#L611-L687).    This occurs less frequently after the fixes from @mchamberland's CD geom pull requests are applied but still is causing us some is

[2016-06-02 01:29] lichuanlong commented on #85
gfortran5.3 has no problum. But gfortrn4.8 compiling pegs4.exe has NaNs.

[2016-06-02 06:46] ojalaj opened #100 "EGS_GUI & PEGS4 not working, when generating data for compound with density effects"
Since the issue #67 and the fix #80 are in progress, the PEGS seems not to work correctly on command-line either, so I tried to generate PEGS data through EGS_GUI for water with AE=0.512 using the density effect correction file found under the distribution (copied first the file to `$EGS_HOME/pegs4/density_corrections/`).

After selecting the density correction file the GUI for some reason chose t

[2016-06-02 13:45] rtownson opened #101 "Negative energies in iwatch"
`iwatch` shows Auger electrons with apparent negative energies after Moller. Sample `egslog` and `egsinp` files available upon request.

The following block is the culprit in the `iwatch` routine:
[code]
should be as follows, which at least doesn't list a photon as an electron with negative energy:
[code]

Perhaps a correction to PIRS701 is also called for since it refers to all particles as the r

[2016-06-02 14:08] crcrewso commented on #101
Would this trigger negative usteps in the middle of a simple simulation volume?

[2016-06-02 14:20] ftessier commented on #101
No this is stricly a "display" bug in the `IWATCH` routine.

[2016-06-04 13:26] mchamberland commented on #86
I have a proposal: make the epsilon variable non-static, so that users can set epsilon on a per geometry basis, similar to the `tolerance` input from `EGS_StackGeomery`.

[2016-06-09 07:04] syedbasim opened #104 "BEAMnrc Phase Space File Termination on Windows 7 machine"
After successful installation of the EGSnrc 2016 on a 32 bit Windows 7 machine, I am having issues with the BEAMnrc simulation as follows:

Simulating a linac head with limited number of histories say less than a million (where the phase space file is around 2 GB) has no issues. Once the phase space size exceeds this value the simulation fails. I am attaching a snapshot including the one from the

[2016-06-09 17:10] gwu-reflexionmedical opened #105 "Error when defining geometry using the egs++ library"
I am writing a customized geometry to model a primary collimator in a linac system. The idea is model the collimator as a cylinder, and inscribe a collimated beam inside with medium of air. The shape of the beam, however, is not a regular pyramid, the left-right sides and the front-back sides form two virtual apexes. Virtual apex for the x-z plane is 10 mm above the target, but the virtual source

[2016-06-09 17:13] gwu-reflexionmedical commented on #105
:start geometry definition:
    ################################# the planes
	:start geometry:
        library = egs_planes
        type    = EGS_Zplanes
        positions = 74 82
        name    = planeZ
    :stop geometry:

    ################################ the pyramid
    :start geometry:
        library = egs_pyramid
        type    = EGS_PyramidZ
        name    = pyramid
        points  =

[2016-06-09 22:00] mchamberland commented on #105
Just for your information: GitHub is not the place for this type of issues. This area is restricted to reporting bugs in EGSnrc.

Your problem is not a bug with EGSnrc, but with your definition of the geometry. There are a couple of typos (`EGS_planes` should be `EGS_Planes`, `normals` should be `normal`) and I think you may have made a mistake in your pyramid definition (it does not have a flat r

[2016-06-09 22:35] gwu-reflexionmedical commented on #105
Hi Marc, I fixed the code based on your suggestion, and it still did not work. The error message said
"Fail to find a point that is inside the geometry"

The pyramid has a flat base, which is defined by the EGS_Zplanes at z = 74 cm. I set the medium during the first cut (planeZ) but I guess I will need to set it again in every cut?

[2016-06-09 23:31] mchamberland commented on #105
Check your second plane again. Are you sure about its position?

[2016-06-09 23:54] gwu-reflexionmedical commented on #105
The position is correction.

I think what happened is egspp geometry package is sensitive to the normal of the plane. It only keeps the region in the normal direction. It seems like that I used the opposite normal. When I switched to negative normal with a negative position, the code works.

I would suggest the author put this info in the online documentations. It might be somewhere in the 898 man

[2016-06-10 00:01] mchamberland commented on #105
Yes, this is all covers in PIRS 898: http://nrc-cnrc.github.io/EGSnrc/doc/pirs898/classEGS__PlanesT.html

[2016-06-10 00:04] gwu-reflexionmedical commented on #105
So there is one interesting question, what should the user do if they want to keep the other part using the plane, given EGSpp only takes one normal direction and keep the normal side of the object

[2016-06-10 17:58] mchamberland opened #106 "Geometry errors when pyramid or prism is inscribed in composite geometry"
Another CD geometry error issue from me, what a surprise!

Create a prism or a pyramid. Inscribe it in a CD geometry (for example, use a box as the base). Envelope the CD geometry in a box. Look at the geometry in egs_view and you'll notice _tons_ of geometry errors. See the input files for tutor7pp below.

I know where the code is getting confused: when a particle is sitting on one of the sides o

[2016-06-20 16:05] vahx129 opened #108 "egs++ simulation hangs when multiple BEAM sources reference same source phase space"
egs_chamber hangs on a particular set of circumstances involving the source definition containing multiple BEAM simulation sources.

In the example, a linear accelerator is modeled using an above jaws phase space and multiple BEAM simulations with dynamic jaws/MLC configurations which themselves results in below jaws phase spaces.

Ultimately, a patient treatment delivered to a chamber geometry co

[2016-06-20 19:05] ftessier commented on #85
@blakewalters, can you fix this in pegsless mode as well? @mainegra reports having the same issue with pegsless, when compiling with optimization turned on.

[2016-06-21 16:40] vahx129 commented on #108
I wanted to clarify the issue a bit further as I've learned a bit more about it. The cause of the particles running out issue likely has to do with the following message seen in the log file of the run:

One more details worth mentioning comes directly from the .egslst file from a hung run where multiple BEAM simulations were referencing the same above jaws phase space and showed the following mes

[2016-06-21 16:52] marenaud commented on #108
I think this bug is unrelated to egs++ in the sense that you can get the same bogus behaviour by running a DOSXYZnrc input file in shared-BEAM library mode where the particle source for the _BEAM_ accelerator is a phase space file. Runs fine in serial mode, and hangs with the same behaviour in parallel mode.

[2016-06-21 17:10] vahx129 commented on #108
Maybe I'm not understanding the terminology properly but if this were strictly a serial mode issue, then shouldn't the local (non parallel cluster run) situation work fine?

The chain of particle sources is (from top to bottom):

Above Jaws Phase Space (1e8 particles) -> 9 Below Jaws BEAM simulations (1e7 particles) -> egs++ simulation (10,000 particles)

On a personal desktop installation (what I

[2016-06-21 17:26] marenaud commented on #108
You're right, in my DOSXYZnrc case, the simulation ran fine in serial mode since the phase space was being accessed only once, but it failed in the parallel case due to the same bug you've encountered in parallel mode (the repeated error that you mention).

I don't think it the parallel bug stems from the same issue that you're facing when you try to use multiple BEAM sources with the same phase s

[2016-06-21 17:47] vahx129 commented on #108
Thanks for the clarification. So if we just stick to the issue as it pertains to a serial run and so as not to confuse multiple issues together, let me restate the issue like this then:

In an egs++ input file with a simple geometry (box), two (or potentially more) BEAM input sources are defined in the source definition block which both come from the same user BEAM linac.

These BEAM input files a

[2016-06-21 18:00] ftessier commented on #108
Thank you for the detailed recap, and workaround, which will prove very useful when addressing the issue.

[2016-06-23 16:13] dworogers opened #109 "error in FLURZnrc for electrons near ECUT"
While calculating the slowing down spectra of e- in water with different ECUT=AE values, I found an artifact in which there was a sudden increase in the fluence immediately above the value of ECUT. This is because of how FLURZnrc allocates pathlengths to different energy bins based on an algorithm which assumes the stopping power is constant over the energy range of the step. This is incorrect, es

[2016-06-25 02:27] jantolak opened #110 "Coefficient error in subroutine msdist_pII"
In `egsnrc.mortran`, subroutine `msdist_pII` at line [4092](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/src/egsnrc.mortran#L4092), it appears that the polynomial in the denominator is incorrect. Here is the current code at those lines.

    4091    "e       = e * (1 - epsilonp*epsilonp*((6+tau*(10+5*tau))/(tau+1)/(tau+2))/24);
    4092    e       = e * (1 - epsilonp*epsilonp*(6+10*tau

[2016-06-27 19:25] mchamberland commented on #106
So it turns out that this issue is **not** limited to CD geometries. It affects any composite geometry with prisms or pyramids: CD, envelope, and union. See the simple geometry file below and the symptoms of geometry errors in egs_view. The geometry is simply the union of a prism and a box.

Anything I can do to help get this fixed? I know my way around a debugger, but as I wrote in the original r

[2016-06-28 15:45] mchamberland opened #111 "egs_view reports "too big: inf" when translating a prism in the negative x-direction"
Try viewing the following file in egs_view, which is simply a base prism which is transformed by translating it in the negative x direction. egs_view complains about `too big: inf` and does not display anything. This seems to be caused by the negative translation along x. Remove the negative sign and it displays properly.

[translate_prism_egs_view.txt](https://github.com/nrc-cnrc/EGSnrc/files/337

[2016-06-28 17:46] mchamberland opened #112 "Rotation around y-axis is in the opposite direction as rotation around x and z"
I'm not sure if this is a bug or if this is by design: rotation around the y-axis is in the opposite direction as rotation around the x- or z-axis.

[Rotation around the x-axis is defined as clockwise around the axis.](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/egs%2B%2B/egs_transformations.h#L283-L285)

[But rotation around y is the opposite.](https://github.com/nrc-cnrc/EGSnrc/blo

[2016-06-28 17:52] ftessier commented on #112
This is most likely a typo: forgot to change the sign of `sphi` for the rotation around the `y` axis. We'll fix this, thank you!

[2016-06-28 18:15] mchamberland opened #113 "Rotations incorrect for some shapes"
Rotations are not properly applied to some shapes. For example, the following should produce a line that is along `z`, but ends up producing a line at 45°.

[code]
I know this affects at the very least the line and polygon shapes, but not the box or cylinder shapes. I have not tested any more shapes.

I'm using a custom egs++ application to list the initial position of particles, so unfortunately,

[2016-06-28 18:36] #72 closed

[2016-06-28 18:49] mchamberland opened #114 "Segfault when destructing polygon shape"
The `EGS_PolygonShape` destructor tries to delete `n` triangles, but a polygon shape does not have `n` triangles, it has fewer than `n` triangles:

[Here is where `n` is set.](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/egs%2B%2B/shapes/egs_polygon_shape/egs_polygon_shape.cpp#L68)

[Here is where the triangle array is allocated.](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HO

[2016-06-28 19:00] ftessier commented on #67
Fixed in 1de38ba

[2016-06-28 19:00] #67 closed

[2016-06-28 19:01] ftessier commented on #85
Fixed in 1de38ba

[2016-06-28 19:01] #85 closed

[2016-06-28 19:06] ftessier commented on #85
Fixed in 20ff345

[2016-06-29 13:21] mchamberland opened #115 "Segfaults and other crashes due to possible floating point errors in EGS_PolygonShape / EGS_2DPolygon"
Polygon shapes are built from the triangles of a polygon. The triangles of an EGS polygon are stored in a pre-allocated array of triangle shapes. For example, a trapeze (4 sides) would only need to store two triangles.

In some cases, one more triangle than is needed ends up being created [in this block of code](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/egs%2B%2B/shapes/egs_polygon

[2016-06-29 14:58] mchamberland commented on #86
I don't know if anyone has been working on this, but just for fun, I gave it a shot. I may have open a pull request on it once I test it out a little.

[2016-06-29 15:42] mchamberland opened #116 "Unsequenced modification and access warning in egs_spectra"
[Line 766](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/egs%2B%2B/egs_spectra.cpp#L766) of egs_spectra.cpp produces a warning about "unsequenced modification and access to `ibin`" with my compiler. Looking at the line, it obfuscates the intent of the developer and may yield unexpected results. I'd suggest an alternative, but to prove my case, I don't know what was the intent here.

[2016-06-29 15:53] ftessier commented on #116
The compiler is warning you here that `ibin++` might be evaluated before `ibin` is used on the left side of the assignment. Using `ibin++` in this way is undefined in regards to the optimizer. This code is "wrong" in the sense that it will likely behave differently with different compilers, optimization level or language version. It should be replaced with:
[code]

[2016-07-01 03:24] yuehzh opened #119 "how to download EGSnrc-configure-linux"
When click the "EGSnrc-configure-linux" links to download the files ,it doesn't work.

[2016-07-01 03:32] #119 closed

[2016-07-07 10:16] ojalaj opened #121 "Error closing IAEA phase space ID 44"
When performing a DOSXYZnrc source 20 simulation, I get the above error printed in every `*.egslog` file of the synchronized phase space source simulation. Also, the lines above the message read:
[code]
which I think should be something else. Otherwise the simulation runs fine, although there is something wrong in the resulting dose distribution.

[2016-07-09 01:04] gwu-reflexionmedical commented on #106
I had the same problem. What I did was using CD in the last step, and avoid CD after another CD in a different direction.

[2016-07-18 14:00] rtownson commented on #104
You're hitting the 2GB physical memory limit for a process on 32-bit systems, so this is not an issue with EGSnrc. There may be other solutions, but simplest is to split the job into smaller runs (with different random number seeds) and combine the results.

[2016-07-18 15:42] crcrewso commented on #104
I've been thinking about this for a while. Is the simulation storing all histories until the end of the simulation? I thought (though I have not read the save code) that it was more like a queue where each saved particle is removed from active memory. If this is the case then the 2 GB memory limit should not exist. Is there a memory leak in the save code I wonder.

[2016-07-19 18:34] #83 closed

[2016-07-25 10:27] ojalaj opened #125 "Lack of sync between the MU index in DOSXYZnrc source 20"
A DOSXYZnrc source 20 simulation with IAEA phsp as source (linac beam through static treatment head components) and shared library beam simulation (through patient/plan-specific components) imposed on a CT-based phantom provides unexpected dose distributions, when compared to identical simulation with the 2013 release (with required modifications to several files in HEN_HOUSE and EGS_home). Someho

[2016-07-27 01:34] gwu-reflexionmedical opened #126 "BCSE does not work in BEAMnrc gui for windows 10 and Ubuntu 16.04"
I get this message from the BEAMnrc GUI, all other settings work well

[code]

[2016-07-27 04:24] ojalaj commented on #126
Check, if the commit implemented in a separate branch for this(?) issue would help. I think it on the line waiting for to be merged to 'develop' branch.

[2016-07-27 20:39] mainegra commented on #126
@gwu-reflexionmedical a fix to this issue has been merged into the develop branch. Update your develop branch using `git pull`

[2016-07-27 20:43] mainegra opened #128 "Wrong equation for gyration radius in PIRS-701"
Eq. `(4.11.14)` for the **gyroradius** should not contain a vector product as it is a scalar quantity.

[2016-07-27 23:38] gwu-reflexionmedical opened #129 "Compile error for statdose"
The compile took a lot of resources (Hard drive space and memory) when I use a large maxvoxel value, such as 300x300x400. And **failed.** (Even I have 50 GB space and 8 GB memory). Is it a bug or some architecture limitation?

Here is the error message:
`/usr/lib/gcc/x86_64-linux-gnu/5/crtbegin.o: In function `deregister_tm_clones':
crtstuff.c:(.text+0x1): relocation truncated to fit: R_X86_64_32

[2016-07-28 15:47] ftessier commented on #129
This is most likely related to the gcc limitation in addressing. The default memory model is "small", with a limit of 2 GB for local static objects. If you have gcc 4.6 or newer on a x86-64 processor, you can try compiling with the option `-mcmodel=large` to see if that fixes your problem.

[2016-07-28 18:20] dworogers opened #130 "Warning messages in DOSXYZnrc compilation"
When compiling DOSXYZnrc from the develop branch I get lots of warnings about common score needing padding. Adding a dummy integer variable to the common with the other integer variables fixed the warning.  Rearranging the order of the common would probably work too.

[2016-07-28 19:25] dworogers commented on #128
Interestingly, eqn 4.11.14 is in section 2.4.11 of the manual. Equation numbering is a bit strange, although in a brief look, I only found equations in Chapter 2 of the manual so that may be why equations are numbered by section rather than chapter.  This is not new. It was like this in the 2000 release.

[2016-07-28 23:07] gwu-reflexionmedical commented on #129
Thanks! I did add this option '-mcmodel=large' in the Makefile, unfortunately, the make process still took a lot of resource, and it failed if I use a big matrix.

[2016-07-29 01:53] gwu-reflexionmedical commented on #129
Another compile error on Ubuntu 16.04:

`statdose_ubuntu64.f:3522:18:

      * OUTkmaxFILE
                  1
Error: Symbol ‘outkmaxfile’ at (1) has no IMPLICIT type
Makefile:39: recipe for target '/home/gwu/EGSnrc/HEN_HOUSE/bin/ubuntu64/statdose' failed
`

[2016-07-29 13:04] ftessier commented on #129
Can you specify what compiler versions you have installed? @blakewalters can you take a look at this?

[2016-07-29 13:07] #126 closed

[2016-07-29 13:10] ftessier commented on #121
@blakewalters can you track down the origin of the error message `Error closing IAEA phase space ID 44`

[2016-07-29 13:39] ftessier commented on #116
Fixed on the `feature-style` branch (f79ebdc) which will be merged before the next release.

[2016-07-29 13:39] #116 closed

[2016-07-29 13:41] ftessier commented on #115
Fixed in 9ef97f1.

[2016-07-29 13:41] #115 closed

[2016-07-29 13:41] ftessier commented on #114
Fixed in 9ef97f1.

[2016-07-29 13:41] #114 closed

[2016-07-29 13:59] ftessier commented on #112
Fix is pending in pull request #131.

[2016-07-29 14:13] ftessier commented on #105
Closing this issue as it is not cleary pointing to a bug in the egs++ library.

[2016-07-29 14:13] #105 closed

[2016-07-29 18:03] gwu-reflexionmedical commented on #129
I used:
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.1) 5.4.0 20160609
g++ (Ubuntu 5.4.0-6ubuntu1~16.04.1) 5.4.0 20160609
GNU Fortran (Ubuntu 5.4.0-6ubuntu1~16.04.1) 5.4.0 20160609
GNU Make 4.1
Built for x86_64-pc-linux-gnu

[2016-07-29 18:26] AndrewWAlexander opened #132 "Typo in DOSXYZnrc manual in source 8 example"
In the example on page 55 it says the leading 0 on line 2 is for varying theta, however is it not that when a 0 is on line 2, that is the syntax for varying phi? Here's the text from page 55:

[2016-07-29 18:53] gwu-reflexionmedical opened #133 "Photon splitting max 2000"
I used BEAMnrc with DBS to run several simulations, and I noticed the maximum photon splitting number is hard coded to be 2000 (from the egslst output file and the size of the phsp file). I checked the manual but I could not find it anywhere (The manual actually suggests use 5000 photon splitting). Is there a way to remove the limit for photon splitting number?

I used Ubuntu 15.10 and the latest

[2016-07-29 19:08] ftessier commented on #133
Closing this issue because it is not related to a bug in the code. Issues are reserved for actual bugs, not technical support questions.

[2016-07-29 19:08] #133 closed

[2016-07-29 19:11] gwu-reflexionmedical commented on #133
Sorry for the mess, I thought it was a bug since the number in the input file does not match the number that is actually used during the simulation.

[2016-07-29 20:09] ftessier commented on #110
Certainly an unfortunate typo!! Fixed in pull request #134.

Accrding to equation A6 of the [2000 Kawrakow paper](http://scitation.aip.org/content/aapm/journal/medphys/27/3/10.1118/1.598917) (Kawrakow, Iwan. "Accurate condensed history Monte Carlo simulation of electron transport. I. EGSnrc, the new EGS4 version." Medical physics 27.3 (2000): 485-498), the denominator should indeed read `(24*tau2+

[2016-07-29 20:16] crcrewso commented on #129
Wow, I ran across this problem years ago and wrote my own dedicated code to get the stat I needed. I'll dig up some of those old 3ddose files and test the proposed fixes.

[2016-07-29 20:18] ftessier commented on #129
@crcrewso any work around you can propose or test will certainly prove useful. Thank you!

[2016-08-01 15:30] blakewalters commented on #101
Hi Reid:

Could you send me the offending .egsinp and .egslog files when you get the chance?  Thanks!

[2016-08-01 21:21] blakewalters commented on #125
Are you seeing this problem with source 21 as well?

[2016-08-02 08:30] ojalaj commented on #125
I haven't tested this with source 21 yet (actually I haven't used source 21 at all so far). It takes some time until I get this tested, but I will report how it goes (if no one else does that before me).

[2016-08-02 16:07] blakewalters commented on #121
Does this appear in the .egslog file from the DOSXYZnrc run?  The 'MIN PARTICLE WEIGHT..' output you mention would only make sense from a BEAMnrc run.

[2016-08-02 18:05] blakewalters commented on #125
Go into $EGS_HOME/dosxyznrc/srcxyznrc.mortran and delete the macro:

$INIT_PHSP_COUNTERS

from the beginning of subroutine srcinit, recompile DOSXYZnrc and try it.

[2016-08-08 08:07] ojalaj commented on #125
I downloaded the updated $EGS_HOME/dosxyznrc/srcxyznrc.mortran file and recompiled and run a simulation, but still something is wrong. All the sub-fields of a VMAT plan seem to be irradiated from the same, initial beam angle/(aperture also?) (the direction of the first control point / MU index range). This was also independently confirmed by a colleague of mine prior to the commit fddb316.

[2016-08-08 13:51] blakewalters commented on #125
Please confirm that the macro $INIT_PHSP_COUNTERS does not appear at the beginning of subroutine srcinit in $EGS_HOME/dosxyznrc/srcxyznrc.mortran.

[2016-08-08 13:54] ojalaj commented on #125
I confirm that the macro $INIT_PHSP_COUNTERS does not appear at the beginning of subroutine srcinit in $EGS_HOME/dosxyznrc/srcxyznrc.mortran.

[2016-08-08 14:00] blakewalters commented on #125
Hmmm.  Would it be possible to attach your dosxyznrc_*.F file (or just send it to me via email)?  Also, I'd like to take a look at your .egsinp file.

Thanks!

[2016-08-08 18:18] ojalaj commented on #125
I've just sent you the files via email.

[2016-08-09 09:19] ojalaj commented on #121
Sorry for being unclear on this issue - the message was printed on the .egslog file of the shared library BEAM simulation run by DOSXYZnrc source 20 simulation. @blakewalters this resulted e.g. from the DOSXYZnrc source 20 simulation of which I have sent you the output by email related to #125

[2016-08-11 13:01] jw3126 opened #139 "Add labels feature to existing applications and documentation"
First of all it is great to have a free and powerful MC tool like EGSnrc. Thanks a lot to everybody involved in creating it! One pain point about EGSnrc is with the leaky abstraction of geometry. What I mean is that one is forced very often to reference pieces of the geometry by integers even if they have string names.

For example assume we want to to score dose deposition in a detector. In order

[2016-08-11 18:34] mainegra opened #140 "Missing details in PIRS-898 for isotropic source definition"
**Missing information:** Arbitrary `isotropic sources` can be defined combining a shape and a geometry. The user has control over which geometry regions are part of the source.

[2016-08-11 21:30] gwu-reflexionmedical opened #141 "possible DOSXYZ bug with collimator angle (phicol)"
I used a same phase space source at multiple positions (top, left, bottom and right), the results are normal from top, bottom and right, but one the right, it seems like DOSXYZ automatically and mistakenly rotate the phase space source. See the attached picture:
[https://www.dropbox.com/s/o4eiygbe81vt0cd/Selection_041.png?dl=0](https://www.dropbox.com/s/o4eiygbe81vt0cd/Selection_041.png?dl=0)
(The

[2016-08-12 00:45] gwu-reflexionmedical commented on #141
To further test this, I run a DOSXYZ simulation with one phase space source (source = 8) at multiple position. I set the source to be evenly distributed over the space (Like a ring), I am expecting to see a dose "ring" in the phantom, however, I only a half ring due to the "automatic" **Phicol** shift (Radiation beams that should form the top ring did actually amplify the bottom ring). Please chec

[2016-08-12 13:50] rtownson commented on #141
There have been a number of papers published on coordinate transformations for DOSXYZnrc - it has been this way for a long time. Even if the coordinate system is not intuitive, I don't think this is something we could change at this stage. In the future, maybe we will look at including an optional alternative coordinate system using DICOM patient coordinates?

[2016-08-12 13:58] rtownson commented on #141
The dropbox links do not work for me.

[2016-08-12 17:30] gwu-reflexionmedical commented on #141
Thanks @rtownson , I fixed the url thing.

I think what happened is that the actual code does not match the description on the coordinate system in the **DOSXZYnrc** manual. The manual suggests that **0 < theta < pi** and  **0 < phi < 2*pi**, however, the **phicol** automatically shift when I follow this setting (source rotates on one side). I did some additional tests that show if I use **0 < the

[2016-08-12 18:09] marenaud commented on #141
I don't think phicol itself changes. When the manual says that phicol is determined for theta = phi = 0, it just means that the phicol rotation (basically a rotation about the Z axis if I'm not mistaken) is applied to the particles before the theta and phi rotations, and the particles are initially on a plane normal to the Z axis. The confusing part is that the name phicol implies that it should b

[2016-08-12 18:36] rtownson commented on #141
Thanks @marenaud, I re-opened this to allow for discussion on whether/how pirs794 should be clarified.

[2016-08-12 18:54] gwu-reflexionmedical commented on #141
Thanks @marenaud . I agree that phicol itself should not change. What I found is if I use the convention for theta and phi, the DOSXYZ will rotate my source, which is equivalent to that phicol is shifted by 180.

So it could be that theta-phi is not implemented as what the manual suggests, or that a bug in the code that shifted the phicol when the user do not want it to be shifted.

[2016-08-12 19:08] marenaud commented on #141
If you look at the code, everything is implemented as advertised in the manual (or seems to be at first glance), it's just that the coordinate system in DOSXYZ is not the same as the gantry/couch/collimator coordinate system so a bit of work has to be done to make them match. The manual itself doesn't make any false claims, and doing the transformations outlined in those papers will net you the re

[2016-08-12 20:56] gwu-reflexionmedical commented on #141
@marenaud, thank you very much for this detailed reply.  I understand that the coordinate system is different between what is in the imaging systems (recorded in DICOM) and the one in DOSXYZ. What I confused about is that if I do a 360 degree scan followed by the manual, the source orientation will be different between the left and right space.

For example, the manual suggests **0 < theta < pi**

[2016-08-12 21:06] gwu-reflexionmedical commented on #141
@marenaud . I think you are right, one need to re-define the range for **theta** and **phi** in order to get DOSXYZ working. I think the property of `cos()` function and the way it is used requires DOSXYZ user to use a different range for phi and theta.

It would be great to have this info in the manual, or delete the part that suggests **0 < theta < pi and 0 < phi < 2*pi** in the manual

[2016-08-12 22:21] marenaud commented on #141
The original range in the manual seems fine, it basically just mimics the spherical coordinate system (without phicol). I don't think you're out of the woods if you redefine the ranges of theta and phi, your examples are "working" with the new definition because of the test cases you're using.

If you tried delivering an asymmetric field with no symmetry axes about the origin like a 1x1 field with

[2016-08-12 22:41] gwu-reflexionmedical commented on #141
@marenaud Do you mean the coordinate transformation should be done strictly followed the way suggested in the cited papers, and my solution (which is extending the theta from 0 to 2pi) might not work in other test case? I'm a little surprised that the transformation has not being taken care of by DOSXYZ.

Your answers are very helpful, it would be nice to have that in the manual so that beginners

[2016-08-12 22:48] gwu-reflexionmedical commented on #141
@marenaud You also brought an interesting point, whether or not should DOSXYZ include **phicol pair** in the GUI for phase space source at multiple positions (source = 8). As you mentioned, the beam orientation might changed at different theta and phi even though phicol is the same. Therefore, if users, like me for example, want the beam orientation be fixed, then the **phicol** need to be changed

[2016-08-12 23:21] marenaud commented on #141
Without having gone through a counterexample explicitly, I think that your solution won't generalise to all theta, phi, phicol possibilities (ie it won't do what you want for all angles that you can throw at it). But I'm not 100% sure so don't take my word for it.

Source 20 allows for varying phicol with a phase space file, so that should work out for you.

[2016-08-15 17:55] #141 closed

[2016-08-15 20:19] ftessier commented on #139
Thank you for your suggestion. In fact, this functionality has already been implemented via region "labels", however this feature has not yet been documented yet, or been added to the applications distributed with the software. Labels allow you can assign a string to region(s) in a geometry in the input file, using the local region indices, e.g.,
[code]
Once defined, you can obtain a list of globa

[2016-08-16 11:16] jw3126 commented on #139
Thanks, that sounds great! Can you point me at the C++ code, where these are implemented?

[2016-08-16 12:17] ftessier commented on #139
Look for the `setLabels()` and `getLabelRegions()` methods in the geometry classes.

[2016-08-16 12:39] randlet commented on #139
The labels feature sounds nice but I think there is room for improvement on how egs++ makes its region information available to apps.  Getting the global region numbers assigned to a geometry in an automatic fashion was one thing that was a fairly big hurdle for me when creating a custom egs++ code.

Having a couple of types/functions similar to this:

[code]

would be very helpful.

Something lik

[2016-08-16 12:43] ftessier commented on #139
Thank you @randlet for the suggestion!

[2016-08-17 12:24] ojalaj opened #144 "IAEA phase-space file library needs separate re-compilation"
With a pristine clone of current 'develop' branch I encounter following issues, when trying to run the egs_chamber code with IAEA phsp file as source. With some previous release I managed to get this working by re-compiling in different directories under `HEN_HOUSE`, but even that doesn't work now.

For some reason `libiaea_phsp_source.so` is not created under `HEN_HOUSE/egs++/dso/myconfig`. Anoth

[2016-08-17 17:21] ftessier commented on #112
Fixed in 0cf6670.

[2016-08-17 17:21] #112 closed

[2016-08-17 17:23] ftessier commented on #130
Fixed in 3eb8a1e.

[2016-08-17 17:23] #130 closed

[2016-08-17 17:50] ftessier commented on #125
Fixed in cf8b24d.

[2016-08-17 17:50] #125 closed

[2016-08-17 17:58] ftessier commented on #121
Fixed in d70e11d.

[2016-08-17 17:58] #121 closed

[2016-08-17 18:09] #110 closed

[2016-08-18 07:57] ojalaj commented on #144
Problem solved by re-compiling under HEN_HOUSE/egs++/sources/iaea_phsp_source. Maybe this could be done already when compiling under HEN_HOUSE/egs++?

[2016-08-18 13:29] ftessier commented on #101
Fixed in ba7aca3.

[2016-08-18 13:29] #101 closed

[2016-08-18 13:35] rtownson commented on #144
Confirmed, you need to compile under HEN_HOUSE/egs++/sources/iaea_phsp_source.

Doing "make clean; make" in HEN_HOUSE/egs++ did not delete libiaea_phsp_source.so for me.

[2016-08-19 16:26] MartinMartinov commented on #140
I also found out about this not long ago, here are the 3 not documented inputs

		geometry           = Final_Geom
		region selection = IncludeSelected
                # above options are: IncludeAll || ExcludeAll || IncludeSelected || ExcludeSelected
		selected regions = 0
                # needed if include or exclude selected is used

I tested it out on some simple cases and it seems to work wel

[2016-08-23 07:41] yangguang222 opened #149 "Question on compiling egs_view"
Please: My egs_view can't open the example of egs++,  for example :cones.geom.    Who can solv this problem？  Thank you very much.

[2016-08-23 12:01] rtownson commented on #149
This is probably an installation mistake not a bug. In the future, unless you're sure it's a bug try asking in the [google group for EGSnrc](https://plus.google.com/communities/106437507294474212197), there are lots of helpful people there!

Having said that - what error do you see? Are you on linux or windows? Have you installed QT4? Check [this link on building the GUIs](https://github.com/nrc-c

[2016-08-23 18:12] Abdullah-Abuhaimed opened #150 "PreviewRZ does not work on macOS"
Hi there,

I use a mac machine with (el capitan) system. I am not able to get prviewrz working in RZ egs user codes using their gui. Both egs_view and preview accelerator of beamnrc work with no issue. Is there any way to fix this issue?

Thanks,
Abdullah

[2016-08-24 14:54] yangguang222 commented on #149
It  displays nothing .I am on linux , I had installed QT4.

[2016-08-24 15:27] rtownson commented on #149
When you run egs_view without any arguments, does the application open? Does anything print in the terminal?

When you compiled (step 3 in the link I sent you), did it give any errors? Did you set QTDIR in your .bashrc file and start a new terminal?

[2016-08-25 06:30] yangguang222 commented on #149
Do you mean set QIDIR in my .bashrc or qt4?

[2016-08-25 06:58] yangguang222 commented on #149
what is the meaning of set QTDIR in my .bashrc file?    is it the command 'QIDIR=/USR/include/qr4(my path)?

[2016-08-25 11:59] rtownson commented on #149
Assuming you are using a bash shell, then putting the line "export QTDIR=/usr/lib64/qt4" in your ~/.bashrc file will set QTDIR as an environment variable, the next time you start a new shell. This also assumes that qt4 was installed to the directory /usr/lib64/qt4 (check that it exists).

[2016-08-25 15:00] yangguang222 commented on #149
problem solved. thank you very much

[2016-08-25 15:17] #149 closed

[2016-08-25 16:00] blakewalters opened #152 "beamdp gui bug for listing parameters for a number of particles"
Needs inputs for range of particles for which to list the data.  Currently only allows one input!

[2016-08-25 16:37] crcrewso opened #153 "Feature request: command line installer"
I've been doing a bunch of installs with the command line installer and I have a bit of a nit to pick. When I change the compiler flags from default I would like to see a confirmation of my changes so that I can correct any type-os. Is this something that could be done in the future?

[2016-08-25 17:22] ojalaj opened #154 "Radiative Compton corrections for egs++ codes"
According to PIRS 898 Radiative Compton corrections could be just turned on with egs++ codes, but this generates:
**************\* Warning:
You are trying to use radiative Compton corrections
without having included rad_compton1.mortran
Turning radiative Compton corrections OFF ...

and I could not find instructions where to include line with rad_compton1.mortran with these codes.

[2016-08-25 18:43] rtownson commented on #104
I bet it is related to the number of bytes assigned to ints and longs on a 32-bit system then :)

[2016-08-25 18:43] #104 closed

[2016-08-25 20:43] crcrewso commented on #54
The stable release is out. I've spent about a day testing and found a few things.

1) You can get GUI's working with some effort
2) Command line stuff works as expected, but the base Ubuntu image is missing a lot of default packages which need to be installed

Preparation steps
1) Read the windows guide about [installing ](https://msdn.microsoft.com/en-us/commandline/wsl/install_guide)the Linux su

[2016-08-25 21:30] mainegra commented on #154
@ojalaj this information is sadly still missing in the documentation. We will update the documentation with the required information soon via a pull request. Meanwhile here is the skinny on how to include `rad_compton1.mortran` for all kinds of EGSnrc applications:

To turn ON radiative Compton corrections `rad_compton1.mortran` must be first added to the list of MORTRAN sources to be built:

- Fo

[2016-08-25 21:35] mainegra commented on #140
@MartinMartinov we use these features all the time to model extended radioactive sources! It is even taught at all EGSnrc courses!!! But it has eluded the documentation so far! ;-P

[2016-08-26 06:08] ojalaj commented on #154
Thank you mainegra - the first two bullets were something I couldn't figure out by myself, whereas the last two are clear to me (to be more exact - the third bullet is already well-documented, while the fourth one is not, but yet quite intuitive).

[2016-08-26 08:43] ojalaj commented on #100
With a pristine clone of most recent develop branch I confirm that this issue still exist, i.e. when with EGS_GUI selecting HEN_HOUSE/pegs4/density_corrections/compounds/water_liquid.density the medium type is grayed out to Mixture. When setting AE=0.512, AP=0.01, UE=55, UP=55, the program creates PEGS data (with 'warning'  ****LOWEST ENERGY INPUT FOR DENSITY EFFECT IS 5.120E-01 WHICH IS HIGHER TH

[2016-08-26 13:08] yangguang222 opened #155 "ctcreate"
Please:
In the terminal,  after choose ct formats and its slicenames, it displays :can not find that file or catalogue  ?

[2016-08-26 13:37] rtownson commented on #155
Hi @yangguang222, please post questions about how to use EGSnrc in the [google+ community](https://plus.google.com/communities/106437507294474212197). We try to reserve github issues for bug reports! Thanks :)

[2016-08-26 13:37] #155 closed

[2016-08-26 13:45] mainegra commented on #155
@yangguang222 this is not a help forum. It is meant for posting problems which should be fixed in EGSnrc. If you figure out that your problem is due to ctcreate and can provide enough proof we will look into it. If you require help using ctcreate, post your question in the [EGSnrc google++ community](https://plus.google.com/u/0/communities/106437507294474212197) where a you will find very a knowle

[2016-08-26 17:49] MartinMartinov opened #156 "The "-p pegsless" option works in run_user_code_batch but not run_user_code"
It would be nice if the pegsless option was universal, and its a pretty easy change :).

[2016-08-26 18:53] mchamberland commented on #156
'Turns out... I already did that this summer: see pull request #102. I totally forgot about that.

[2016-08-27 18:20] rtownson commented on #156
Well that was easy :) Thanks Mark!

[2016-08-27 18:20] #156 closed

[2016-08-29 07:07] ojalaj opened #157 "IAEA phsp source: illegal attempt to set simulation chunk"
When using IAEA phsp as a source with egs_chamber, I get this kind of output to `.egslog` files of each batch run. Is everything functioning as expected? I apologize, if this means nothing, but I just always want to check, whenever I get errors/warnings/other negative output that I'm not familiar with. Simulation results seem to be OK. Are the uncertainty estimates incorrect as indicated?:

[code]

[2016-08-29 08:19] Yass222 opened #158 "Using egs_view on Wndows OS"
Hi everyone,
I am using EGS on Windows OS . I am trying to open my geometry + track with egs_view.
So I can view all examples from " EGSnrc -master \ EGSnrc -master \ HEN_HOUSE \ egs ++ \ geometry \ examples " but when i try to open " mygeom.egsinp " or " mygeom..egsgph " or " mygeom.egsgeom " I fails .
Can you help me.

I tried a Matlab program (EGS_WINDOWS). It have a strange display for CM SLAB

[2016-08-29 10:43] li-weihua opened #159 "dosxyznrc :: number of regions > max allowed"
I want to define a phantom 30*30*30cm^3 with 300 regions in each dimension. The following error is
occurred, how to unset the max number of regions?

Input boundaries in the x-direction
 -----------------------------------
 Initial boundary:       -15.000
 Width in this group, number of regions in group:         0.100  300
              ***ERROR:
              number of regions > max allowed (  12

[2016-08-29 10:55] ojalaj commented on #154
One addition for the comment on the second bullet is that e.g. for egs_chamber in the Makefile there is no $(EGS_SOURCEDIR)get_inputs.mortran above which the user could add  $(EGS_SOURCEDIR)rad_compton1.mortran so that was the primary reason I couldn't figure the correct file/line by myself.

[2016-08-29 12:03] rtownson commented on #158
Hi @Yass222, I see you already posted this question to our google group! Thanks, that is the appropriate place for this question (I recommend you also post your .egsinp file there). I will close this as an issue here, because it is not likely a bug with EGSnrc. You are welcome to post again if you have evidence it is in fact a bug.

[2016-08-29 12:03] #158 closed

[2016-08-29 12:29] rtownson commented on #159
Hi @li-weihua, please post questions like this to the [EGSnrc google+ community](https://plus.google.com/communities/106437507294474212197). There is a very knowledgeable group of people there who can help (and we keep an eye on it)! This site is reserved for reporting problems which should be fixed in EGSnrc. If you discover that your problem is a bug and can provide evidence, we will look into i

[2016-08-29 12:29] #159 closed

[2016-08-29 14:52] mainegra commented on #154
@ojalaj the second bullet refers to basically defining `CPP_SOURCES` in  the application's `Makefile` in the same manner as it is done for `C_ADVANCED_SOURCES` in the file `$HEN_HOUSE/specs/egspp1.spec`. Note that `CPP_SOURCES` takes the value from `C_ADVANCED_SOURCES`. This is useful in the case you want to allow radiative Compton corrections ONLY for that particular EGSnrc application.

[2016-08-29 15:36] ojalaj commented on #154
Thank you for the clarification.

[2016-08-31 21:17] crcrewso opened #164 "Lock files"
Okay so I don't think this a bug, yet, but at the very least I think it's missing documentation.

I've been running dosxyznrc on a new cluster (yay westgrid account) and I've noticed that the number of active jobs and the number of jobs in the lock file sometimes differ. I am assuming that this is because the jobs start too close to each other and they don't successfully increment the lock file. M

[2016-08-31 21:49] crcrewso commented on #129
Sorry @ftessier I missed your comment from a month ago. I don't think it would. I wrote something on my old mac that loaded in the dose file and did the statistics I needed directly but it did not plot them (or have anything approaching correct orientation registration as all I needed was concentric centered cubes for determining homogeneity) For profiles we ended up creating dedicated high resolu

[2016-09-01 16:03] ftessier commented on #164
Indeed if a job starts and hangs for some reason then it might not increment (or decrement) the number of jobs in the lock file... What you describe typically happens indeed when too many jobs start concurrently and cause a race on the lock file. Try spacing out the launch of each job by a second or so. This has no effect on the validity of the results as far as I can imagine: all simulations run

[2016-09-01 16:03] #164 closed

[2016-09-01 16:11] crcrewso commented on #164
@ftessier I wish I had the control to be able to do that. The way that this queue works is that when you submit to qsub, it hangs in limbo until a second scheduler can categorize it. I have some other issues with this scheduler (it starts jobs submitted out of order, like job 100 submitting 1 hour later might start before job 2) So adding a delay has no positive effects, unfortunately.

What I'm w

[2016-09-01 16:11] ftessier commented on #153
I have a "new and improved" version of the configure script, which is a bit more friendly. I will keep your comment in mind while working on it, but I don't think I will add what you request. Instead I use an `expect` script which contain my configuration options and drives the configure script automatically! Give that a try, it works great! (More simply, you can also feed a file via stdin to the

[2016-09-01 16:11] #153 closed

[2016-09-01 16:12] ftessier commented on #113
@rtownson can you look into this issue?

[2016-09-01 18:26] ftessier commented on #164
I see your point. I meant the result is valid in that the uncertainty reflects the actual number of histories that ran, irrespective of the number of jobs (or missing jobs). But as you say you might very well be missing a chunk of results and therefore not reached the desired accuracy. The lock file mechanism is unfortunately not very resilient, in fact it is rather fragile on large clusters. It w

[2016-09-01 18:30] crcrewso commented on #164
Is that documented? I'd love to be using mpi for a myriad of reasons

On September 1, 2016 at 12:26:09 PM, Frédéric Tessier (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-09-01 18:41] ftessier commented on #164
No, we have not implemented any MPI wrapper yet; and it is unlikely we would do so until the whole of EGSnrc is ported to C!!! But we ourselves routinely get bogged down with lock file problems, so at least the incentive is there.

[2016-09-01 18:50] crcrewso commented on #164
I'd be happy to help but I only played around with threading on my own greenfield projects. I'm not quite sure where the wrapper should sit.

On September 1, 2016 at 12:41:42 PM, Frédéric Tessier (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-09-01 19:41] rtownson commented on #113
Could not reproduce! Can you provide example input @mchamberland?

I used ptracks to look at this. The line appears to be emitting particles correctly, from a line along `z`. My source:

[code]

[2016-09-01 20:28] rtownson commented on #111
Appears to be a bug. Crashes when you have a closed prism trying to "straddle" the axis it is closed along. For example, closed = -1 1 crashes in this same way without any translation.

[2016-09-01 21:23] mchamberland commented on #113
Oh, using particle tracks is a good idea. I will make sure I can still reproduce this on my system and report back.

[2016-09-01 22:05] mchamberland commented on #113
You can close this issue. The bug seems to involve how we record the initial location of particles in our custom application, and not how the particles are actually emitted (as shown by the particle tracks).

[2016-09-02 01:21] Kri-Ol opened #166 "Compilation of the dosxyz_show requires Motif"
On my Ubuntu system it requires `libmotif-dev` to be installed prior to compialtion. Would be nice to mention it in the installation docs. Otherwise, compilation will fail.

[2016-09-02 03:22] Kri-Ol opened #167 "Unmatched quotes in compile_user_code script"
Here is my fix to make it work

[code]

[2016-09-02 04:35] AndrewWAlexander commented on #49
I also ran into this issue. I had to re-make beamdp for use with IAEA phase space files too.

[2016-09-02 11:49] rtownson commented on #113
Ok! :)

[2016-09-02 11:49] #113 closed

[2016-09-02 15:00] crcrewso commented on #49
@ojalaj there are a few make scripts in the code base that I've noticed make clean is not defined. I should probably catalog and submit those as bugs. Statdose is definitely one and I think addphsp is one too.

[2016-09-02 16:52] ftessier commented on #49
@blakewalters indeed please submit this lack of `make clean` as a new issue, and let's close this older one.

[2016-09-02 21:06] crcrewso opened #170 "BEAMnrc IAEAphsp documentation"
The current[ BEAMnrc manual ](http://nrc-cnrc.github.io/EGSnrc/doc/pirs509a-beamnrc.pdf) doesn't yet include much on how IAEA phase spaces are loaded or used. Since they are philosophically different from egs phase spaces, and are provided by at least one vendor (Varian for TrueBeam) in a way that will become more important as time goes on, could I ask the following.

- The BEAM document be update

[2016-09-05 07:17] ojalaj opened #172 "'Make clean' is not defined for addphsp, statdose (and possibly other user codes)"
Recall issue #49.

[2016-09-05 12:38] yangguang222 opened #173 "egs_chamber"
When I get the following warning when running the egs_chamber example codes. Can you help me?
:
EGS_Liabrary : : load (): failed to load liabrary
/home/EGSnrc/egs_home/bin/linux64/libBEAM_Elekta_nrc.so : cannot open shared object file :No such file
or directory

[2016-09-05 14:57] rtownson commented on #173
Hi @yangguang222, as I mentioned last time, please post questions like this to our [google+ community](https://plus.google.com/communities/106437507294474212197).

You probably need to make the shared library for the accelerator (in the accelerator directory, use 'make library', after you have already done beam_build and make).

[2016-09-05 14:57] #173 closed

[2016-09-06 16:19] crcrewso commented on #172
It doesn't look like it's defined for anything in the omega folder. I've checked all the sub-directories from an EGSnrc 2016 install

[2016-09-06 18:33] mchamberland opened #174 "NaN with -ffast-math"
NaN (still) shows up when using -ffast-math with the Fortran compiler. This happens with gcc version 4.4.7 20120313 (Red Hat 4.4.7-4) (GCC).

Sample input file for `tutor7pp` below.

With -ffast-math flag:

`Medium            1  sige =   1.00000000362749373E-015                       NaN  monotone =  T T`

`Medium            2  sige =   1.00000000362749373E-015                       NaN  monotone

[2016-09-07 14:44] crcrewso opened #175 "Dosxyznrc_gui and source 20 window"
When trying to select source 20 from the gui on a new (default) input file the following appears the first time you try to open the subwindow. This did not happen when I immediately repeated the same action a second time. When I tried to reproduce the actions I took to successfully open the Source 20 window it repeated the included error again. This was on the latest develop branch, reproduced on

[2016-09-07 15:08] crcrewso commented on #175
So I more carefully tried to reproduce my initial issue. When selecting source 21 first, then closing the source options window and selecting source 20 I can get at the source window. Separately when I try to open the file I just saved (in a new instance of the Dosxyz_gui) I get the following error.

[code]

[2016-09-08 17:11] crcrewso commented on #174
May I ask, which input file were you using? Test1?

[2016-09-08 17:32] crcrewso opened #176 "Cannot specify alternative C compiler in configuration script"
When running configure from `HEN_HOUSE/scripts`, I can select, say, gfortran4.9 (at least I think I can) and it will continue but fail to determine the version number.

When I try to select gcc-4.8, or anything other than the generated list, the installer will not let me continue.

I was hoping to be able to have a few config files each for a different compiler automatically generated using the in

[2016-09-08 17:46] mchamberland commented on #174
The input file attached to the report: "media_bug.txt"

GitHub does not allow .egsinp extensions.

[2016-09-08 18:03] crcrewso commented on #174
Ahhh sorry it threw me not being an egsinp.

On September 8, 2016 at 11:46:42 AM, Marc Chamberland (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-09-08 18:10] blakewalters commented on #129
In the short(er) term, try decreasing $NDIST1_MAX (the no. of data sets that can be stored internally at one time).  Unless you're comparing dose from two different .3ddose files, you can even set this to 1.  This should give you some more leeway on $MAXVOXX, $MAXVOXY and $MAXVOXZ.

[2016-09-08 19:41] blakewalters commented on #157
Hi Jarkko:

Both of these messages indicate a parallel run that is using up all of the phase space data and so the run is "rewinding" back to the beginning of the file.  As the second message says: uncertainties will be underestimated--significantly if you're seeing this message a lot during a run.  If this message is coming up many times (>3) within a run (or chunk of a run in the case of paralle

[2016-09-09 14:30] rtownson commented on #97
Does anyone have an input file they can share where this occurs?

@blakewalters, do you think we can replace the `while(1)` with a `for` loop like the one below? This lets the simulation continue, but we can give warnings that their simulation will be slow as a result. Should the `1e6` be smaller or larger?

[code]

[2016-09-09 15:38] #86 closed

[2016-09-09 16:46] mchamberland commented on #97
@rtownson We came upon this issue in our custom application, unfortunately.

@randlet Can you reproduce this in `tutor7pp` if you simply copy the geometry and source sections of the input file (assuming you still have it)?

[2016-09-09 16:49] victorMalkov opened #179 "tustep and ustep being improperly read as vacdst"
In the `ELECTR` subroutine, when the electron is expected to take a single scattering step, there are instances when `tustep` and `ustep` are incorrectly interpreted as `vacdst` (1e8). This leads to unnecessary howfar calls and I have found it to cause infinite loops (most likely in the egs++ part of the code)  when using electric and magnetic fields (the issue shows up without the fields, but doe

[2016-09-09 19:18] blakewalters commented on #97
I don't have a problem with this...as long as it doesn't replace figuring out what's actually going on!

[2016-09-12 12:23] randlet commented on #97
The one good test case that I had (would freeze egs_view almost instantly) actually seems to have been resolved by @mchamberland's  23763c2ea04e52 so it's possible it was more of an issue with the cone geometry rather than the CD.

[2016-09-12 12:27] randlet commented on #97
That said, I still think it's worthwhile having a sanity check in there like the one @rtownson suggested.

[2016-09-19 23:16] alexanderlivingstone opened #182 "Suggestion: increase MAXFIELD default value in SYNCVMLC"
When trying to run a beam with more than 265 fields in a sequence file I get the following error:

[code]

[2016-09-19 23:48] AndrewWAlexander commented on #182
You can increase this limit within the SYNCVMLC_macros.mortran file, then remake your beam accelerator.

In general, 265 is too low of a value for most users, so I would like to see this number increased in the distribution of EGSnrc. ,

[2016-09-20 00:06] alexanderlivingstone commented on #182
Thanks for your help that worked.

Is there something similar for DOSXYZnrc source 21? I am now getting a segmentation fault when running DOSXYZnrc

[2016-09-20 00:44] AndrewWAlexander commented on #182
This might seem obvious, but did you remake the library too?

[2016-09-20 03:05] alexanderlivingstone commented on #182
Not obvious enough for me! That was it thanks so much for your help.

[2016-09-27 19:40] crcrewso opened #186 "Beamdp and addphsp floating point exception for large IAEA phase space files"
I thought that we had all the IAEA beamdp stuff nailed but I'm running into a problem, though it may be with more than just IAEA phsps's. It started when I took all the Varian source files and added them together. I wanted to get a handle on what the whole data set looked like.
- I looked through past issues and pulls trying to find something, there was some similar issues but nothing that helped.

[2016-09-27 20:25] crcrewso opened #187 "Negative Ustep errors and Number of Histories"
For the same simulation when I tried to run it with
200000000 it executed well. When I increased the number of histories to 300000000 the simulation immediately started throwing Negative Ustep Errors. It's not a matter of the source file having bad particles after the nth one because the 1001 Negative Usteps appear immediately (ie in the first 10% of the larger run) and none are reported at the sm

[2016-09-27 20:36] crcrewso opened #188 "Window resizing [enhancement]"
One last issue and this is more of a suggestion but it has been bugging me for a while. The execution window, among others have console boxes embedded. It would be nice if these were dynamically re-sizable so that when I blew up two windows side by side the boxes would actually show more information.

[2016-09-28 04:19] ojalaj commented on #187
Hi crcrewso. I think this issue has been reported already in #90. If it is the same, a fix has also been provided by blakewalters, but it has not been committed as a branch yet.

[2016-09-28 05:34] crcrewso commented on #187
Ojalaj

I looked again but I don't see the fix that you're referring too. Could you link it or tell me which of his branches it's in?

[2016-09-28 05:40] ojalaj commented on #187
I mean that the issue is reported in (issue) #90, but the fix has not been published yet (by blakewalters or anyone from NRC).

[2016-09-28 13:47] crcrewso commented on #187
Ahhh. Thank you Ojalaj. I understand what you're getting at now. Yes these problems might be related but as their errors are very different I can't say for sure.

Cody

[2016-10-02 08:39] lichuanlong opened #189 "EDKnrc use spectrum source, edk in first shell (r=0.05cm) is Infinity."
use mohan6.spectrum for spectrum source. use 521icru.pegs4dat.

[code]

 angle/deg.  radius/cm    total [uncert]           primary [uncert]

---

[code]

[2016-10-03 19:14] crcrewso commented on #187
Pull #190 increased the maximum number of histories from about 2e8  to above 1e11. A noticable and well appreciated improvement. Thank you @blakewalters

[2016-10-11 17:35] rtownson commented on #182
Does anyone have recommendations for a value of `$MAXFIELD_$SYNCVMLC` that would include most clinical cases?

[2016-10-11 18:03] marenaud commented on #182
It can get pretty crazy if you do tomo recalculations. I routinely have over 10,000 fields.

[2016-10-12 03:00] dworogers opened #191 "pirs701 eqn 2.32 has a typo"
I was wrong. It is OK, just uses m as moc^2 many places.

[2016-10-17 14:09] blakewalters commented on #187
Is the failure due to negative usteps or a problem with the no. of histories?

[2016-10-17 20:08] crcrewso commented on #187
The original failure was that I would have 1001 negative Usteps appear as soon as the number of histories crossed a threshold. This would in turn cause the run to fail.

[2016-10-21 20:23] dcarrascouy opened #193 "EGSnrc macros prohibit EDKnrc execution with more than 100 radius"
The modification of user macros in **edknrc.mortran** to increase the maximum radii and/or cones to 100+ generates erroneous readings and therefore wrong calculations as shown with `IDEBUG = true`.

[code]

EDKnrc changes the default values for VALUE_MIN(), VALUE_MAX() and DEFAULT() for radii, resulting in no energy calculation inside these spheres
[code]
I think the problem starts in `REPLACE {$N

[2016-10-28 13:39] #191 closed

[2016-11-04 03:35] RobetZyarde opened #194 "EGS_Library::load(): failed to load library egs_vhp_geometry.dll"
I wanted to use Viewer to test my VHP model, but I did not build static vhp.dll. How can i do it?

`Using F:\model\example.geom
About to construct EGS_Input object
OK, parsing input
Finished parsing
EGS_Library::load(): failed to load library E:\EGSnrc-master\HEN_HOUSE\egs++\dso\win-static\egs_vhp_geometry.dll
  error was: 126
createSingleGeometry: Failed to load library 'egs_vhp_geometry' from E:

[2016-11-07 20:57] fribert opened #196 "'undefined reference to lnblnk1_' with gfortran 5.1.0"
Installing EGSnrc on a Windows 10 machine with the TDM-GCC MinGW-64, make 3.82.90 and gfortran 5.1.0 with tags '-O3 -ffast-math'. The install goes on fine, until an error is generated:

Running *gfortran -g -fcheck=all -Wall machine.f*

The installation works fine on the same machine after a switch from the TDM-gcc 5.10 to cygwin gcc 5.40

[2016-11-09 18:43] mgk1 opened #199 "Building and compiling error during DOSXYZnrc"
Hi all-
I am having the following error while trying to run dosxyznrc.
I have created a non-CT 30x30x30cm water phantom and trying to run the phsp file.
I have attached a screen grab of the error.
Any help that can be provided would be greatly appreciated.
thanks
Mahesh

![error](https://cloud.githubusercontent.com/assets/23364621/20150075/93e4e03a-a679-11e6-8de6-382dda9907c6.png)

[2016-11-09 19:46] crcrewso commented on #199
Mahesh

Are you missing some of the output? What you are seeing are warnings, not errors and it looks to me like your compilation should have succeeded. Could you try to run one of the sample inputs. If you still have errors please use the google+  group for support? That is the forum for this kind of support.

https://plus.google.com/communities/106437507294474212197

[2016-11-09 20:02] mgk1 commented on #199
I got the same error when I ran the sample outputs as well.
I believe the install and build of dosxyz was fine from what I understand.
When running the code after compilation all it said was the " run failed".
I will post in google groups.
Regards
Mahesh

On Nov 9, 2016, at 1:46 PM, crcrewso <notifications@github.com<mailto:notifications@github.com>> wrote:

Mahesh

Are you missing some of the out

[2016-11-12 12:34] ojalaj opened #201 "Addphsp not adding new data to existing IAEA phsp file"
I'm trying to add particle data to existing IAEA phsp file (XXXX.1.IAEAphsp). I have re-run the accelerator simulation and having the previously concatenated IAEA phsp file (XXXX.1.IAEAphsp) and header (XXXX.1.IAEAheader) in the same directory, I ran addphsp, but a completely new file was generated instead of adding data to existing file. The file name I used for output phsp with addphsp is exactl

[2016-11-15 18:21] ojalaj commented on #201
The issue has been solved. Thank you blakewalters!

[2016-11-18 11:11] EzhilRam opened #203 "EGSnrc installation failed"
Dear Experts,

First time i attempted to install the recent EGSnrc but failed. Error messages copied below -any advice much appreciated.

Ezhil Ram

===> Appending VCU library to dosxyznrc_win32.spec ...
 done

===> Compiling Mortran3 ...

Makefile:42: recipe for target 'C:\EGSnrc\HEN_HOUSE\bin\win32\mortran3.exe' failed
process_begin: CreateProcess(C:\Users\RBBD7D~1.EZH\AppData\Local\Temp\make548

[2016-11-24 19:38] pgfwatso opened #205 "Bug with bremsstrahlung splitting in egs_chamber"
There is a problem with the current implementation of brem splitting in egs_chamber.cpp
The variable for number of split radiative photons is read from the .egsinp file (line 938 of egs_chamber.cpp):

        //
        // ******** radiative event splitting
        //
         int csplit=1;
         if( !vr->getInput("radiative splitting", csplit) && csplit > 1) {
            egsInformation("\n =>

[2016-11-24 19:49] rtownson commented on #205
Yes, we were aware of this issue! If you have a good solution feel free to submit it as a pull request, I don't believe anyone had planned a fix yet.

[2016-12-05 04:07] Wondesen opened #208 "EGSnrc installation failed"
I tried to install EGSnrc following the steps shown at https://github.com/nrc-cnrc/EGSnrc/wiki/install-EGSnrc-on-linux.
At the last step, the EGSnrc installation failed. Error message line is

doxyz_show.c:34:22:fatal error: xm/xmAll.h: No such file or Directory
Compilation terminated!
"Makefile:62:recipe for target '/home/-------/EGSnrc/HEN_HOUSE/bin/linux64/dosxyz_show' failed
Make: **[/home/---

[2016-12-05 13:53] rtownson commented on #208
Duplicate of issue #166 - I'll add this to the wiki page now.

[2016-12-05 13:53] #208 closed

[2017-01-11 19:34] marenaud opened #209 "Allow skipping of dosxyznrc isource 20 "calibration run"?"
DOSXYZnrc source 20 (phsp source) runs a calibration run of 1mil particles when passing through a shared library to refine the estimate of NRCYCL needed. If I have a gigantic phase space file and know for sure that I won't need to recycle particles, I would like to skip that calibration run as it adds unnecessary overhead. Would you guys consider allowing a flag in the input file to skip the calib

[2017-01-11 20:14] rtownson commented on #209
I don't see a problem with having an option to disable the calibration run for source 20, does anyone else?

As a sidenote, if you re-use a large phase-space often (and have lots of RAM) consider putting it is /dev/shm to load it into RAM semi-permanently (/dev/shm is cleared on reboot). I've seen great speed-ups from that.

[2017-01-16 17:53] crcrewso commented on #209
I'd need a lot of ram for my 74 GB TB phase spaces.

[2017-01-17 14:59] ftessier commented on #36
@mainegra is it realistic to fix and test this for the 2017 release?

[2017-01-17 15:05] mainegra commented on #36
@ftessier can I get to you on that next week? Although the fix is "trivial" I would like to test it thoroughly system-wide. There aren't that many mortran files in EGSnrc, but one will have to make sure to make the change for the system, the RZ apps and BEAMnrc.

[2017-01-17 15:09] crcrewso commented on #36
@ftessier @mainegra  if you're not comfortable with it being in the 2017 release, I would be happy to see it rolled into the develop branch so I could do testing over 2017. That way it could be in the 2018 release with more confidence?!

[2017-01-17 15:12] mainegra commented on #36
Yes, @crcrewso I would also like to improve this limitation of the Mortran side of the system. As I said I will look into this next week. Cheers!

[2017-01-18 02:05] ftessier commented on #36
I second that @crcrewso, let's roll it out on develop and wait for 2018 to merge into master. So no rush on this one @mainegra!

[2017-01-18 02:14] ftessier commented on #208
@rtownson thanks for adding this to the pre-requisites in the wiki. Can you add a small sub-section about obtaining libmotif-dev; perhaps just telling users to install that package on their favorite linux distribution, that it is a common package?

[2017-01-18 15:01] crcrewso opened #213 "beamdp overflow issues with large phase spaces"
This one is esoteric but if someone has a hint at where to start in the code I would greatly appreciate it.

I've been trying to run some energy spectra analysis using beamdp on the overly large 75 GB full TB phase space files for a specific project. My 13 GB sample files seem to run beamdp options 3 and 4 without issue but the larger files give me all infinities in the resulting grace file. I wou

[2017-01-18 15:54] rtownson commented on #213
The changes will probably just involve some counting variables, and that should have minimal performance impact. My guess is that the variables counting particles like `N_ph_sp_e` are overflowed by the large number, and instead should be of the type `$LONG_INT`. Support for TB phase-spaces would be useful if it is a reasonably straight-forward fix!

[2017-01-19 18:45] mchamberland opened #215 "Incorrect description of i_survived_rr in egs_interface2.h"
The description of the `i_survived_rr` variable in [egs_interface2.h](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/interface/egs_interface2.h#L585-L589) is incorrect. It should read:

`    /*! If Russian Roulette of electrons created in photon interactions is
      on (#i_play_RR is 1), i_survived_RR is set to the number of electrons
      **killed** in the RR game.
    */`

This can

[2017-01-20 18:56] rtownson commented on #215
This has been fixed in the feature-style branch.

[2017-01-20 18:56] #215 closed

[2017-01-23 18:11] rtownson commented on #22
Fixed in release-2017

[2017-01-23 18:11] #22 closed

[2017-01-23 18:14] rtownson commented on #51
Fixed in release-2017.

[2017-01-23 18:14] #51 closed

[2017-01-23 18:18] rtownson commented on #90
Fixed in release-2017.

[2017-01-23 18:18] #90 closed

[2017-01-23 18:20] rtownson commented on #106
Fixed in release-2017.

[2017-01-23 18:20] #106 closed

[2017-01-23 18:21] rtownson commented on #111
Fixed in release-2017.

[2017-01-23 18:21] #111 closed

[2017-01-23 18:23] rtownson commented on #139
Fixed in release-2017.

[2017-01-23 18:23] #139 closed

[2017-01-23 18:24] rtownson commented on #140
Fixed in release-2017.

[2017-01-23 18:24] #140 closed

[2017-01-23 18:25] rtownson commented on #144
Fixed in release-2017.

[2017-01-23 18:25] #144 closed

[2017-01-23 18:26] rtownson commented on #152
Fixed in release-2017.

[2017-01-23 18:26] #152 closed

[2017-01-23 18:28] #157 closed

[2017-01-23 18:28] rtownson commented on #166
Added to wiki.

[2017-01-23 18:28] #166 closed

[2017-01-23 18:29] rtownson commented on #167
Fixed in release-2017.

[2017-01-23 18:29] #167 closed

[2017-01-23 18:29] rtownson commented on #172
Fixed in release-2017.

[2017-01-23 18:29] #172 closed

[2017-01-23 18:30] rtownson commented on #175
Fixed in release-2017.

[2017-01-23 18:30] #175 closed

[2017-01-23 18:32] #199 closed

[2017-01-23 18:32] rtownson commented on #201
Fixed in release-2017.

[2017-01-23 18:32] #201 closed

[2017-01-23 18:57] rtownson commented on #174
Is this still a problem on the current develop branch? I could not reproduce on centos. Thanks!

[2017-01-23 19:03] crcrewso commented on #174
Which gcc did you test with? I thought this was a 4.4 series issue.

[2017-01-23 19:19] rtownson commented on #174
Good point - I was on gcc 4.8.5.

[2017-01-25 14:54] andreaslogo opened #218 "IAEA phsp lib and headers not included by default in user code compilation"
I'm not sure if it is intended; nevertheless, in the absence of relevant documentation I consider it an issue.

It is not possible by default to compile a user code that uses $(HEN_HOUSE)iaea_phsp/ headers and libiaea_phsp.so. Neither the headers are found nor the dso.

[2017-01-25 15:59] crcrewso commented on #196
I could have sworn I had commented on a similar issue before. TDM-gcc 5.1.0 is incomplete and as such is failing to find something that it expects on the gfortran library side of things.

[2017-01-26 19:56] #154 closed

[2017-01-26 19:57] #128 closed

[2017-01-27 17:07] crcrewso commented on #218
This sounds so familiar to a past fix, could you take a look at fix #145. Do your issues still persist after applying?

[2017-01-30 15:17] andreaslogo commented on #218
Unfortunately, this didn't work. It probably has to do with HEN_HOUSE/egs++/sources/iaea_phsp_source/.

This issue is related to HEN_HOUSE/iaea_phsp/.

[2017-01-31 22:09] crcrewso opened #227 "No mention of qmake in the install directions"
I know this is a minor issue but could you please update the webpage when you have a chance, qmake is required for the egs_gui to compile but it is not listed in [https://github.com/nrc-cnrc/EGSnrc/wiki/install-EGSnrc-on-linux](url)

Also a bookkeeping question, when will develop catch up to release-2017?

Thank you

[2017-02-01 02:25] ftessier commented on #227
Thank you @crcrewso for the suggestion. The instructions for building the GUIs are on https://github.com/nrc-cnrc/EGSnrc/wiki/Building-GUIs-on-Linux (`qmake` comes with qt4-dev-tools). We want to keep instructions for compiling GUIs separate from installation, because most users prefer to download pre-compiled GUIs. However we could add a link to GUI build instructions from the installation page.

[2017-02-01 03:17] crcrewso commented on #227
@ftessier that mostly makes sense. I went looking for where to download the gui's and the only one I could find is the configure gui (which does let you build the rest of them of course) but wouldn't it require QT to run? I don't see QT mentioned on either the download page or the wiki linux install page.

This release is starting to look like a lot of my wishlist has been crossed off. Great work!

[2017-02-01 03:28] ftessier commented on #227
The pre-compiled GUIs we distribute are compiled statically, so they don't require a Qt installation; for exactly that reason!

[2017-02-01 03:44] crcrewso commented on #227
I think I get my confusion now. The complied guis are all rolled into the installer. Which would explain why we don't need qmake to run the installer and why I was having so much trouble compiling them independently.

This is definitely a PBKC moment, please close and forgive?

[2017-02-01 03:53] ftessier commented on #227
Ok, chalking this one down in the PEBKAC column then! :-) But we ought to to clarify this in the instructions. Thanks!

[2017-02-01 03:53] #227 closed

[2017-02-01 04:16] crcrewso commented on #227
Okay so I finally got it to compile but I don't know where the executable went (on me) and I had to create a linux64.conf (I only had linux.conf)

[2017-02-03 17:52] AndrewWAlexander opened #230 "DOSXYZnrc source 20, number of control points"
When there is only 1 control point for a source 20 run, the code runs, but returns garbage results. It would appear that source 20 cannot be used with only one control point. As such, it might be useful for the simulation to return an error when only 1 control point is defined.

nset value must be > 1

[2017-02-03 17:56] ftessier commented on #230
@AndrewWAlexander can you confirm if this issue is related to and resolve by pull request #223?

[2017-02-03 18:00] AndrewWAlexander commented on #230
Sure I can do that

[2017-02-03 18:18] marenaud commented on #230
I think the code with the "bug" is around [line 4146 of srcxyznrc.mortran](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/user_codes/dosxyznrc/srcxyznrc.mortran#L4145) for interpolating the source position parameters
[code]
which explicitly assumes that there is more than one control point defined instead of having a special case if ```nset = 1```, as the code:

[code]
will always set K

[2017-02-03 19:57] #52 closed

[2017-02-03 21:15] ftessier commented on #230
@blakewalters can you look into this issue?

[2017-02-03 21:22] blakewalters commented on #230
Sure.  In time for this release?

[2017-02-03 21:31] ftessier commented on #230
No, for the develop branch. Although we can always merge in master if deemed necessary.

[2017-02-04 17:42] rtownson commented on #82
I believe this is now fixed in the master branch.

[2017-02-04 17:42] #82 closed

[2017-02-05 17:08] AndrewWAlexander commented on #230
Thanks Marc for finding the source of the issue. I agree, the gui fixes in [#223 ](https://github.com/nrc-cnrc/EGSnrc/pull/223), is unrelated to this issue.

[2017-02-06 15:22] #97 closed

[2017-02-06 19:20] #209 closed

[2017-02-08 21:00] blakewalters commented on #100
From the point of view of PEGS4, the only difference between a "Compound" and a "Mixture" is that in the former the composition is specified using the stoichiometric coefficients of the constituent elements, while in the latter composition is specified using the fraction by weight of each element.  This means that the same medium could be defined two different ways.  Since density correction files

[2017-02-09 14:41] aguadopd opened #236 "Cannot resize windows - dosxyznrc_gui"
I'm using v2016 for Windows, in Windows 10. When I use dosxyznrc_gui in my laptop, the _input_ window is not resizable (and probably others) and then I cannot complete the process. Is there any workaround?
Thanks in advance.

[2017-02-09 16:11] ftessier commented on #236
The only immediate solution is to install a **third-party utility** which allows you to drag and resize a window by clicking with modifier key, for example: winxmove, altdrag, easymove, and problably many others. Please let us know if you find a good one for Windows 10.

[2017-02-09 16:11] #236 closed

[2017-02-09 17:19] #230 closed

[2017-02-09 19:57] aguadopd commented on #236
Thanks a lot. Meanwhile I moved to Ubuntu, but will try later.

[2017-02-09 20:03] ftessier commented on #236
That is an even better solution! :+1:

[2017-02-13 09:33] ojalaj opened #239 "EGSnrc-configure-linux executable not found on the EGSnrc web page"
On https://github.com/nrc-cnrc/EGSnrc/wiki/install-EGSnrc-on-linux the user is instructed to "1.Download the  EGSnrc-configure-linux  executable from the EGSnrc web page".

However, at least I'm not able to find it opening the link. Only the documentation is there.

[2017-02-13 13:51] rtownson commented on #239
Thanks for reporting this! I've updated the wiki to point to the release page. Note that it points to the *latest* release, which currently is still the 2016 release (that will change soon).

[2017-02-13 13:51] #239 closed

[2017-02-16 15:45] #100 closed

[2017-02-16 15:45] #179 closed

[2017-02-19 00:13] magedm22 opened #243 "installation"
I am tired of the many attempts to no avail
The same error appears upon installation
all the step of installation were applied
I hope to get your help

/usr/bin/sh: line 0: cd: geometryegs_planes: No such file or directory
/usr/bin/sh: line 0: cd: geometryegs_pyramid: No such file or directory
/usr/bin/sh: line 0: cd: geometryegs_gstack: No such file or directory
/usr/bin/sh: line 0: cd: geometrye

[2017-02-21 12:49] ojalaj opened #244 "Error with EGS2017 & enabling Radiative Compton corrections"
After installing a pristine close of recent EGS2017 master branch I tried to enable Radiative Compton corrections on several user codes.

E.g. with dosxyznrc, prior to adding required line to Makefile I run 'make clean' and 'make' and everything went fine. Then I added the line and run 'make' and got:
Mortran compilation for dosxyznrc_170216.F
mortran3.exe: using following I/O units
  raw/hex data

[2017-02-21 13:20] rtownson commented on #244
Quick fix: remove the medium declaration (in `src/rad_compton1.mortran`). This is due to `medium` now being declared in `COMIN/USEFUL` along with the recent rest mass changes. I'll submit a PR.

[2017-02-21 13:31] #244 closed

[2017-02-21 22:01] mainegra commented on #243
Sorry to hear you are having problems installing! Please note that issues here are **proven** flaws in the system which could be caused by bugs or compiler compatibility.
You need to provide more information. It is confusing that you are using `mingw` and `bash` together. `MinGW` is the GNU compiler suite for Windows, while `bash` is a Unix shell commonly used on Linux systems.
- Can you describe

[2017-02-22 23:55] #243 closed

[2017-02-22 23:55] #203 closed

[2017-02-24 14:27] ftessier commented on #188
Indeed Tcl/Tk layout management in the EGSnrc guis is limited... @blakewalters can you estimate how much work would be required to properly resize text widgets with the window?

[2017-02-24 14:39] ftessier commented on #176
The installer simply looks for common compiler executables by default, but otherwise **should** accept anything that is in your `$PATH`. Ensure that you have an executable called `gcc-4.8`, say, in your `$PATH`; this could be a symbolic link to the actual compiler binary, for example (an alias won't work because aliases are not passed down to scripts). If that still does not work, please comment a

[2017-02-24 14:47] ftessier commented on #54
@crcrewso do you have any update on configuring EGSnrc under the Windows Subsytem for Linux (WSL)?

[2017-02-24 14:51] ftessier commented on #50
@crcrewso do you mean the ability to specify file locations with relative paths in input files?

[2017-02-24 14:57] crcrewso commented on #176
@ftessier I'm sure there must be a bug. I've installed the past gcc's using apt. When I type gcc-4.4, which is in my path, it won't go past the "Input the one you would like to use" line. I agree that while it should accept anything, it doesn't. This was tested on wsl and ubuntu. Is there something causing the dash or dot to break the parsing?

[2017-02-24 15:06] ftessier commented on #176
I will look into it! Just to confirm, you can issue the `gcc-4.4` command in your terminal and it works as expected?

[2017-02-24 15:09] crcrewso commented on #176
It does, I have also done the same tests for 4.6, 4.8, and 4.9.

[2017-02-24 15:10] ftessier commented on #176
Ok you are right, the configuration script for the C compiler does not allow anything but what is in the list! I will update this and push as soon as possible. Good find! :1st_place_medal:

[2017-02-24 15:16] crcrewso commented on #50
@ftessier I'm pretty sure that's what I meant, yes. I have quite a few different installs and modifying each one when they're moved from a test to a workhorse system is frustrating.

[2017-02-24 15:20] crcrewso commented on #54
I don't really. If you treat WSL like ssl'ing into a server without X then our documentation matches the capabilities. Where it breaks down is with getting X and the guis working. All of these issues have solutions in the WSL community, but they change between versions.

There is a new version of the WSL coming out in the Windows 10 Creators Update. I am hoping that after testing that version will

[2017-02-24 15:25] ftessier commented on #50
In what applications do you need this the most? I can see this as relatively easy for egs++ applications. For Mortran apps it might be more work to implement. @blakewalters can you comment on this?

[2017-02-24 15:27] ftessier commented on #54
So the EGSnrc configuration runs on WSL? What about running simulations, does that work as expected? If only the guis are not working, then I would propose we start documenting this in the Windows install Wiki. Presumably one can use the pre-compiled guis for Windows in conjunction with a WSL install?

[2017-02-24 15:29] crcrewso commented on #50
@ftessier dosxyznrc would be the most useful for my office mates. BEAM would be my first hope though.

[2017-02-24 15:31] crcrewso commented on #54
@ftessier I'd be happy to help with that, one suggestion would be that the documentation not go live until after the Creators Update, as they are finally launching a newer version of Ubuntu than 14.04.

[2017-02-24 15:31] blakewalters commented on #188
The way these GUI's were originally programmed, the user was supposed to be able to control widget size, if required, by changing the default font size in the .gui_default file.  This works to a certain extent, but there are now cases where a hard-coded font overrides that set in .gui_defaults, and also many of the widgets seem to have a hard-coded minimum width.

I'd look into: 1) eliminating ove

[2017-02-24 15:37] blakewalters commented on #50
Currently, you can specify HEN_HOUSE and EGS_CONFIG on the command line for all codes.  Why not the output directory as well?

[2017-02-24 15:37] ftessier commented on #54
Sounds good. If you want, create a new mardown wiki page called "Install EGSnrc on Windows WSL", and we can add it to the wiki. If you want to start from the existing Windows install wiki page, simply clone the wiki with `git clone https://github.com/nrc-cnrc/EGSnrc.wiki.git`. You won't be able to push but you can attach the file to a comment and we can include it (with acknowledgement).

[2017-02-24 16:06] #182 closed

[2017-02-24 16:17] ftessier commented on #50
I think what @crcrewso is looking for is the ability to specify relative or at least `$EGS_HOME` and `$HEN_HOUSE` env variables in the input file itself.

[2017-02-24 16:19] ftessier commented on #182
I was just about to suggest 1024 as a reasonable default! Thanks!

[2017-02-24 16:26] blakewalters commented on #189
Please attach your .egsinp file.  I'm unable to reproduce this problem with the template input.

[2017-02-24 16:30] crcrewso commented on #50
I really should be clearer, let me know if this makes more sense.

When dealing with input files that rely on phase spaces I would like to be able to set the phase space location by
`$EGS_HOME\TB\tb.egsphsp1 `
instead of
`\home\user\EGSnrc\egs_home\TB\tb.egsphsp1`

Since EGS_HOME should be set in the bashrc file I would like to see the parser for the input file first replace EGS_HOME with its defi

[2017-02-24 16:36] blakewalters commented on #50
Yes, this makes sense.  I agree that this would save a lot of headache for users.  This is a simple fix, given the getenv function in Fortran.  I'll make these changes...

[2017-02-24 16:56] renilps opened #251 "egs++"
how to set LATCH bit i EGS++

[2017-02-24 16:56] #251 closed

[2017-02-27 18:53] mainegra opened #254 "LD_LIBRARY_PATH for static Linux egs_view breaks C++ apps"
**Background:** The EGSnrc Qt GUIs are pre-compiled statically with the Qt library to save users the hassle of having to deal with this issue. `egs_view` in particular requires loading egs++ dynamically from where dso geometry objects can be loaded on demand via input files. For this to work on any Linux system with the pre-compiled `egs_view` executable, a pre-compiled version of the egs++ librar

[2017-02-27 20:12] blakewalters commented on #186
Hi @crcrewso:

Try using the attached version of beamdp.txt (copy it to $OMEGA_HOME/progs/beamdp/beamdp.mortran and type "make").  This redefines a couple of variables (NHSTRY, NHSTRY_LAST) as INTEGER*8 and also uses REAL*8 instead of REAL*4.  Do you still get the same issue?

If so, I'm wondering if it has to do with problems using addphsp to concatenate the phase space files.

[beamdp.txt](https

[2017-02-27 21:19] crcrewso commented on #186
@blakewalters Sure, I can do that testing within the next couple of days.

I didn't suspect addphsp since I've simulated beam over the entire data set and beamdp does show the number of particles within the phase space file, .

[2017-02-28 17:02] #254 closed

[2017-02-28 21:27] crcrewso commented on #186
@blakewalters first check, it worked! Will do a bit more testing shortly. My solution was to change a lot more variables to Int8 and Real8 which of course produced prodigious errors with library functions.

Thank you!

What testing would you like to see before submitting this upstream?

[2017-02-28 22:28] blakewalters commented on #186
Excellent to hear it worked @crcrewso!  Let me know when you've had a chance to test it on other files.  If you have no problems, then I'll go ahead and push the change to the repository.

Thanks!

[2017-03-01 18:07] ftessier opened #257 "Electron energy is offset by the electron rest mass"
(will post details soon).

[2017-03-01 18:41] #257 closed

[2017-03-02 18:18] MartinMartinov opened #260 "egs_chamber crashes when reading in cross-section data"
After pulling recent changes (February's commits) and recompiling my HEN_HOUSE and EGS_HOME areas, I'm finding my egs_chamber simulations crash when reading certain data files, namely spinms.data and the rayleigh data set (egslog doesn't name which file, but it happens when rayleigh scattering is turned on).  It happens with many of the input files that have worked over the last year for me.  I al

[2017-03-02 19:00] rtownson commented on #260
This was introduced by the rest mass initialization fix yesterday. PR #261 is now pending.

[2017-03-02 20:39] ftessier commented on #260
This is because we omitted to update the common block definition in the C interface to initialize the rest mass as well. Working on it:

[egs_c_interface1.macros](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/interface/egs_c_interface1.macros#L199-L205)
[egs_c_interface2.macros](https://github.com/nrc-cnrc/EGSnrc/blob/805881c9fb1a517b46e00acfd2f83b6cb5e92e52/HEN_HOUSE/interface/egs_c_in

[2017-03-02 21:24] ftessier commented on #260
Checking with `grep -iR "replace.*useful/" HEN_HOUSE/*` would seem to indicate that there are no other independent instances of the COMIN/USEFUL macro in the repository:
[code]

[2017-03-02 21:38] ftessier commented on #260
This was fixed in pull request #261 and cheery-picked to master via #262.

:1st_place_medal: to @MartinMartinov for reporting the issue!

[2017-03-02 21:39] #260 closed

[2017-03-02 21:45] MartinMartinov commented on #260
Well done!  Really good turn around time for this fix, I'll try it first thing in the morning.

[2017-03-07 02:05] crcrewso commented on #186
I've tested on a couple of files with both options 3 and 4. It seems to work as I need it to.

[2017-03-07 02:07] crcrewso commented on #213
please see Issue #186, I didn't realize that I had double posted the same issue. Thank you @blakewalters for posting a solution.

[2017-03-07 02:07] #213 closed

[2017-03-07 15:36] ftessier commented on #186
Reopening this issue: it should only be closed once the solution proposed by @blakewalters has been integrated into merged into the develop branch.

[2017-03-07 15:48] crcrewso commented on #187
The new failure after Pull #190 is that if histories exceed 1.99e12 Beam executes as if it were assigned 0 histories. I'm thinking this is the integer limit for int overflow. @blakewalters Does that sound right?

[2017-03-07 15:53] jw3126 opened #264 "egs_view fails to launch from bash command line"
The following syntax worked before, but does not work anymore:
[code]
I can still use `egs_view`, but have to select the file by hand. This is a problem when using `egs_view` as part of a script.

[2017-03-07 16:11] jw3126 commented on #264
If I spell out the path of `egs_view` I get a different error message:
[code]

[2017-03-07 16:14] ftessier commented on #264
Thank for reporting this @jw3126. As a quick solution, perhaps you can compile egs_view yourself as per these instructions: https://github.com/nrc-cnrc/EGSnrc/wiki/Building-GUIs-on-Linux

[2017-03-08 21:20] crcrewso commented on #176
@ftessier I've looked at your travis config. If you can get this fixed I would like to update the travis script to test against multiple versions of gcc.

[2017-03-09 08:06] jw3126 commented on #264
Thanks for looking into this issue. As you suggested I compiled `egs_view` myself. Now I still get
[code]
while
[code]
works. For my needs this is a sufficient workaround. Thanks again!

[2017-03-09 09:58] jw3126 opened #266 "egs_view raytracer crash"
The following input crashes `egs_view` due to a raytracer bug I believe.
[code]
The output of `egs_view` is:
[code]

[2017-03-09 13:24] rtownson commented on #266
This is due to using an axis of `0 0 0`. It must have a length along at least one direction. E.g. `axis=1 0 0`. I agree that the error handling could be improved.

[2017-03-09 13:24] #266 closed

[2017-03-09 14:17] jw3126 commented on #266
Thanks and sorry for the noise.

[2017-03-15 17:18] crcrewso opened #267 "Outdated reference to Qt3 in BEAMnrc manual PIRS 509a section 17 note 6"
I just noticed that this manual still refers to qt3 with outdated install locations. I'd like to mark this for review and updating prior to release 2018.

[2017-03-17 12:50] jw3126 opened #268 "Failure to find point inside cone stack"
Sometimes `egs_view` cannot find point inside `EGS_ConeStack`:
[code]
If I change the origin part of axis, `egs_view` then everything is fine:
[code]

[2017-03-20 20:18] crcrewso commented on #54
I have a page started that I'll be working from and testing once the Creator's Update launches. I should be able to send the procedure back to you after a couple of weeks of testing.

At present it's written from the point of view of a Linux user who has to install on a windows machine. Should I spend time expanding it to 'a window's user who has seen a tiny bit of Linux'?

[2017-03-22 08:41] ojalaj opened #269 "Negative usteps in DOSXYZ isource=20 with IAEA phsp source through shared library geometry"
Hello.

I'm using current `fix-misc_CM_fixes` branch with changes included in Fix #186 as well.

I'm experiencing negative ustep errors (+1000 always --> stopping the simulations) with DOSXYZnrc isource=20 runs using IAEA phsp source through shared library geometry. I don't know is this related to issues #187 or #90, but for some reason the errors are generated when using similar Varian-generated

[2017-03-23 16:23] DylanMK opened #270 "EGSnrc "g" application: lambda > lambdamax"
A warning message appears when attempting to gather values of mass-energy attenuation coefficient for energies above 1 MeV. On the other hand, this works just fine for energies equal or below to 1 MeV.

This error message is basically: `lambda > lambdamax`.

I have already posted about this issue on the Google+ forum:
https://plus.google.com/u/0/110361886935365433113/posts/7a7sM4cDdzZ?cfem=1

This

[2017-03-23 16:52] rtownson commented on #270
How did you go about updating - was it a fresh install or did you use `git pull`? If you used `git pull` then you will need to copy the new `g` code to your `egs_home` and recompile.

For example:
[code]

[2017-03-24 12:55] rtownson commented on #270
@DylanMK if that doesn't work please provide the input file.

[2017-03-24 13:27] DylanMK commented on #270
I have attempted a fresh install, although I am not certain if I have successfully uninstalled EGSnrc before re-installing it, since it does not seem to appear as a package or software in bash/linux (ie dpkg --list).

Attached is a EGS input file for mean adipose tissue.

Thank you.

________________________________
De : Reid Townson <notifications@github.com>
Envoyé : vendredi 24 mars 2017 08:55:

[2017-03-24 13:36] ftessier commented on #268
@jw3126 this is a known limitation of `egs_view`: if the geometry does not span the origin, egs_view often fails to find a point in the geometry. The viewer attempts to find the geometry by sampling a limited number of points around the origin on a fairly coarse grid. What would be needed instead is for every geometry object to be able to report it's bounding box in space; this is not implemented

[2017-03-24 13:36] #268 closed

[2017-03-24 13:43] ftessier commented on #264
This is rather strange behavior. What does `type egs_view` report on your system?

[2017-03-24 13:51] ftessier commented on #270
Please attach the file via the github issues interface, attachments don't survive via email reply.

[2017-03-24 14:00] ftessier commented on #218
Normally, `$(HEN_HOUSE)iaea_phsp/` gets compiled during the EGSnrc configuration step. If you issue `make` in that directory, the resulting object file is copied to `$HEN_HOUSE/egs++/dso/...`, where it should be found when compiling other EGSnrc applications.

Is the problem on a fresh install, or after a code update without reconfiguration?

[2017-03-24 14:30] jw3126 commented on #268
Thanks!

[2017-03-24 14:37] jw3126 commented on #264
Yes I was using master from summer 2016 on this system without issues. Its an Ubuntu 16.04. But I had some qt issues and it might be, that qt version or path changed between the two installations. Maybe that is related to the above undefined symbol error.

[code]
and
[code]

[2017-03-24 15:11] ftessier commented on #264
Ok, the current egs_view alias is meant to simplify the use of pre-compiled binaries... Just unalias egs_view and it should work as expected, using your own compiled egs++ shared library objects. You definitely want bash to launch the one you compiled:  `/home/admin/EGSnrc/HEN_HOUSE/bin/linux64/egs_view`.

I will close this issue, don't hesitate to re-open if needed.

[2017-03-24 15:11] #264 closed

[2017-03-24 19:15] #186 closed

[2017-03-24 19:37] DylanMK commented on #270
Here is the EGS input file for mean adipose tissue, as well as a screenshot of the g.mortran file, which contains neither of iausfl(34) = 1 nor iausfl(26).

Thank you
[adipose_egsinp.txt](https://github.com/nrc-cnrc/EGSnrc/files/868989/adipose_egsinp.txt)
![gmortran](https://cloud.githubusercontent.com/assets/26629493/24310831/ca8c51d4-10a7-11e7-9e0e-7b101f38d424.png)

[2017-03-25 18:35] rtownson commented on #270
Ok! This is an old version of `g`. It is important to note that there are copies of the user codes in each of the corresponding directories in `egs_home`. This idea here is that each user has her/his own egs_home where they can modify the codes. However, it does not get updated automatically when a new version of EGSnrc is installed (to protect your changes).

Either backup/remove your existing eg

[2017-03-28 12:08] ojalaj commented on #269
I've made some further debugging and the problem seems also to be with pure BEAMnrc ISOURC=21 simulations with the abovementioned phsp file, but it only happens, when for SYNCJAWS there are more than one different jaws positions. It doesn't matter whether it is step&shoot or dynamic. Please find an extract of my .egsinp file:
.
.
*********** start of CM SYNCJAWS with identifier Jaws  ***********
3

[2017-03-28 14:17] blakewalters commented on #269
Hi Jarkko:

Would you be able to send me the complete .egsinp file?  In the meantime, I'm going to take a closer look at how addphsp deals with the Varian Truebeam files.

Thanks,
Blake

[2017-03-28 15:27] crcrewso commented on #269
@blakewalters I didn't notice any issues with the addition when I summed all of the addphsp files. Do you have 250 GB of free space? If so I could send them (somehow)

[2017-03-28 15:46] blakewalters commented on #269
@crewso, where did you obtain the original files?  I'm assuming not from the IAEA phase space database.  I'm thinking I might be able to reproduce the error just with just a couple of them concatenated together.

[2017-03-28 15:50] ojalaj commented on #269
I've sent the .egsinp file by email.

[2017-03-29 01:42] crcrewso commented on #269
@blakewalters I have a myvarian account, I downloaded the newest V2 files straight from the website.

When concatenating there were times when the total counts broke. I got past it by redownloading any file where things started to break. their Download process is not the best

[2017-03-29 12:22] ojalaj commented on #269
Hmm, at least for me there have been no problems with downloading (from MyVarian).

[2017-03-29 23:35] DylanMK commented on #270
After having copied the code for g.mortran with the command lines you have posted earlier (ie git -pull and cp command), I have the following g.mortran file (snapshot) which meets the requirement at line 713.

![gmortran2](https://cloud.githubusercontent.com/assets/26629493/24481025/c9dcb87a-14b5-11e7-8959-fce67b2759af.png)

For which other codes should this be done?

Otherwise, I have tried remov

[2017-03-30 03:39] inamoto85 opened #273 "Error in compiling egs_view on Ubuntu 16.04"
Hello EGSnrc developers,

I was configuring EGSnrc on a fresh install of Ubuntu 16.04, and the installation of the GUI programs worked smoothly till the `egs_view` compilation. Issuing command `make` in the `egs++/view` directory gives the following error:
[code]
My compile tool versions are listed as follows:
[code]
any help and suggestion is appreciated.

Thanks for your time!

[2017-03-30 13:13] rtownson commented on #270
Your version of `g` is now up to date! I will close this issue as I assume the problem is resolved.

To uninstall it is sufficient to completely remove `HEN_HOUSE` (and `egs_home`), or perhaps the directory containing `HEN_HOUSE` (EGSnrc?) if it is a git repository. There will also be some environment variables (in `~/.bashrc`) if you want to clean up completely.

All of the codes in `egs_home` mu

[2017-03-30 13:13] #270 closed

[2017-03-30 18:57] rtownson commented on #273
@mainegra might have some ideas?

Until then try using the pre-compiled GUIs distributed on the [release page](https://github.com/nrc-cnrc/EGSnrc/releases).

[2017-03-30 19:19] crcrewso commented on #273
@rtownson I ran into the same errors, for QT4 when doing the QT5 migration work ( #263 ). I never did trace it, but I don't remember seeing it after defining QTDIR and QT_SELECT in bashrc.

[2017-03-30 20:35] rtownson commented on #70
I could not reproduce, using `pdfTeX 3.1415926-2.5-1.40.14 (TeX Live 2013)`.

[2017-04-03 13:35] rtownson opened #275 "Tutor examples in manual should be updated"
In the EGSnrc manual (pirs701) there are example outputs for the tutor codes. These are no longer accurate, largely due to the change in the value of the rest mass. This should be fixed, so users are able to verify results on their systems, and to avoid confusion.

[2017-04-05 04:35] ojalaj commented on #269
Hi @blakewalters - have you been able to re-produce the issue? May I help you any further on this?

[2017-04-05 14:35] blakewalters commented on #269
I haven't had a chance to try reproduce this yet.  I'm wondering if there's a way that @ojalaj or @crcrewso could send a couple of the Truebeam files to me.  Perhaps via Dropbox?

[2017-04-05 15:57] mainegra commented on #273
It seems the path to egs_config1.h is not known. This can only happen if EGSnrc was not properly configured. Proper configuration includes modifying the .bashrc resource file to setup the $EGS_CONFIG environment variable which points to the config file where $my_machine is defined. egs_config1.h is expected to be in $HEN_HOUSE/lib/$my_machine.
@inamoto85 maybe you tried to build the GUIs from the

[2017-04-05 23:01] crcrewso commented on #269
@blakewalters I'm going to read my MyVarian license agreement. If its acceptable by the usage agreement how should we touch base?

[2017-04-06 14:49] blakewalters commented on #269
Okay @crcrewso.  How large are each of these files?  Depending on the size, it may be possible to share them in a Dropbox.  Otherwise, I believe there are other large file transfer services out there.

[2017-04-06 15:18] rtownson commented on #269
It's pretty straightforward to get an account on MyVarian (at least it was several years ago), you could sign up for one Blake.

[2017-04-06 15:20] marenaud commented on #269
Be careful though, the license agreement that Varian makes you sign to have access to the phase space files is pretty restrictive and you give up a lot of rights to the work you do.

[2017-04-06 15:23] blakewalters commented on #269
Let me try that first.  For some reason I got the impression I have to be associated with a hospital/clinic.

[2017-04-06 15:28] marenaud commented on #269
In case this helps the conversation, on our cluster we have the Varian phsp files that we concatenated manually (just by doing cat phsp_1 phsp_2 phsp_3 > total_phsp) and with the IAEAheader created by simply parsing the individual phsp headers and adding up the particle counts. We **don't** get any negative ustep errors when using source 20 going through a shared library which includes SYNCJAWS wi

[2017-04-10 01:06] inamoto85 commented on #273
@mainegra sorry for the delay, my output of the concerned environment is as follows:
[code]
the GUIs have been built given these environment variables and the `make` in egsview still gives the same error. Does this confirm your doubts? Plus I do not have problems in building other user codes with the `egs_libconfig.h` file dependency.

[2017-04-12 16:19] FabioCpp opened #277 "EADL relaxations issue"
In the new release of EGSnrc the "EADL atomic relaxations" is enabled (set to true) by default, on the contrary of what is written in the documentation: "EGSnrc core manual", page 157.

Moreover, with a very simple Montecarlo (e.g. photon of 1 MeV with ecut=0.512 MeV and pcut=0.001 MeV in an infinite region) is possible to demonstrate that the total energy deposited in the material does not corres

[2017-05-01 23:56] adeadrock opened #280 "BEAMnrc hanging with multiple aperture BLOCK cutout"
I am trying to run an electron simulation with a somewhat complex cutout. I originally ran into an issue with some internal angles being greater than 180 degrees, so split the original polygon into multiple apertures. However, the simulation seems to hang without any obvious error message. Here is the cutout dimensions I am using:
[code]

I can sometimes get the simulation to run by changing the i

[2017-05-02 03:56] adeadrock commented on #280
After some experimenting this seems to be due to the fact that subregions 4 and 5 share the same start and end coordinates.

It runs without subregion 5 just fine, and runs if either of the x or y coordinates of the first or last points of either subregion is changed (i.e. changing the last point of subregion 5 to (-0.319, -8.24) results in a successful run).

[2017-05-02 04:46] luongoanh commented on #269
@ojalaj . Hi.Can you tell me how to get * .sequence inp file into SYNCJAWS (SYNCMLC ...). Thanks

[2017-05-03 15:52] mainegra commented on #277
@FabioCpp the answer is yes, as there is a mismatch between the EADL's and EGSnrc's binding energies. That EADL relaxation is ON by default is a glitch introduced by me in commit #99 where I was actually working on the GUI's and left the $EADL_RELAX macro ON accidentally. This should be reverted back to being OFF until all the issues are fixed. I am currently looking into this as part of the imple

[2017-05-03 20:04] FabioCpp commented on #277
Thank you for your reply.
I used a CdWO4 compound with 7.9 g/cm3 density, IRAYL=1, ECUT=0.512, PCUT=0.001
But the same spread in the total deposited energy, Etot, can be obtained also when considering an infinite region of lead (i.e. ELEM: PB, IRAYL=1, ECUT=0.512, PCUT=0.001), with Etot ranging between 1.000 MeV and 1.006 MeV, when considering 1 MeV photon beam.

[2017-05-09 12:40] rtownson commented on #205
Hi Pete, let me know if PR #284 is equivalent to your solution.

[2017-05-09 15:32] pgfwatso commented on #205
Hi Reid,
Yes, you've captured the spirit of our solution :)
Thanks!
-Pete

[2017-05-09 15:32] #205 closed

[2017-05-10 08:27] lichuanlong commented on #189
input file  from template use mahon6.spectrum ,
use 521icru.pegs4dat.

###############################################################################
#
#  EGSnrc edknrc application input file template
#  Copyright (C) 2015 National Research Council Canada
#
#  This file is part of EGSnrc.
#
#  EGSnrc is free software: you can redistribute it and/or modify it under
#  the terms of the GNU Affero G

[2017-05-10 08:30] lichuanlong commented on #189
[edknrc_mohan6.egsinp.zip](https://github.com/nrc-cnrc/EGSnrc/files/989173/edknrc_mohan6.egsinp.zip)

[2017-05-16 04:11] luongoanh opened #287 "convert 3ddose to RTdose"
Hi,
I want to transfer 3ddose files to RTdose.
We look forward to receiving your help.
Thanks.

[2017-05-16 17:07] rtownson commented on #287
I will address your question on the google+ page. Please reserve github issues for bug reports; thanks!

[2017-05-16 17:07] #287 closed

[2017-05-19 17:57] MartinMartinov opened #290 "Can configure be made to check for run permissions of secondary scripts before starting?"
A coworker of mine was having a lot of trouble installing egsnrc; after running configure, they couldn't make a single usercode work.  It turns out that one of the scripts invoked by configure didn't have run permissions, and hence didn't run, but finalize still went through and gave an 'ok' flag for everything.  Would it be possible to just add a quick check at the beginning of configure to make

[2017-05-19 22:13] ftessier commented on #290
Ok, not a bad idea! In the mean time if you have problems configuring, remember to run `git status` to see if your EGSnrc directory is clean. This catches permission flags as well.

[2017-05-23 13:57] mainegra opened #293 "Document the use of CT images with egs++"
There are some _neat_ undocumented options in the EGS_XYZGeometry :
- The EGS_XYZGeometry allows the use of a voxelized phantom defined via an *.egsphant file in the same way as it is done in DOSXYZnrc.
- There is also an option to voxelize an existing geometry. In this case an EGS_XYZGeometry is used and the medium of each voxel is determined by finding the region in the original geometry which c

[2017-05-23 18:09] blakewalters commented on #280
@adeadrock, would it be possible for you to provide the entire .egsinp file?

[2017-05-24 17:59] ftessier opened #294 "Incorrect energy grid in photoelectric cross section data for Z=88 and Z=90"
In pull request #282, @mainegra documented and fixed a bug in the photoelectric cross-sections for elements Z=88 and Z=90. The bug was traced to an error in the energy value immediately below the 100 keV point near their K shell binding energy `Eb_K`.

[2017-05-26 22:07] lwotzkeBCCA opened #296 "SYNCHDMLC gui not available in BEAMnrc gui"
It appears a gui has been written for the SYNCHDMLC component module, but it does not appear as an option when specifying a new accelerator in the BEAMnrc gui. This is despite being referred to in `beamnrc_gui.tcl` exactly the same way as other modules like as CONESTAK and FLATFILT. Is it possible this is because "synchdmlc" is 9 characters long? (CM Identifier is restricted to eight characters, m

[2017-05-29 23:16] kenjiyasue opened #297 "How to run BEAMnrc in histories 30billions"
I can't run BEAMnrc in histories 30 billion.
Could you teach me how to do that ?

[2017-05-30 12:54] rtownson commented on #297
This is a question for the [google+ page](https://plus.google.com/communities/106437507294474212197).

The easiest way is to do many separate (e.g. parallel) runs, and combine the results. This avoids hitting system limits.

[2017-05-30 12:54] #297 closed

[2017-05-31 03:45] crcrewso commented on #297
Does it work for 1.8 Billion? if so please see Issue #187

[2017-06-01 18:29] ftessier commented on #269
Fixed in pull request #278.

[2017-06-01 18:29] #269 closed

[2017-06-01 21:19] ftessier opened #299 "Feature request: variables and mathematical expressions"
It would prove useful in EGSnrc input files to be able to define variables (without having to create a loop with a `loop count = 1`). We could use the key `variable =` but otherwise the same syntax as for loop variables. While at it, we should add tokens `integer`, `float`, `string` instead of integers 0, 1, 2 on the value side to specify the variable type.

Patrick Saull suggested to add math for

[2017-06-02 21:07] ftessier commented on #189
Fixed in pull request #286.

[2017-06-02 21:07] #189 closed

[2017-06-02 21:09] ftessier commented on #294
Fixed in pull request #282.

[2017-06-02 21:09] #294 closed

[2017-06-02 21:23] ftessier commented on #277
@mainegra this is fully resolved in pull request #282, right?

[2017-06-02 23:13] FabioCpp commented on #277
Yes, thank you!

[2017-06-02 23:17] FabioCpp commented on #277
Yes, I think so

[2017-06-05 14:38] ftessier opened #300 "Composite geometry cannot refer to objects defined in include file"
Input files in egs++ can contain the key-value pair `includefile = filename`, which inserts the content of file `filename`, as if the content of the file had been written in the input file. However, composite geometries cannot find geometries defined in the include file. At least the envelope geometry suffers this problem. For example:

**box2.egsinp**
[code]
**include.egsinp**
[code]
Trying to vi

[2017-06-05 14:44] randlet commented on #300
FWIW this was my motivation for creating the [egs_glib](https://github.com/randlet/EGSnrc/blob/946b5c0a554ba43d3ba1f536dea0d96327c5d881/HEN_HOUSE/egs%2B%2B/geometry/egs_glib/egs_glib.h#L55) geometry type.

[2017-06-05 15:00] ftessier commented on #300
Ah yes! Excellent point; I had forgotten about that!

[2017-06-05 20:20] rtownson commented on #296
In `HEN_HOUSE/omega/progs/gui/beamnrc/create_accel.tcl`, change line 191,
[code]
to:
[code]
Similarly for line 285. I'll submit this fix as a pull request.

[2017-06-06 16:59] lwotzkeBCCA commented on #296
Thank you!

[2017-06-06 17:12] crcrewso commented on #300
This is fantastic for me!!! Consistency without hours of medit here I come!!!

[2017-06-08 18:03] rtownson commented on #109
I just want to note that currently this problem still exists. PR #289 fixed a bug in the first energy bin but did not resolve this issue.

[2017-06-09 18:15] rtownson commented on #296
This was fixed in PR #302.

[2017-06-09 18:15] #296 closed

[2017-06-12 21:22] skmartin opened #304 "Problem installing on remote cluster"
Hello, I have been able to install EGS a few times on personal computers, but in trying to set it up on a remote cluster I run into some issues with pegs, beam_build, and dosxyznrc.  I bolded the items where it said the compilation failed. I would appreciate any help or insight you are able to provide.

[code]

[2017-06-12 21:57] ftessier commented on #304
Let's see what happens when you try configuring with the script `$HEN_HOUSE/scripts/configure`.

[2017-06-13 15:02] crcrewso commented on #304
This is the only line that strikes me as strange

`
utilities.cpp: In function â��FILE* open_file(char*, const char*, const char*)â��:
utilities.cpp:243:46: warning: ISO C++ does not support variable-length array types [-Wvla]
    char *filename1 = new(char[filenameLength]);
                                              ^`

[2017-06-13 15:23] ftessier commented on #304
That is just a warning against the ISO C++ standard. The problem for @skmartin is that pegs4, beam_build, etc. seem to fail compilation. Why?

[2017-06-13 15:27] ftessier commented on #304
It is the mortran compilation that fails. Could this be related to the infamous 80-char line length limit currently set in mortran source code files? I see that the echoed file paths are pretty long.

[2017-06-13 15:34] skmartin commented on #304
Thank you for the replies:
configuring in shell stops at pegs compilation:
`###############################################################################
configure
###############################################################################

Copyright (C) 2015 National Research Council Canada

This program comes with ABSOLUTELY NO WARRANTY. This is free software, and you
are welcome to redist

[2017-06-13 15:35] skmartin commented on #304
I did try to check pegs.mortran for the 80 character length limit, but I did not find a line that went beyond the 80th column.

[2017-06-13 15:45] skmartin commented on #304
Additionally, I have been in communication with the project manager at Summit.  He indicated that the mortran3.exe may not be compatible with the Intel Haswell processors used on the compute cluster.  Is there a version that is compatible with this type of processor architechture.

[2017-06-13 15:47] ftessier commented on #304
Can you go inside the `$HEN_HOUSE/pegs4` directory and issue the `make` command, to get more insight into where it is failing?

[2017-06-13 15:50] skmartin commented on #304
`Generating pegs4_. from pegs4.mortran
make: d: Command not found
make: [pegs4_.] Error 127 (ignored)`

[2017-06-13 15:55] ftessier commented on #304
That is odd, something is up. Normally, this should say `Generating pegs4_linux. from pegs4.mortran` if you configuration name is `linux`. So it seems that your configuration name is missing. Then this `d` command? I don't get it. Any chance you can clone a fresh copy of the repository and try the configure script again, ensuring you clear your EGSnrc environment variables at the outset?
[code]

[2017-06-13 16:03] skmartin commented on #304
Yes sir, with a fresh clone it unfortunately had the same error:
`###############################################################################
configure
###############################################################################

Copyright (C) 2015 National Research Council Canada

This program comes with ABSOLUTELY NO WARRANTY. This is free software, and you
are welcome to redistribute it

[2017-06-13 16:04] skmartin commented on #304
Also same return trying to make the pegs folder

[2017-06-13 16:09] rtownson commented on #304
Do `echo $EGS_CONFIG`. Does that file exist? What is `my_machine` set to in it?

[2017-06-13 16:16] skmartin commented on #304
echo $EGS_CONFIG produced a blank line.

[2017-06-13 16:24] marenaud commented on #304
You could always try loading another version of gcc/gfortran/g++ on your cluster account. Depending on how it's set up, on big clusters you can often just do something like "module load gcc-5.0". However, if it's not set up that way, then changing versions will be a lot harder.

[2017-06-13 16:50] ftessier commented on #304
I don't think this has anything to do with the compiler. There is something amiss upstream in the setting of environment variables. Are you running on the `bash` shell?

[2017-06-13 16:54] ftessier commented on #304
@skmartin what is the content of your `$HEN_HOUSE/specs/linux.conf` file?

[2017-06-13 16:54] marenaud commented on #304
I just reproduced his problem by compiling in a folder with an @ in it (I noticed that he was compiling from a folder called skmartin@colostate.edu)
[code]

vs
[code]

[2017-06-13 16:55] ftessier commented on #304
Thanks @marenaud good find! :1st_place_medal:

[2017-06-13 16:57] skmartin commented on #304
I am running the bash shell.

HEN_HOUSE/specs/linux.conf

`###############################################################################
#
# EGSnrc config file
#
# Created by configure version 2.0 on Tue Jun 13 10:02:36 MDT 2017
#
# Attention: all changes you make to this file may be lost next time
# you run configure.
#
###########################################################################

[2017-06-13 16:58] skmartin commented on #304
apologies for the format error.

[2017-06-13 17:00] ftessier commented on #304
@skmartin just remove the `@` in your path and it should run smoothly.

[2017-06-13 17:06] skmartin commented on #304
Thank you sir, the @ is a part of all my folders because I am accessing from a different university, I will have to request permission to change the username from admin.
Once I do I will update.
Thanks.

[2017-06-13 17:09] ftessier commented on #304
Ok, in the mean time I will try to see if we can fix this issue on our side; the `@` character is not forbidden in filenames.

[2017-06-13 17:11] crcrewso commented on #304
@skmartin

Congrats on gettting onto summit. I'm more than a little jelous! I know I'm a little late to the party but you can tell your Sys Admin that I have tested against Haswell, Broadwell, Phenom II, Skylake, IvyBridge, SandyBridge, and raspbian in single install, Haswell, Broadwell, and Phenom II  in cluster with no mortran issues.

This was with a mix of GCC 4.4, 4.8, 5; ICC 12 and 15; and P

[2017-06-13 17:14] skmartin commented on #304
I will inform him.

[2017-06-13 17:48] ftessier commented on #304
The `@` character is interpreted in a special way by the mortran compiler, although I cannot find reference to that in the mortran documentation. It seems to stand for some sort of procedure call. @blakewalters do you know what `@` means in mortran? The upshot is that upon compiling `pegs4.mortran` with a config file that contains an `@` results in garbage fortran code starting on line 4162, where

[2017-06-13 17:52] blakewalters commented on #304
I don't know/recall what the @ does in mortran.

[2017-06-13 18:19] ftessier commented on #304
I checked the mortran source code, and it seems hopeless to decypher it enough to figure out what the '@' character stands for, let alone address the reported issue with '@' in file names. I added this restriction on path names in the wiki installation instructions and I am closing this issue. Thank you @skmartin for reporting.

[2017-06-13 18:23] #304 closed

[2017-06-13 18:23] skmartin commented on #304
Thank you all so much for the help.  It was very valuable.

[2017-06-19 15:12] packocrayons opened #305 "Configure script does not notify if compile flags cause an error"
If the compile flags are changed to something that cause gfortran to fail to compile, the configure script will exit with an error that it cannot find subroutines.

[2017-06-19 16:22] ftessier commented on #305
Details of the compilation failure are explicit in the `configure.log` file, although admittedly the console message is somewhat misleading. Logically, the script should fail here:
[code]
but this basic compilation test occurs **before** the compilation flags are selected. Solution is to perform a second basic compilation test **after** the flag selection.

[2017-06-23 15:20] packocrayons opened #309 "DOSXYZnrc segmentation fault when compiled with -O0"
Running dosXYZnrc after compiling with -O0 causes a segfault immediately after printing the line "Photoelectron angular sampling OFF". It does not occur with any other optimisation (-O1, -O2, -O3). This occurs with an example file (EX16MVp) as well.

[2017-07-04 17:26] rtownson opened #310 "Atomic relaxation method should be an input option"
The method and data to use for atomic relaxations should be an input option, rather than a macro in `egsnrc.macros`. This would allow for faster simulations without bound Compton in cases where is not relevant. Currently EADL relaxations are on by default, which requires bound Compton to be on.

[2017-07-05 13:38] mainegra commented on #310
Making EADL relaxation an input option is the next obvious step. Meanwhile, one can use Klein-Nishina (KN) even when the EADL relaxation macro is on by setting the input key 'atomic relaxations' to OFF. This is what happens anyway when $EADL_RELAX is set to .false. and KN is used with 'atomic relaxations' set to ON. It doesn't make sense to want atomic relaxations with KN.

[2017-07-05 13:46] mainegra commented on #310
Making EADL relaxation an input option is the next obvious step.
Meanwhile, one can use Klein-Nishina (KN) even when the EADL relaxation macro is on by setting the input key 'atomic relaxations' to OFF. This is what happens anyway when `$EADL_RELAX` is set to `.false. `and KN is used with `'atomic relaxations' `set to ON. Although one still gets atomic relaxations from photoeffect and EII but not

[2017-07-05 13:47] #277 closed

[2017-07-05 21:09] vahx129 opened #311 "egs_chamber unable to initialize more than 30 BEAM sources if they share a common parent phase space"
I've been struggling with the above jaws Varian IAEA phase spaces in the hopes of achieving TrueBeam VMAT simulations in egs_chamber. This pursuit led me to what I believe to be an egs_chamber issue.

To give some background, my simulations are meant to represent VMAT treatments from our TrueBeam StX linac with HDMLC. In egs_chamber, I'm simulating dose to an A1SL model volume embedded in a cylind

[2017-07-05 21:13] vahx129 commented on #311
![image](https://user-images.githubusercontent.com/20047851/27885202-c8293f7e-619c-11e7-9495-b130a3e98cc4.png)

Also just wanted to add an image showing how the 10 control point plans had tracks that closely resembled the TPS

[2017-07-06 16:53] crcrewso commented on #311
If I could, I'd like a copy of all of some sample input files and your module file. I just sorted out some huge issues with our new cluster and now we have no problem running 10B+ histories divided over 36 jobs from 1 source through shared libraries.

[2017-07-06 17:12] vahx129 commented on #311
Absolutely! Thanks!

I've created a zip containing all the relevant files I think you would need. The BEAMnrc inputs need to have the phase space source location updated and I create them in batch using Matlab so if you know the directory of a phase space you'd like them to point to I can send you updated files so that no manual renaming is necessary. Otherwise I've included the linac module, the

[2017-07-10 13:44] vahx129 commented on #293
Hi Ernesto,
This sounds awesome! I know you mentioned this could be done the same way as in DOSXYZ, but could you mention the exact syntax to have egs_chamber look for a .egsphant file? I wanted to give this a try but wasn't sure about the syntax. Thanks!

[2017-07-13 05:09] RogerS0h opened #312 "beamnrc.egsinp corrupted after saving"
I have correctly modelled a linac using BEAMnc. After saving the .egsinp file and exiting BEAMnrc GUI, the data of the CM of flatfilt is missing when reopened using BEAMnrc GUI. The data however, is present in the .egsinp file. Please advice

[2017-07-13 14:31] vahx129 commented on #311
Our cluster uses the torque system. I myself am not the admin but we have dedicated staff that manages the cluster. They know much more about it than me personally.

It might be worth emphasizing though that this issue I described here specifically was not encountered in a cluster simulation. This was just a regular Windows box.

But in general, my life would be exponentially better if the collisi

[2017-07-13 16:49] crcrewso commented on #311
How are you launching multiple simulations on a single windows box?

[2017-07-13 17:07] crcrewso commented on #311
Yes it does, thank you. I had thought that there were collisions with too many accesses of the same source at the same time but egs_chamber is only getting one particle at a time so there shouldn't be any IO issues there.

[2017-07-13 17:11] vahx129 commented on #311
I would be very interested to see if the issue can be reproduced then with the inputs I sent you. I got it to happen on 2 windows desktops and 1 windows laptop. Other than Windows I can't think of common denominators. One box was running EGS_2016 and the other two were using EGS_2017.

Ultimately I would want this to work on a cluster so if it can be made compatible with our cluster, that would be

[2017-07-13 17:38] crcrewso commented on #311
I'm thinking theres an issue with the PEGS file you sent

[code]

[2017-07-13 17:44] vahx129 commented on #311
Ahh sorry about that. TJM is the pegs file for the beam simulations only. Here's the other PEGS file for those materials

https://drive.google.com/file/d/0B6LPx-cahe65ODRCODZiTXgyQVE/view?usp=drivesdk

[2017-07-13 18:23] crcrewso commented on #311
my results so far:

I tried to cut down the file by only using the first 10 inputs, this worked.

recompiled everything with $MAX_unit=9999 and it successfully loaded 30 inputs before seg faulting

I'm going to have to leave this for the Dev team. If someone would like me to run any tests, as I have a working set on a cluster, please let me know.

[2017-07-13 23:44] vahx129 commented on #311
Good to know that the issue is reproducible at least! In the past I've crashed our cluster by running files like this even if I tried to terminate them almost immediately so I can't comment on how 30 or fewer sources would work on our cluster since I've been scared to try.

You mentioned that you're able to run multiple shared libraries that share a parent source without IO collisions. On our clus

[2017-07-14 03:09] lichuanlong commented on #189
I have checked out develop branch and compiled the EGSnrc and edknrc
rerun the input and the result still has Infinity.

[2017-07-14 04:20] crcrewso commented on #311
I'm thinking we should take this whole conversation off line. Could you either post to my branch or to google +. I am thinking that there might be better ways to get the information you need than using egs_chamber for something it wasn't designed for.

[2017-07-14 04:30] vahx129 commented on #311
Sure - could you reach out to me on hangouts? My email is rayjesconstruct@gmail.com. I could close this entire thread but should it be left open for its original issue regarding the 30 sources?

I'd be interested in alternative ways to obtain chamber-specific IMRT corrections if they do exist. I'm wary of using DOSXYZ because of voxel size limitations and like the speed and geometry flexibility of

[2017-07-14 05:19] lichuanlong commented on #70
when compile dir pirs701-egsnrc, it will stop here.
makedoc.sh script uses pdflatex, not pdfTex

[2017-07-15 18:37] rtownson commented on #189
@lichuanlong Make sure you copy the new application code from HEN_HOUSE into its corresponding egs_home directory before recompiling. This is a pretty common mistake when updating!

[2017-07-17 02:43] mchamberland opened #313 "Segfault with radionuclide source when region selection input is missing"
Trying out the radionuclide source example shown [here](http://nrc-cnrc.github.io/EGSnrc/doc/pirs898/classEGS__RadionuclideSource.html), I get a segmentation fault with `tutor7pp`. I haven't tried debugging it yet, but can someone try reproducing this? Attached is the input file.

[radionuclide.txt](https://github.com/nrc-cnrc/EGSnrc/files/1151512/radionuclide.txt)

[2017-07-17 12:50] rtownson commented on #313
The seg fault is due to missing the `run control` block in your input file. Add run control with `ncase` and it works fine. Apparently the check I used for its existence didn't work.

However, `ncase` was used in the source for something that has since been removed, so this dependence/problem will disappear in the next iteration.

[2017-07-17 14:58] mchamberland commented on #313
Oh wow! I blame the jet lag! -_-'

[2017-07-17 16:32] mchamberland commented on #313
@rtownson I tried again (with a run control block this time!). Photons work, but requesting electrons or anything else segfaults. Am I missing something else?

[test1.txt](https://github.com/nrc-cnrc/EGSnrc/files/1153328/test1.txt)

[2017-07-17 17:00] rtownson commented on #313
If you use region selection then it works. I'll look into fixing it so that it works without...

[code]

[2017-07-17 19:26] rtownson commented on #313
Around `line 309` in `egs++/sources/egs_radionuclide_source/egs_radionuclide_source.cpp`, you can fix this bug easily. I'll include this fix in the next iteration.

[code]

becomes
[code]

[2017-07-20 06:39] lichuanlong commented on #189
@rtownson Thank you

[2017-07-20 21:04] ojalaj opened #314 "egs_chamber either produces zeros or exceeds MXSTACK"
I've been testing/learning to use egs_chamber. I've used a simple test file having a cylinder water phantom with a thin disc of air, where a collimated beam from a linac (IAEA phsp file) hits. I've also edited the example files for testing purposes - the one with simple Farmer chamber using either no VRTs at all or then using those ones that are utilized in test files (RR/XCSE/IPSS).

I've run sim

[2017-07-21 19:07] mainegra commented on #314
@ojalaj in the latest version `$MAXRELAX` in `egsnrc.macros` was increased to 10000 from 5000 and the `binding_energies` array dimension increased from (6,100) to (30,100) to allow relaxations for all available atomic shells in **EADL**. Just to test this, reset these dimensions to their previous values or set `$EADL_RELAX` to **.false.** in `egsnrc.macros` and see if the problem _"goes away"_. Yo

[2017-07-21 21:19] ojalaj commented on #314
Thank you @mainegra for the info/tips. So far I've done the tests in interactive mode, since all the nodes on our cluster are reserved for one long parallel simulation (and practically all the HW resources are thus in use). This means that it might be that the egs_chamber simulation is running out of memory, so I need to wait for until the previous parallel simulation ends until I can really test

[2017-07-23 20:02] ojalaj commented on #314
I've now done testing on both clusters ('develop' branch from March and June), setting $EADL_RELAX either .true of .false, but the problem persists, i.e., with MXSTACK below certain threshold two test files without VRTs run OK and the third test file with VRTs fails and when MXSTACK is increased, all test files produce zero results. I've also monitored memory usage with top, but there has always b

[2017-07-24 15:42] mainegra commented on #314
Thanks @ojalaj ! This info is very useful!

[2017-07-25 07:35] ojalaj opened #315 "Controversial information whether to use total or kinetic energies in BEAMDP"
When running BEAMDP on command line and requesting (3) (Derive spectral distribution from ph-sp data), at the point where number of energy bins and emin and emax are given, it says: "Emin should be the same as ECUT used in the simulation with BEAM"

but on the next line it says:
"Emin, Emax (in MeV, kinetic only)"

To my understanding ECUT should be total energy, but on the line below BEAMDP asks

[2017-07-26 08:27] ojalaj commented on #315
Actually now I'm quite confused. Please correct me, if I'm wrong, but isn't particle total energy used in many places with EGSnrc-based codes (e.g. E in normal phsp file, ECUT and energy values for various VRT techniques in input files), but kinetic energies are also used in many places (e.g. E of monoenergetic beam used as source, energy spectra (?), E in IAEA phsp file). The question is that wha

[2017-07-29 19:56] mchamberland opened #318 "Allow .egsinp extension when parsing command line arguments"
This is a feature request. When running an application from the command line, it would be nice if we could leave in the .egsinp extension of the input file. For example:

`tutor7pp -i test1.egsinp
`
Right now, we get the following result:

[code]

I feel like it should be trivial to test for the existence of the .egsinp extension on the argument, but I couldn't quite get it working straight when I

[2017-08-01 13:59] blakewalters commented on #309
Hi @packocrayons:
What system are you running on?

[2017-08-01 14:01] blakewalters commented on #312
Hi @RogerS0h

Would it be possible for you to send your .egsinp file, or at least the portion of it relevant to FLATFILT?  Thanks!

[2017-08-01 17:16] crcrewso commented on #309
I'd like to know the compiler version too. I have not yet seen a gcc -o0 related compile issue.

[2017-08-04 19:15] rtownson commented on #315
After reviewing the code here is my understanding:

Yes, total energy is used for `E` in `.egsphsp` files and `ECUT`. Yes, kinetic is used in IAEA phase-spaces. However, in EGSnrc (and BEAMDP) when we read in an IAEA phase-space we add the rest mass to convert it to total energy.

In BEAMDP, it does correctly ask for the kinetic energy and treat the energy as such! After reading in a phsp electron

[2017-08-08 18:58] bwilfley opened #321 "Add method to get charge from EGS_BaseSimpleSource"
I wanted to get the charge of a BaseSimpleSource. Adding a method to EGS_BaseSimpleSource seemed like the right way:

`
    /*! \brief Get the charge of the source.
     *
     * Simply returns the value of the (protected) attribute q.
     */
    virtual int getQ() const {
        return q;
    };

`

[egs_base_source.h.zip](https://github.com/nrc-cnrc/EGSnrc/files/1209250/egs_base_source.h.zip)

[2017-08-09 21:10] mb860 opened #325 "Issue compiling egs_view on macOS Sierra"
Hi EGSnrc Developers,

Hope this is the right place to post as Im a still a beginner to coding and Monte Carlo. I've had no issues with compiling and running both egs_gui and egs_inprz. However egs_view gives the following error when compiling:

`clang++ -headerpad_max_install_names -stdlib=libc++ -mmacosx-version-min=10.7 -arch x86_64 -o ../../bin/egs_view.app/Contents/MacOS/egs_view .obj/main.o

[2017-08-09 21:11] mb860 commented on #325
Probably worth mentioning also that trying the latest precompiled egs_view just gives

`dyld: Library not loaded: /usr/local/opt/qt/lib/QtGui.framework/Versions/4/QtGui
  Referenced from: /Users/myusername/Desktop/EGSnrc/HEN_HOUSE/egs++/view/egs_view
  Reason: image not found`

[2017-08-09 22:49] mchamberland commented on #325
The [Google+ community](https://plus.google.com/u/0/communities/106437507294474212197) would be better for this question I think, but since we're here: did you set the DYLD_LIBRARY_PATH environment variable to point to your `egs++/dso/your_machine` directory?

[2017-08-10 00:14] mb860 commented on #325
I believe so.

There's code within `egsnrc_bashrc_additions` (which is being sourced in the shell environment) which should point the `DYLD_LIBRARY_PATH` to `egs++/dso/your_machine` directory automatically.

Have tried doing manually too before compiling and still have same error.

Will head on over to google+ if this appears to be error on my part.

Thanks for prompt reply!

[2017-08-10 02:36] mchamberland commented on #325
I guess this one is kinda obvious, but just to be sure: do you have a libegspp.dylib (or some other extension) file in your `egs++/dso/whatever` folder?

[2017-08-10 02:46] mb860 commented on #325
Valid question as I'm new to this!!

That file is in there. I actually temporarily copied it across to the referenced qt lib directory and then  managed to compile with no errors.

However when opening egs_view it simply closes itself again straight away. Figured this was happening because i'm probably not supposed to compile it with the  libegspp.dylib in my qt lib directory.

Thanks again :)

[2017-08-10 03:23] mchamberland commented on #325
The NRC developers will probably close this tomorrow since egs_view definitely compiles on macOS Sierra: I compiled it last month! ;)    So post on the Google+ EGSnrc community and we'll pick up from there.

[2017-08-10 03:26] mb860 commented on #325
Alrighty Cheers! Thanks again so much for your time mchamberland!

[2017-08-10 22:59] crcrewso commented on #325
I'm reading the original post. It looks like you're compiling egs_view with clang++ not g++. As I've been doing a lot of compiler testing recently I'd like to know how it came to be that your make file injected clang++ as the CXX variable.

As a sidenote, clang without flang is a guaranteed fail, and since flang is extremely new I'd suggest no one go down the clang road just yet.

[2017-08-11 03:28] mb860 commented on #325
Hi Crcrewso!!

Thanks for taking the time to read and get back to me.

To be honest i'm not sure how to make it compile with g++ instead. I *think* its related to the version of QT that i'm using,

where it seems to target `/usr/local/Cellar/qt@4/4.8.7_2/etc/qt4/mkspecs/unsupported/macx-clang-libc++/qmake.conf when running qmake. `

The makefile uses $QTDIR which we set to whichever copy of QT is

[2017-08-11 12:22] ftessier commented on #325
Hi @mb860, thank you for reporting this issue. The Qt4 package has indeed been upgraded in homebrew, so there is room for some problems. On a standard macOS install, g++ indeed uses clang++ under the hood (type `g++` in the Terminal); so this is not the problem as long as you selected `g++` during the EGSnrc configuration. I tried just now to compile egs_view on a fresh EGSnrc clone on macOS Sierr

[2017-08-11 12:41] ftessier commented on #325
@mb860 can you try installing `brew install cartr/qt4/qt-legacy-formula` and `export QTDIR=/usr/local/Cellar/qt-legacy-formula/4.8.7_3/` before compiling egs_view from a freshly cloned and configured EGSnrc? I was able to compile it this way; something is not quite right when using `qt@4` (although the problem it seems unrelated to your original issue) to generate the Qt Makefile. At any rate, let

[2017-08-11 15:39] #314 closed

[2017-08-11 15:40] mainegra commented on #310
PR #322 addresses this issue.

[2017-08-11 15:40] #310 closed

[2017-08-11 21:33] mb860 commented on #325
Hi @ftessier, thank you for looking into this!

I definitely selected g++ during configuration and has 'YES' and 'OK' for all tests that it does. Seemed to configure ok. Also did notice that qt@4 had issues with the $QMAKESPEC and wasn't sure what to do. Tried manually setting this to macx-g++ but ran into new errors.

Unfortunately I haven't installed any previous versions of qt4 and from what I

[2017-08-11 23:38] ftessier commented on #325
@mb860, if I understand correctly, as far as you know, your original linking problem is no longer an issue (or you don't know because you can't even compile egs_view)? I will leave this issue open because of the qt@4 `QMAKESPEC` undefined bug.

[2017-08-12 00:02] ftessier commented on #325
I was finally able to compile egs_view as expected with qt@4 by removing earlier qt kegs:
[code]
However the `open -a egs_view` does not work anymore, one has to launch the executable using the full path `$HEN_HOUSE/bin/macos/egs_view.app/Contents/MacOS/egs_view`.

[2017-08-14 08:33] mb860 commented on #325
Thanks for your help!

It compiles successfully now. As you say by removing the legacy formula.

As a side note, many of my errors occurred from installing gcc related things on brew in the past. There turned out to be some conflicting files. Not exactly sure why but cleaning up worked.

Just want to apologise for taking up your time on this one. I should've been more certain of a bug before comme

[2017-08-14 14:33] ftessier commented on #325
No worries, glad you got it working. Thank you for taking the time to report and investigate the problem, it is very useful to know when things don't work as expected, and why!

[2017-08-17 04:02] randlet opened #326 "If file specified by "include file" doesn't exist, a fatal error should occur"
Currently if a file specified in an `include file` input block directive does not exist a [warning is printed](https://github.com/nrc-cnrc/EGSnrc/blob/develop/HEN_HOUSE/egs%2B%2B/egs_input.cpp#L969-L973) and execution continues.  Shouldn't this `egsWarning` be an `egsFatal`?  I can't think of any scenario off the top of my head where you would want to continue running if a file you meant to includ

[2017-08-18 20:09] ftessier commented on #318
Note: pull request #324 incorrectly refers to this issue, instead of issue #314.

[2017-08-18 20:11] ftessier commented on #318
Fixed in pull request #320.

[2017-08-18 20:11] #318 closed

[2017-08-19 02:11] mchamberland opened #330 "Cannot open .egsdat file for writing if using .egsinp on command line argument"
This is a side effect from commit f93aa70effd3abae98ad6133e91445d5322f23fa.

If one leaves the `.egsinp` extension on the command line argument, then `outputData()` tries to open a `.egsdat` file with the double extension `.egsinp.egsdat`.

From `tutor7pp` with the example `test1.egsinp` file:

[code]

[2017-08-19 16:57] ftessier commented on #330
Indeed, we have to strip the `.egsinp` extension on the egs++ side as well! We'll fix this as soon as possible. Thanks.