[2021-01-09 18:47] dworogers opened #661 "DOSRZnrc does not include Rayleigh photons as scattered when separating dose components"
DOSRZnrc has options to separate scattered dose components from the total dose. Problem is that it does not count Rayleigh scattered photons as scattered and the dose they deposit is treated as primary dose.  Not a big problem except around 25 keV where the Rayleigh cross section is significant.

Easy patch: after the [line](https://github.com/nrc-cnrc/EGSnrc/blob/b735e209236878963c2133f08a77c10c7

[2021-01-11 18:29] blakewalters commented on #656
I think I see where the confusion arose, @jantolak:  Yes, we're going straight to the calculation of w from a gaussian distribution of angle wrt the Z-axis (specified by sigma_src19) and then calculating u and v instead of starting from a gaussian distribution of theta_x and theta_y and doing it the other way round.  I admit that having the same variable, win, store the random number and, ultimate

[2021-01-12 00:39] blakewalters commented on #646
Good catch, @rtownson and @xpetan!  Yes, this is a bug in dosxyznrc: Even with photon splitting, photons can still exit the geometry and, thus, should potentially still get output to the phase space file.  I'll go ahead a PR with the fix.

[2021-01-13 16:17] rtownson opened #663 "Geometry error in CD geometry"
It appears that one of the

[2021-01-13 16:29] rtownson opened #664 "New geometry error in CD geometry with conestack"
It appears that one of the changes we've made (it was probably me) to fix other geometry errors has introduced a new one for CD geometries, that arises in this very simple input file. It only seems to occur immediately with a phase-space source, for some reason. I haven't narrowed down the exact commit where this occurs yet, but it does disappear in v2017 and appear in v2018.

[code]

[2021-01-13 16:30] #663 closed

[2021-01-13 16:51] rtownson commented on #642
Did you end up solving this issue? Have you set the QTDIR environment variable?

[2021-01-13 16:55] rtownson commented on #644
Did you solve this issue? Have you set the QTDIR environment variable? It should point to the directory that contains bin/qmake (i.e. the path in QTDIR doesn't include /bin at the end).

[2021-01-13 17:30] rtownson commented on #655
Did you find an answer to this question? There is no simple input file option to do this at the moment, it requires a bit of c++ coding in cavity itself.

[2021-01-13 19:11] ojalaj commented on #664
What kind of error (message) you actually get?

[2021-01-13 19:23] ojalaj commented on #664
Ah, OK, I found it on Reddit.

[2021-01-14 12:29] BINDX93 commented on #655
Dear sir, I haven't figured out this problem. Thanks for your reply.

[2021-01-14 15:09] rtownson commented on #655
You'll want to look in the `ausgab()` routine of cavity, and find instances of `dose->score(`. This is when dose is being recorded. If you put an `if` statement around that, you could check the charge of the particle to score only dose from electrons, e.g. `if(the_stack->q[np] < 0)`. This is off the top of my head, but seems to come close to what you're looking for. If you want energy instead of d

[2021-01-14 18:38] crcrewso commented on #650
@SiebertChris a few of the devs helped me play whack-a-mole with long filename issues

Please try compiling and running from the Develop branch and let us know if it helps (#36 )

[2021-01-15 16:20] jantolak commented on #656
Not sure if this is appropriate for me to do, but I'll just close this.

[2021-01-15 16:20] #656 closed

[2021-01-18 20:22] pakoliver commented on #6
I'm not sure if this is the correct place to make this comment, but I needed to use this workaround for my EGSnrc installation on Mac OS Big Sur. My understanding is that on newer Mac OS versions, there's new feature called System Integrity Protection, which silently ignores the DYLD_LIBRARY_PATH environment variable (see here: https://developer.apple.com/library/archive/documentation/Security/Con

[2021-01-18 20:32] ftessier commented on #6
Thanks @pakoliver for this update. Arghh, I understand Apple's will to buttress security, but it is making it hard on non-macos deverlopers. VirtualBox? 🙂

[2021-01-25 19:44] mainegra opened #665 "Bug in g when using multiple energies"
When using multiple energies, the accuracy required is systematically reduced from one energy to the next. High precision calculations with several energies will never finish because the desired precision becomes virtually zero.
Reported by @dworogers

[2021-02-05 07:09] doris0927 opened #668 "Fail to combine two phsp files into one"
I'm running Version 3, 19 November 2007 of EGSnrc.
Then I got the following error message when using the option 10 in Beamdp GUI to combine four IAEAphsp into one.(ELEKTA_PRECISE_6mv_part1.IAEAphsp,  LEKTA_PRECISE_6mv_part2.IAEAphsp, LEKTA_PRECISE_6mv_part3.IAEAphsp, LEKTA_PRECISE_6mv_part4.IAEAphsp)

`Sorry, this code has not been compiled with the IAEA phase space handling macros.`

I've tried t

[2021-02-05 15:09] rtownson commented on #668
Take a look in the `Makefile`, e.g. `progs/addphsp/Makefile`. Does the sources line include `IAEA_PHSP_MACROS`? If not, add it and recompile. It should look like this:

[code]

[2021-02-05 16:00] rtownson commented on #668
It is also possible that IAEA files were not supported in 2007 - I'm not sure. So if the above solution fails to compile, you may need to install the latest version of EGSnrc.

[2021-02-07 07:42] doris0927 commented on #668
Thanks a lot. I’ll try the above solution!

[2021-02-08 02:54] doris0927 commented on #668
Thanks again for providing the above solution. After checking the `makefile`, I found that the line you mentioned has already included.

![1612752306250](https://user-images.githubusercontent.com/78585226/107170443-4cbb8e80-69fb-11eb-9abc-5e49ea1dfd7e.jpg)

As for the second possible reason you mentioned about the version of my EGSnrc, I am wondering the reason why the version I installed was the

[2021-02-08 20:21] crcrewso commented on #668
With that era of egs you have to make the iaeaphsp folder, then remake the entire stack. I don't remember where it was exactly, probably henhouse omega or something. if you make inside there, then rerun configure entirely, you should be good to go

[2021-02-11 16:21] VSpan7 opened #669 "dual energy source"
I want to simulate a dual energy x-ray kVolt source. My thought is to use a collimate source type of source. Do you know anything more appropriate?

[2021-02-11 17:03] rtownson commented on #669
Hi @VSpan7, the best place to ask this question is on our [subreddit](https://www.reddit.com/r/EGSnrc/)! We try to reserve this space mostly for bugs, and on the reddit page you might also get lucky with more (and faster) feedback from the community. If you don't mind posting there, please include more details like which egs application you're planning to use, maybe the quantity you're looking to

[2021-02-11 17:07] rtownson commented on #655
I'm closing this issue for now. If you have more questions about this, consider asking them on our [reddit page](https://www.reddit.com/r/EGSnrc/) - you might get a faster response!

[2021-02-11 17:07] #655 closed

[2021-02-12 16:01] doris0927 commented on #668
Thank you! I’ll try the solution you provided.

[2021-02-17 04:24] finjoetri opened #670 "Virtual BoX Error"
I tried it to install on virtual box linux and I am getting this error

cd ~/EGSnrc/HEN_HOUSE/egs++/view/ && make --quiet --print-directory
make: Entering directory '/home/username/EGSnrc/HEN_HOUSE/egs++/view'
gmake[1]: Entering directory

'/home/username/EGSnrc/HEN_HOUSE/egs++/view'
/usr/bin/ld: cannot find -legspp
collect2: error: ld returned 1 exit status
gmake[1]: *** [Makefile_linux:183: ../.

[2021-02-17 09:23] finjoetri opened #671 "Mac OS Big Sur configuration Error"
I ran  `./HEN_HOUSE/scripts/configure` in Mac and I got following error:
[code]

[2021-02-17 18:19] rtownson commented on #670
Can you post the full installation log, found in HEN_HOUSE/log?

[2021-02-18 02:09] finjoetri commented on #670
hi, There is no log files found in HEN_HOUSE/log. I tried rerunning cd ~/EGSnrc/HEN_HOUSE/egs++/view/ && make --quiet --print-directory but still it is not generating any logs

[2021-02-18 04:04] doris0927 commented on #668
Thank you for your attention for this issue.

I found out that there's an existing `iaea_phsp` folder in `HEN_HOUSE`. It seemed that the `.IAEAphsp` file should be in the same directory with `iaea_header`. Also, it seemed that they should be named the same. Please check the following picture.

![3](https://user-images.githubusercontent.com/78585226/108303314-ab91bc80-71e0-11eb-91ec-6a54cc864052.PN

[2021-02-18 14:32] rtownson commented on #670
If there's nothing in the log directory, then it seems like you haven't run the EGSnrc installer yet. Have you followed all of the installation instructions?

[2021-02-18 17:02] finjoetri commented on #670
Hi, I was following the installation steps on https://github.com/nrc-cnrc/EGSnrc/wiki/install-EGSnrc-on-VirtualBox.

I ran this line ./HEN_HOUSE/scripts/configure.expect linux.conf 1 which I assume is an installation command.

[2021-02-18 17:14] finjoetri commented on #670
If I run ./HEN_HOUSE/scripts/configure, I am getting error as "
Creating egs_config1.h ...                        OK
Creating egs_c_utils.h and egs_c_utils.c ...      OK
Compiling egs_c_utils.c ...                       OK
Creating load_beamlib.o ...                       OK
Creating load_vculib.o ...                        OK
Creating read_write_pardose ...                   OK
Creating dosxyznrc

[2021-02-18 17:49] joeydumont commented on #670
Might be related to https://github.com/nrc-cnrc/EGSnrc/pull/648, but you should have a `configure.log` somewhere that will tell you the exact problem.

[2021-02-18 18:58] rtownson commented on #668
The 2007 message that you saw is just a mistake - it hasn't been updated so I'm sure you're on the 2020 version.

In the `HEN_HOUSE/omega/progs/addphsp` directory, could you do 'make clean; make'. In the printed output, does it list that it is appending `iaea_phsp_macros.mortran`? I wanted to also double check that you are doing a 'make clean' first, because that could make a difference.

Next, tr

[2021-02-19 04:32] doris0927 commented on #668
Thank you so much for your kind reply.

First, I tried to do `make clean; make` in the `HEN_HOUSE/omega/progs/addphsp` directory.
Here is the output. `iaea_phsp_macros.mortran` is listed.

![1](https://user-images.githubusercontent.com/78585226/108456008-4a362000-72aa-11eb-8d59-1d49147b16ce.PNG)

Then I tried to rename the `.iAEAphsp` and `.IAEAheader` files according to your instruction.
However,

[2021-02-19 06:49] ojalaj commented on #668
@doris0927  You should have not touched to iaea_header.cpp and iaea_header.h, so rename them as they were. In addition to those IAEAphsp files, you should also download the corresponding IAEAheader files, I assume from https://www-nds.iaea.org/phsp/photon1/? Then rename them correspondingly and follow the instructions provided by @rtownson. All this is also well documented in [BEAMnrc manual PIRS-

[2021-02-19 08:34] doris0927 commented on #668
Thank you @rtownson , @crcrewso and @ojalaj for your help.

It worked in the end after I renamed the correct `IAEAheader` and do `addphsp ELEKTA_PRECISE_6mv ELEKTA_PRECISE_6mv-combined 4 1 1 1` in the `/HEN_HOUSE/iaea_phsp` directory !!!

![25](https://user-images.githubusercontent.com/78585226/108478985-21c11c80-72d0-11eb-88b8-724de3cd57e4.PNG)

![26](https://user-images.githubusercontent.com/785

[2021-03-04 17:58] MartinMartinov opened #673 "Question about userScoring in egs_application"
I came across an issue when trying to score alphas generated in egs_radionuclide_source in my custom usercode, which seemed like a bug to me (though I might be wrong).  After the ausgab object scoring implementation, there's this section in EGS_Application::userScoring(int iarg, int ir):

`if (ir > -1) {
    return 0;
}
else {
    return ausgab(iarg);
}`

which seems to only invoke ausgab when ir

[2021-03-08 21:28] rtownson opened #674 "Mortran codes fail to run with -fbounds-check flag"
The mortran codes crash if they have been compiled with -fbounds-check. The error looks like this:

[code]

Thanks to /u/pvoytas for reporting this: https://www.reddit.com/r/EGSnrc/comments/m0p1r9/usercode_fortran_runtime_errors_with_boundscheck/

[2021-03-12 15:01] Fissionary opened #675 "DOSXYZnrc Compilation Error, gfortran.exe Error. Location not having Directory Separators"
I am running EGSnrc on Windows 10. BEAMnrc is runnig just fine. But I am getting an Error while Compiling DOSXYZnrc codes (even examples). It is similar to #590 issue. In that thread the user changed the computer itself which isnt an option for me. So please help
[config_win3264.log](https://github.com/nrc-cnrc/EGSnrc/files/6130787/config_win3264.log)
This is my log file.

![Dos](https://user-imag

[2021-03-14 11:19] dworogers opened #676 "Unit conversion 1.602E-10 in DOSRZnrc, DOSXYZnrc etc is off by 0.011% vs current data"
Various RZ and other codes need to convert from scored MeV/g to Gy. Using latest codata values the conversion is 1.6021766E-10 rather than 1.602E-10 used in the codes, i.e. 0.011% higher. Not a big deal but might as well have it exact.

[2021-03-23 16:21] dworogers opened #677 "edknrc needs some array size checks to avoid mysterious crashes"
In edknrc, if $MXREG is not set properly or at least large enough, the code just  stops with no explanation.
It would be useful to have a check at the start of execution that $MXREG >=$MAXRADII*$MAXCDOSE+1
and that $MAXRC >= MAX($MAXRADII,$MAXCDOSE)
$MAXRADII+1 > $MAXRADII
$MAXCANGLE >= $MAXCDOSE-1

[2021-03-25 15:53] rtownson commented on #664
Apparently adding `edep_local` to `struct EGS_Epcont` in egs_interface2.h was the cause of this. Commenting out one or more of the `EGS_Epcont` parameters in `egs_interface2.h` makes the geometry errors go away! @mainegra @ftessier any idea what's going on here?? It seems that the number of parameters in `EGS_Epcont` plays some role, but the parameters from the interface match what you find in `eg

[2021-03-25 16:41] crcrewso opened #678 "[Feature Request] egs-parallel settings file of some kind"
_Originally posted by @ftessier in https://github.com/nrc-cnrc/EGSnrc/pull/628#discussion_r601597149_

This is to track a feature that came up in discussions re the new egs-parallel  submission system. It would be nice if the default values were definable globally per user, so the user doesn't have to remember their flags.

[2021-03-25 16:43] ftessier commented on #678
On the other hand, maybe it is better if users learn the flags 😆

[2021-03-25 16:49] ftessier commented on #678
I am moving this to the new Discussions tab, so as to keep Issues for actionable bugs.

[2021-03-25 16:49] #678 closed

[2021-03-25 17:57] ftessier commented on #664
Woah, there is an unrelated bug with the order of the variables `Epcont->vstep` and `Epcont->tvstep`, compared to the Mortran side! Fortunately, these variables are never used on the egs++, but I will fix that in passing.

[2021-03-25 17:58] rtownson commented on #664
I saw that also!

[2021-03-26 11:48] ftessier commented on #664
I can't figure it out. The structs seems correct (modulo) the inversion of `vstep` and `tvstep`). So my only possible conclusion at this point in time is that the code is correct, and by making it correct it is revealing an existing bug elsewhere? That's a stretch I know. Other things to consider:
- are you testing from a fresh clone?
- is it necessary to reconfigure the code to get the interface

[2021-03-26 13:35] rtownson commented on #664
It was not a fresh clone in my case, but it was for the users who found the bug. I don't believe it's necessary to reconfigure, all you need to do is recompile the application for the interface to be updated. I'm using the default compiler flags except with C++11, but the other users were using the defaults only.

I think you could be right that this part of the code is fine and just highlighting

[2021-03-26 21:02] ojalaj opened #681 "EGS_XYZGeometry documentation: x/y/z-planes vs. x/y/z-slabs?"
In https://nrc-cnrc.github.io/EGSnrc/doc/pirs898/classEGS__XYZGeometry.html it suggests that:

The other new possibility to define a XYZ geometry is

[code]

which should be self explanatory.

However, in a simple simulation, using above with x/y/z-slabs resulted in very long simulation times (e.g. 44-fold) compared to x/y/z-planes, as in other examples. Why is this happening and which one is righ

[2021-03-26 21:08] ftessier commented on #681
Hi @ojalaj, that is indeed quite strange. Are you sure that your two inputs define the same geometry? Can you share a small sample input that reproduces the problem?

[2021-03-26 21:18] ftessier commented on #681
As far as I can tell the implementation is essentially the same, except for the constructor variant:
[code]

[2021-03-26 21:25] ftessier commented on #681
Implementation of the slab constructor seems fine to me:
[code]
If you have a simple example input on hand, I will take a look at it.

[2021-03-26 21:28] ftessier commented on #681
Note by self-explanatory, what the author meant was "`Xo` is the position of the first x plane, `Dx` is the uniform slab thickness, and `Nx` is the number of slabs". Perhaps you interpreted "self-explanatory" differently? 😉

[2021-03-26 21:30] ojalaj commented on #681
Hi @ftessier ! Actually, the reason is that! Sorry about this - I got confused with the notations :(

[2021-03-26 21:30] #681 closed

[2021-03-26 21:31] ojalaj commented on #681
@ftessier I'm have not reached your level of "self-explanatory" :D

[2021-03-26 21:33] ftessier commented on #681
I will expand the "self-explanatory" in the doc right away. Coincidentally you are the second person this week to trip on this notation. It is beyond me why anyone would write "self-explanatory" in documentation, rather than spell it out...

[2021-03-26 21:44] ftessier commented on #681
Let me know if this is clearer:

[2021-03-26 21:49] ojalaj commented on #681
Yes - this is now "self-explanatory"^2 :D

[2021-04-02 19:48] ojalaj opened #682 "Incorrect HOLEPOS for HALF TARGET & ISOCENTER leaves in SYNCHDMLC?"
When using a value, let's say "a" for HOLEPOS with HALF TARGET & ISOCENTER leaves and "b" for QTR TARGET & ISOCENTER leaves, they are correctly listed in ....wX.egslog file, but in ....wX.egslst in lines after:
[code]
only value "b" is shown. Actually there is something weird going on in the listing above - in my .egsinp I have defined the dimensions of all the five different leaf types (which I n

[2021-04-15 15:13] MartinMartinov commented on #673
Maybe I should have titled this as a potential bug?

[2021-04-15 15:48] rtownson commented on #673
Yes, looks like a bug to me and you're probably right about the fix! Sorry for the delayed response.

[2021-04-15 15:57] MartinMartinov commented on #673
No problem, looking back I can see my title definitely was not the clearest :)

[2021-04-16 15:47] #65 closed

[2021-04-16 15:49] #625 closed

[2021-04-16 15:50] #605 closed

[2021-04-16 15:54] #564 closed

[2021-04-16 15:54] #563 closed

[2021-04-16 15:55] #551 closed

[2021-04-16 16:00] #538 closed

[2021-04-16 16:01] #537 closed

[2021-04-16 16:02] #391 closed

[2021-04-16 16:03] #356 closed

[2021-04-16 16:04] #333 closed

[2021-04-16 16:04] #299 closed

[2021-04-16 16:06] #54 closed

[2021-04-17 18:52] #661 closed

[2021-04-21 18:44] ftessier commented on #671
I can confirm this issue. At my end it occurs because of a library version mismatch for `libquadmath`. Working on a solution!

[2021-04-21 18:46] ftessier commented on #671
My error occurs at a different point in the configuration. @finjoetri can you share your configuration log file `HEN_HOUSE/scripts/configure.log`?

[2021-04-21 19:05] ftessier commented on #649
The `-j12` flag for `make` has been removed in Release 2021, specifically in commit b08afa94d5ca11a421ea9873f17a1359f4025412.

[2021-04-21 19:05] #649 closed

[2021-04-21 19:16] ftessier commented on #512
@ojalaj is this still an issue?

[2021-04-21 19:18] ftessier commented on #439
@vahx129 can you confirm whether this is still an issue on Windows?

[2021-04-21 19:20] vahx129 commented on #439
Let me check in the next week or so as I'm traveling but I'll definitely let you know!

[2021-04-21 19:27] ftessier commented on #438
I see that #499 was merged and there were additional improvements regarding lock file issues in Release 2021, notably the uniform run control object (#588) and the new `egs-parallel` scripts (#628). Hence I will close this Issue for now. Don't hesitate to reopen it if the infamous lock file rears its ugly head again 😄 .

[2021-04-21 19:27] #438 closed

[2021-04-21 19:35] ojalaj commented on #512
@ftessier Haven't tested on newest release, but tested on 2020 release and the answer is yes - I was still able to reproduce this issue.

[2021-04-21 20:24] ftessier commented on #512
Then it is probably still active then (I don't recall any changes to pegsless in Release 2021. I will check it here, thank you! 🙏🏻

[2021-04-21 20:39] ftessier commented on #650
I can confirm that this issue arises when the absolute path to the `.conf` file in `$HEN_HOUSE/specs/` directory is larger
than 75 characters. String length limits in Mortran is a real nuisance in EGSnrc. I see that we have left Issue #36 dangling for years now, I suggest we increase the line length to 132 chars on `develop` branch right away!

Of course, that does not solve the fundamental issue

[2021-04-21 20:50] ftessier commented on #639
@mxxo The entire configuration logs are printed out at the end of the CI run, for inspection. This is available via the `Details` link, and then a link to open the job on Travis (but maybe this is only available for repo admins, I don't know):

![image](https://user-images.githubusercontent.com/1444241/115618745-1a62c300-a2c1-11eb-8df2-2ac8fb8815ed.png)

Now I presume the builds were failing to th

[2021-04-21 20:50] #639 closed

[2021-04-21 21:04] ftessier commented on #543
This has been done in commit d06cc9350ffb92ffde4c5a9c98476797da9bb756, which will eventually be merged into the next release via the `small-stuff` branch, so I am closing it now. Thank you @dworogers!

[2021-04-21 21:04] #543 closed

[2021-04-21 21:05] ftessier commented on #543
I checked that the string `KERMA-INSERT` currently does not exist in any file in the EGSnrc repository.

[2021-04-21 21:10] ftessier commented on #609
Where are we on this issue? Was it resolved pull request #648 merged recently?

[2021-04-21 21:13] #593 closed

[2021-04-22 12:31] ftessier commented on #512
I am not able to reproduce this problem in egs++ (using the `egs_app` example on a fresh EGSnrc clone). Here is the content of my `mat.dat` file:

[code]

Upon running with this, the simulation runs as expected and the relevant part of the output shows:

[code]

Maybe this is a BEAMnrc-specific issue, I will now try with that. In the meantime @jarkko can you share the relevant part of your materia

[2021-04-22 12:55] ftessier commented on #512
Ok, I am amble to reproduce this with BEAMnrc. Looking into it.

[2021-04-22 13:17] ojalaj commented on #512
@ftessier Good to hear! BTW - I'm not @jarkko, but @ojalaj .

[2021-04-22 13:23] ftessier commented on #512
Oops! 🤦🏻  Thanks for pointing that out... (although `@jarkko` is also from Tampere! 😄

[2021-04-22 21:34] ftessier opened #704 "Fix compilation and guis on macOS"
This is issue is replacing a few recently closed issues regarding macOS compilation, which has become increasingly difficult in the past few years. I will integrate here the individual issues that have been reported in this regard:

- [x] #150 PreviewRZ does not work on macOS
- [x] #325 Issue compiling egs_view on macOS Sierra
- [x] #642 EGSnrc installation issue on Mac OS Catalina 10.15.7
- [x] #

[2021-04-22 21:35] ftessier commented on #150
Migrated to #704.

[2021-04-22 21:35] #150 closed

[2021-04-22 21:36] ftessier commented on #325
Migrated to #704.

[2021-04-22 21:36] #325 closed

[2021-04-22 21:38] ftessier commented on #642
Migrated to #704.

[2021-04-22 21:38] #642 closed

[2021-04-22 21:39] ftessier commented on #671
Migrated to #704.

[2021-04-22 21:39] #671 closed

[2021-04-22 21:41] ftessier commented on #644
Migrated to #704.

[2021-04-22 21:41] #644 closed

[2021-04-22 21:46] ftessier commented on #300
This was resolved in commit 9bdd1b7461cd4b1f4e5df461c54b2c0a159c7b4d.

[2021-04-22 21:46] #300 closed

[2021-04-22 21:50] ftessier commented on #495
As far as I can understand, #666 (😈 ) resolved this problem. Don't hesitate to reopen if it remains an issue!

[2021-04-22 21:50] #495 closed

[2021-04-22 23:07] ftessier commented on #49
The reason IAEA is compiled after `addphsp` and friends is that the `configure` script deals with Fortran and C compilation, and then calls the `configure_c++` script to handles all the C++ configuration and compilation (IAEA library is c++). I have re-written a much cleaner version of the `configure` script where everything is integrated together, properly POSIX and documented, etc.; but left tha

[2021-04-22 23:21] ftessier commented on #367
Does anyone know if this issue has been resolved through "recent" commit dealing with boundary tolerance and CD geometry errors since 2017? For example: #383, #388, fd008c25c2a33ac86fdca2946dabbca8edc86b8a.

[2021-04-22 23:26] ftessier commented on #383
As far as I can see from the conversation, this has been resolved by pull request #462. Don't hesitate to reopen if this is still an issue!

[2021-04-22 23:26] #383 closed

[2021-04-22 23:31] ftessier commented on #580
Thanks for taking the time to report this @karnigen! I will try to reproduce this bug at my end with the input your provided.

[2021-04-22 23:32] ftessier commented on #614
Indeed, I never _completely_ finished the octree geometry (in terms of proper testing and polishing up the input interface for it. I will also look at it to see what has happened since the original implementation.

[2021-04-22 23:34] ftessier commented on #36
@mainegra do you think we could (should?) increase the 80-char limit to 132 right away, so it has a year of dwell time on the `develop` branch ahead of the next release?

[2021-04-23 00:19] ftessier commented on #573
This is correct, the ICRU Report 90 clearly states that the mean excitation energy (I-value) of aluminum is one of the best known, an reiterates: `I_Al = 166 eV` with a standard uncertainty `1.3 eV`. Since aluminum type 6061 contains only about 2% impurities (mostly Mg and Si, around Al), it makes sense to use 166 ev as the I-value in `aluminumalloy_type6061.density`, unless `estar` can calculate

[2021-04-23 00:25] ftessier commented on #573
Same argument applies for `aluminumalloy_type1100.density`. More hesitant with `aluminumalloy_type2014.density` which has 4% copper. @mainegra `estar` balks on trying to run with the `aluminumoxide1.0gcm3.density` data input, are you able to check it at your end?

[2021-04-23 01:08] ftessier commented on #580
I am having trouble reproducing this here, as expected. Tried 3 cpus (all Intel though), flags here are `-fPIC  -O2 -mtune=native` across the board. Will continue to try, with longer simulations.

In the mean time @karnigen can you try to adjust your geometry input so that the planes inserted inside the cd geometry are "bleeding" over the evelope, as in put the first one say at -0.2, and the last

[2021-04-23 02:27] finjoetri commented on #671
Currently, I used Ubuntu to run EGSnrc, it worked and reinstalled the Big Sur wiping the whole system, so currently I don't have the file `HEN_HOUSE/scripts/configure.log`

[2021-04-23 12:15] ftessier commented on #580
I ran 3e9 _histories_ on 256 processors with your second input, and all simulations completed as expected. This is most likely due a rare geometry floating point error. Try offsetting the geometry planes and let me know.

[2021-04-23 13:07] mainegra commented on #36
@ftessier yes. We should definitely do that! I'll have to look again, but shouldn't we try for 256 or 512? If this is a big deal, the 132 should be adequate!

[2021-04-23 13:20] ftessier commented on #573
The problem with `estar` was that I had to input Element symbols as `Mg` instead of `MG` (!). I recomputed the aluminum alloy density corrections with `estar` (icru90 version) and I get I-values very close to pure aluminum (166 eV), which makes more sense.

[2021-04-23 13:59] ftessier commented on #573
Comments continued in pull request #705.

[2021-04-23 14:07] ftessier commented on #36
That would be great, but from the foregoing comments:

I take it 132 is a hard-limit? Or perhaps we should stick to 120. Without deciphering the mortran source code, who knows if 132 might cause a buffer overflow in some cases eventually?

[2021-04-23 14:37] mainegra commented on #36
120 or 132 are definitely better than 80! But, once users are aware the 80 limit is removed I can see 120 or 132 also becoming too small.

[2021-04-23 15:15] ftessier opened #706 "Review all density effect correction files distributed with EGSnrc"
We ought to verify all the `*.density` density effect correction files distributed with EGSnrc, under `HEN_HOUSE/pegs4/density_corrections/`, in light of the update to the estar.f code for ICRU Report 90. Also, in recent years we found that the NIST web interface to generate ESTAR data suffered some issues, specifically in regards to the user input for the mean excitation energy (I-value). It is u

[2021-04-23 15:21] crcrewso commented on #580
@karnigen
I have a feeling I _might_ know what's going on here. Could you try recompiling with `-march=x86-64 -mtune=x86-64 -O0` to see if you can still reproduce the error. Could you try with both the seeds you've provided and another set of seeds? I'm thinking it's a combination of architecture and the family of gcc (7.4) that you're on.

The difference between @karnigen and @ftessier  is -O3 vs

[2021-04-23 15:43] ftessier commented on #580
Oh, I had misread the second message:

We have had issues in the past with the `-O3` level, so indeed the recommended setting is `-O2`.

[2021-04-23 15:47] ftessier commented on #580
See #85 and #174.

[2021-04-23 15:59] ftessier commented on #36
Yes, time to let Mortran rest. 😉

[2021-04-23 16:14] ftessier commented on #706
@bourgouina reminded me that one broad change in the icru90 version of `estar.f` done by @mainegra was the removal of the 13% boost in the I-value for mixtures (it only applies to molecular compounds). This was confirmed through discussion with the ESTAR code authors. So indeed most of the mixtures in the database will be affected. I also think we should really add the estar code to the repository

[2021-04-23 16:17] ftessier commented on #706
@mainegra if we can add `estar` to the repo, then I would suggest integrating the commit history for estar, and then just develop it further inside the EGSnrc repo. Another one for the chicken `coop/`! 🤓 . In time of course, ideally the density effect corrections would be calculated on the fly, like for _pegsless_ runs!

[2021-04-23 16:41] mainegra commented on #706
As a first step is great. But I think it should be integrated to EGSnrc's data generation mechanism.

[2021-04-23 18:14] bourgouina opened #708 "Density output in egslog file for egs_chamber and cavity"
The number of digits reported in the .egslog file for the density of each medium is only 2, therefore, the reported density of air is 0.00.

[2021-04-23 18:14] ftessier commented on #708
Do you mean when using the `egs_dose_scoring` object, or elsewhere?

[2021-04-23 18:23] bourgouina commented on #708
Yes

[2021-04-28 12:54] ftessier commented on #676
Agreed. Since this value is [exact in the SI](https://physics.nist.gov/cgi-bin/cuu/Value?e), I would go all the way and define `e = 1.602 176 634  x 10^-19 C`.

[2021-04-28 13:01] ftessier commented on #676
Found this in `src/EEMF_macros_beamnrc.mortran`: `REPLACE{$EC_em}WITH{1.60217662E-19}; "electron charge"`. I suggest we simply make such a constant available throughout, along with conversion factors such as `eVToMeV`, `MeVPerGramToGray`, etc.

[2021-04-28 13:30] ftessier commented on #676
Something like in a new header `egs_constants.h`:

[code]

[2021-05-11 13:05] rtownson opened #715 "Installer doesn't compile beamdp with IAEA phsp macros"
It seems that you have to manually go into the `HEN_HOUSE/omega/progs/beamdp` directory and type `make` to compile beamdp again, without needing to change anything.

This was mentioned down in the comments here:
https://www.reddit.com/r/EGSnrc/comments/n719f0/score_photons_and_their_energy_in_vacuum_simple/gxpk264/?context=3

[2021-05-16 21:42] mpayrits opened #718 "`ReadCT_DICOM()` only works for slices of size 512 x 512"
To demonstrate the bug, I'm [attaching](https://github.com/nrc-cnrc/EGSnrc/files/6490066/ReadCT_DICOM_slice_bug.zip) two sets of DICOM slices (created by importing `pynrrd`-generated NRRD files into Slicer and exporting them as DICOM). You can open them in Slicer or another DICOM visualization app and verify all of their CT numbers are equal to 400 (an arbitrary value) and that their slice sizes m

[2021-05-17 11:26] mpayrits opened #720 "egs++ 3ddose output is _still_ wrong"
Dose values in `.3ddose` files produced by `EGS_DoseScoring` over an `EGS_XYZGeometry` defined through an `.egsphant` file, density matrix, or interfile are wrong. They are off by a voxel-dependent factor equal to the default density of the medium in that voxel. This is contrary to the claims in pull request #645 which only fixed the issue for `EGS_XYZGeometry`'s explicitly defined in the input fi

[2021-05-21 16:37] crcrewso opened #724 "Missing graceful error message in addphsp"
When adding egsphsp using addphsp, if the number of particles crosses the ~56 GiB barrier, with the number of particles exceeding a 32-bit int, addphsp fails with an exception.

[code]

[BeamNRC running in single thread mode handles this gracefully](https://www.reddit.com/r/EGSnrc/comments/cxq5kj/ask_phsp_file_error_while_writing/)

Proposed solution: addphsp should check the total number of parti

[2021-05-21 16:39] ftessier commented on #724
Better yet, use a long int for the record number? And, of course, rewrite addphsp in python 😄

[2021-05-21 16:47] ftessier commented on #724
@crcrewso can you send me the few lines around line 1078 in **your** `addphsp_linux.f` please?

[2021-05-21 17:01] crcrewso commented on #724
That would be great, but can we do that? It's not going to break backwards compatibility?

Line:
[code]

Context:
[code]

[2021-05-27 15:08] randlet commented on #720
It's been a while, but it looks like I maybe had a similar issue because I implemented [getRealRho](https://github.com/clrp-code/egs_brachy/blob/master/egs_brachy/phantom.cpp#L261):

[code]
 function which I think accounts for this in egs_brachy.

[2021-05-28 10:44] randlet commented on #720
Actually, we do use getMass in one spot so that will need to be updated in egs_brachy to account for the new behaviour.

[2021-06-09 09:12] Stuttga opened #730 "EGS-Ray unit integral energy dose"
Hello all,

I have a problem with the interpretation of the results of EGS-Ray. Unfortunately there is almost no information about this program, which is based on EGSnrc.

However, I hope that there are parallels to EGSnrc and that someone can tell me in which unit probably the 'Integral absorbed dose' as well as the 'Deposited energy' are given. Generally all input energies are given in MeV. But

[2021-06-09 12:52] rtownson commented on #730
In EGSnrc all units of energy are in MeV, and distance in cm unless otherwise specified. Integral absorbed dose will likely be "Gy per initial particle", and deposited energy "MeV per initial particle".

I looked up EGS-Ray briefly and from the one paper I found it looks like a visualization tool based on EGS4/Presta. Note that if it's still using EGS4, that the electron transport is not as accura

[2021-06-09 16:49] rtownson opened #731 "Bug when using both material.dat and density files"
When using both `material.dat` and density correction files for pegsless materials, e.g.

[code]
many warnings appear during simulation like this:
[code]
I believe this is due to a bug that leads to an incomplete definition of the materials defined in the egsinp file (i.e. tungsten). It can be avoided by copying all the needed materials from the material.dat into the egsinp (or visa versa).

[2021-06-10 18:42] rtownson commented on #730
I'll close this issue, but feel free to follow up in the Discussions section or on [reddit](https://www.reddit.com/r/EGSnrc/).

[2021-06-10 18:43] #730 closed

[2021-06-11 13:08] karnigen opened #733 "buffer overflow in egs_dose_scoring.cpp"
There is buffer overflow in  **egs_dose_scoring.cpp** in setApplication() line 259

for material names longer then 16 chars.
Please increase buffer size at line 135 **char buf[32];** to something greater eg 512bytes as in egs_phsp_scoring.cpp
or allocate buffer dynamically .
Same maybe for **beam_dose_scoring.cpp**.
In egsnrc from development branch.

[2021-06-15 09:52] karnigen commented on #733
All occurrence of sprintf(buf,...) and vsprintf(buf,...) in egs, egs++ should be replaced by snprintf(buf, sizeof(buf),...) or vsnprintf(buf, sizeof(buf),...) to prevent unintended wrong memory access.
And some buffer sizes should be increased.

[2021-06-15 21:09] camilabustos1 opened #734 "Error to compile BEAMnrc"
Hi, I am having an issue in compiling in BEAMnrc code and i get this error

Mortran compiling ...  compilation error (stop 12)
/home/mayor/EGSnrc/HEN_HOUSE/makefiles/beam_makefile:113: fallo en las instrucciones para el objetivo 'BEAM_bowtie1_linux64.F'
make: *** [BEAM_bowtie1_linux64.F] Error 12

[2021-06-18 02:37] phantasuson opened #735 "compilation problem"
Hi all
I'm new to EGS, could any one help me please
It came out when I compiling tutor7pp for the first try.
****************************************************************************

D: \EGSnrc \EGSnrc \EGSnrc \egs_ home \myapp>mingw32- make
g++ -I. -ID: \EGSnrc \EGSnrc \EGSnrc \HEN HOUSE\lib\win3264 ID: \EGSnrc \EGSnrc \EGSnrc \HEN HOUSE\egs++ ID: \EGSnrc \EGSnrc \EGSnrc \HEN_ HOUSE\interface

[2021-06-18 14:07] #735 closed

[2021-06-18 14:35] rtownson commented on #734
After some further investigation, I can reproduce the issue. See the link to the subreddit for more details, but essentially adding 15+ CMs to a BEAMnrc accelerator results in compilation warnings like this:
[code]
even though in the macros I have the maximum number of CMs set to 25. If you look in the .F file, there are corrupted lines:
[code]
@blakewalters any ideas about this?

[2021-06-21 07:58] Stuttga commented on #730
Thank you so much for your response. You really helped me a lot.

Can you maybe explain to me why you would say that the Ingetral absorbed dose should be "Gy per initial particle" and not also "MeV per initial particle"? I understand the assumption (because it is obviously a dose which is in general given in Gy) - but unfortunately this makes absolutely no sense from the numerical results, because

[2021-06-21 12:36] ftessier commented on #730
@Stuttga Reporting the dose is essentially "equivalent" to reporting the deposited energy (MeV). Internally, EGSnrc (and maybe EGS-Ray?) computes the energy deposited in geometrical regions, and divides by the region mass just for the result output. Perhaps the mass of the region is set incorrectly? At any rate I do not know what EGS-Ray does, or if it handles the normalization correctly, but as R

[2021-06-27 22:25] camilabustos1 commented on #734
Thanks for your answer, by lowering the number of modular components the error was solved.

[2021-06-27 22:34] camilabustos1 opened #740 "Error to run DOSXYZnrc"
Hello everyone again
I'm trying to create a phantom in DOSYXZnrc (voxel by voxel), which can be compiled but when I run it fails. I get this error. Thanks

![WhatsApp Image 2021-06-27 at 18 18 36](https://user-images.githubusercontent.com/85966458/123561370-febee180-d775-11eb-906d-38901c863cae.jpeg)
![WhatsApp Image 2021-06-27 at 18 19 17](https://user-images.githubusercontent.com/85966458/1235613

[2021-06-28 11:25] #740 closed

[2021-07-01 11:58] VSpan7 opened #742 "Where can I find EGSnrc version 4 – 2.3.1?"
I would like to install a previous version of EGSnrc. Actually I want to install v.4 2.3.1 and I have two issues. Firstly, I cannot find this version online and secondly If I had the older version, I don't know which fortran,C and C++ compiler I had to use.
Any information would be appreciated.
Thank you in advance

[2021-07-06 11:05] Vitigis opened #745 "tutor7pp error: Track 2026 has length -1717986918 < 2.Segmentation fault"
Hello Everyone,

I´m new to EGSnrc and I´m trying to recreate the task of the "getting started"-PDF. In Chapter 5.4 "Generate particles tracks" there is a task where you simulate ptracks in an air box with an water cylinder in it (tutor7pp -i test2.egsinp -p 521icru). When I want to see the result in _egs_view_ i get the error message: "Track 2025 has length 0 < 2.Track 2026 has length -1717986918

[2021-07-06 11:55] #742 closed

[2021-07-06 12:20] ftessier commented on #745
Thank you for reporting this @Vitigis, we will try to reproduce this behaviour at our end!

[2021-07-06 23:04] jcampbell555 opened #747 "Installation Failure EGSnrc"
Getting an error that I can't seem to find anything for on this forum. Downloaded all the necessary software and I'm at the last step of installing EGS but I got this message:

GNU Fortran (x86_64-posix-seh-rev1, Built by MinGW-W64 project) 6.3.0

 Using xml test file C:\Users\Josh C\EGSnrc\HEN_HOUSE\pieces\tests_win.xml

 ===>   Checking for availability of system dependent functions

Can the com

[2021-07-07 11:34] #747 closed

[2021-07-12 19:59] TonyPopescu opened #749 "Incorrect geometry for exit phase space"
Hi Frederic, Blake, Reid and Ernesto,

In dosxyznrc.mortran (https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/user_codes/dosxyznrc/dosxyznrc.mortran), there is a missing equation just before line 3730 ("Write the particle to a phsp"). The code should include the following:

"to assign the correct z coordinate for a IAEA exit phase space"
		         IF(i_iaea_in=1)[
			             z(np) =

[2021-07-14 14:54] jcampbell555 opened #750 ""Getting Started with EGSnrc" error on Windows"
I'm trying to work my way through the EGSnrc Manual but it's not exactly easy translating Linux commands to Windows. I'm getting some sort of error with the instructions at the top of page 12 that say:

"Compile your application with the make command, which builds the executable myapp and
saves it under $EGS_HOME/bin/. For a given application, you only need to run make once
(unless you modify the

[2021-07-14 15:00] MartinMartinov commented on #750
Hi @jcampbell555,

I don't know if you are running on Windows 10, but if you are, can I recommend using Windows Subsystem Linux (WSL) to run EGSnrc?  Instructions on installation here: https://docs.microsoft.com/en-us/windows/wsl/install-win10

It sets up a Linux environment natively in Windows, with full file access between the two platforms.  If you launch your WSL installation with something li

[2021-07-14 15:01] mxxo commented on #750
Hello, can you check what's in the directory `C:\Users\jcampbell1\EGSnrc\HEN_HOUSE\egs++\dso\win3264`? That is where the makefile is saying to look for `libegspp.so`. It's possible it hasn't been built yet and you may need to compile `egs++`.

[2021-07-14 19:09] jcampbell555 commented on #750
@mxxo Here's the what is inside that directory
![mxxo comment pic](https://user-images.githubusercontent.com/87045590/125678960-d136c2ed-8a08-4515-8cff-7e36fac4436c.PNG)

[2021-07-14 19:14] jcampbell555 commented on #750
@MartinMartinov I am and that would honestly probably make this whole process a lot easier but I'm running this on a pretty junk PC so the processing power isnt the best. do you know what kind of effect that would have on running simulations?

[2021-07-15 12:31] rtownson commented on #750
Could you copy/paste or post a link to you installation log? It looks like your installation failed. The log is found in `HEN_HOUSE/log`.

[2021-07-15 12:44] rtownson commented on #749
Thanks Tony! Hopefully @blakewalters can take a look soon, since I think he worked on this.

[2021-07-15 14:50] rtownson commented on #745
Hi @Vitigis, it looks like the problem is that you have included two `egs_track_scoring` ausgab objects. Even though they have different names this actually isn't supported. So they both tried to output to the same ptracks file and corrupted it. Just comment one out and you should find that it works!

[2021-07-15 16:27] mxxo commented on #745
Hi @rtownson, sorry to barge in on this issue. Is this the case for all ausgab objects or just tracks? Maybe we could add a check in `EGS_Application::addAusgabObject` to catch this?

[code]

[2021-07-15 17:12] TonyPopescu commented on #749
Great! Thanks, Reid.
Cheers,
-Tony

From: Reid Townson ***@***.***>
Sent: Thursday, July 15, 2021 5:45 AM
To: nrc-cnrc/EGSnrc ***@***.***>
Cc: Popescu, Tony [BCCancer] ***@***.***>; Author ***@***.***>
Subject: Re: [nrc-cnrc/EGSnrc] Incorrect geometry for exit phase space (#749)

EXTERNAL SENDER. If you suspect this message is malicious, please forward to ***@***.******@***.***> and do not open at

[2021-07-15 17:14] mxxo commented on #745
Sure thing, thanks Reid! :)

[2021-07-20 14:18] phresher opened #752 "Error of Shared Object libBEAM_EX16MVp.so When Running Dosxyznrc Examples"
Description
========

The error occured when running dosxyznrc examples via `ex dosxyznrc` command as follows or dosxyznrc GUI.

[code]

The whole log is attached.

[dosxyznrc.log](https://github.com/nrc-cnrc/EGSnrc/files/6848687/dosxyznrc.log)

The excerpt is as follows:

[code]

**In short, a shared library was failed to compile.**

Possible Reason
==========

It's likely due to compatibility is

[2021-07-20 15:21] rtownson commented on #752
Thanks for the detailed report! I believe this is because you have not compile the BEAMnrc accelerator that this example is referencing as a shared library source (I think this example needs better instructions). Go to the accelerator it is using as a source, i.e. `egs_home/BEAM_EX16MVp` and compile the accelerator as a shared library with `make library`. Then try running this example again.

[2021-07-20 15:42] ROOTRT commented on #752
When I reading input files (with .egsinp suffix) in /root/EGSnrc/EGS_HOME via dosxyznrc GUI, the error occurs: can't read "options(25,1)":no such element in array.
![image](https://user-images.githubusercontent.com/87711551/126353286-830c3f03-3535-4be4-9f20-5e3e845db135.png)
I got confused and hope your help. Thanks!

[2021-07-20 17:09] rtownson commented on #752
@ROOTRT can you post this as a new question, under discussions? This is unrelated to the other user's issue. Please also post your input file.

[2021-07-21 01:29] ROOTRT commented on #752
@rtownson I'm sorry for doing that.  @phresher helps me solve problems, so I post my issue here. I'll do that thank you!

[2021-07-21 02:18] phresher commented on #752
Thanks so much, my life saver!

[2021-07-21 02:18] #752 closed

[2021-07-21 15:54] jcampbell555 commented on #750
@rtownson Here's what in HEN_HOUSE/log
![Hen_house Log](https://user-images.githubusercontent.com/87045590/126520146-9c334f35-cc4c-447b-9e44-51a8f646a768.PNG)

[2021-07-21 15:59] rtownson commented on #750
I was actually hoping for the contents of that file :)

[2021-07-21 16:04] jcampbell555 commented on #750
GNU Fortran (x86_64-posix-seh-rev1, Built by MinGW-W64 project) 6.3.0

 Using xml test file C:\Users\jcampbell1\EGSnrc\HEN_HOUSE\pieces\tests_win.xml

 ===>   Checking for availability of system dependent functions

gfortran -c -o HasObject.obj HasObject.f

gfortran -fPIC -o DoesExe.exe DoesExe.f

gfortran -fPIC -o ExitFun.exe ExitFun.f

./ExitFun.exe 1
exit
 Exit code is 1
 Reference is 1

./Exit

[2021-07-21 16:10] rtownson commented on #750
How much system memory (RAM) do you have? This message is the problem: `cc1plus.exe: out of memory allocating 65536 bytes`, and it means that you're running out of memory during compilation of egs++ so the installation is failing. Can you try closing all other applications during the installation?

[2021-07-21 16:24] jcampbell555 commented on #750
okay, so just run the installation again? I'm pretty sure everything was closed the first time I installed

[2021-07-21 16:28] rtownson commented on #750
It's worth a try, but if you only have 2-4GB RAM it might just be insufficient. How much memory is available? If you can't upgrade the hardware you could try installing a lightweight linux distro on a partition...

[2021-07-21 16:28] jcampbell555 commented on #750
Here's my RAM. It's a pretty weak system
![RAM](https://user-images.githubusercontent.com/87045590/126524842-b8603a31-d4a1-4bf9-b2c6-427f531bcadb.PNG)

[2021-07-21 16:39] rtownson commented on #750
Hmm sorry I don't know of an easy way to do this with Windows 10 and only 2GB. Like I said, you might get away with installing a lightweight linux distro on a partition. Or you could restrict yourself to the mortran codes - I think BEAMnrc and DOSXYZnrc will work fine unless you want to use high resolution voxel phantoms.

[2021-07-21 17:41] jcampbell555 commented on #750
@rtownson Is there one you might recommend?

[2021-07-21 18:00] rtownson commented on #750
Probably this one: https://lubuntu.net/downloads/

[2021-07-22 06:41] ROOTRT opened #753 "Error of Shared Object When Running Dosxyznrc Examples"
- **Description**

The error occured when running dosxyznrc examples via dosxyznrc GUI
![image](https://user-images.githubusercontent.com/87711551/126598123-fcaff050-0bfd-471c-b06e-6d90d22bc7c8.png)
All input files in BEAM_EX10MeVe, BEAM_EX16MVp, BEAM_EXphantom, BEAM_EXslabs occured this error when selecting files with .egsinp suffix.

- **Environment**

The EGSnrc toolkit was compiled following t

[2021-07-22 12:19] rtownson commented on #753
It sounds like you are trying to open a BEAMnrc input file in dosxyznrc_gui, which can only only DOSXYZnrc input files. Try using beamnrc_gui instead.

[2021-07-22 12:21] #750 closed

[2021-07-22 14:50] ROOTRT commented on #753
Thank you so much!  The mistake is simple but I did't find. My life saver.

[2021-07-22 15:49] #753 closed

[2021-08-19 17:35] mxxo commented on #594
Perhaps it's worth mentioning [ranlux++](https://arxiv.org/abs/1705.03123) as another potential choice? Greatly improved performance over plain ranlux but still "[suitable for use in the most demanding Monte Carlo calculations](https://link.springer.com/article/10.1007/s41781-019-0034-3)". There exists a portable C++ implementation that was recently added to ROOT: https://arxiv.org/abs/2106.02504

[2021-08-19 17:52] ftessier commented on #594
I have not looked at the `ranlux` prng recently, because they are (were) painfully slow generators. But an implementation is useful to eventually check other generators. Thanks for the reference, which is discussing some interesting optimizations, so I will look into this again. I quickly note in Figure 2 performance above about 10 ns/number (with conversion), whereas xoshiro is sub 1 ns/number ac

[2021-08-22 20:00] SashaSn commented on #704
Hi! Could you please help me with the issue:

[2021-08-22 20:05] SashaSn commented on #704
Hi! Could you please help me with the issue:
Input fortran compiler:                           [gfortran]
Testing if gfortran works ...                     yes. Object extension is 'o'
Testing if gfortran can create executables ...    no
error: this FORTRAN compiler can not create executables!

I am using MacOs BigSur  Version 11.5.2  Macbook Air (M1 2020)
gfortran GNU Fortran (GCC) 5.1.0

Is ther

[2021-09-02 18:49] jcampbell555 opened #764 "PC Specs?"
Out of curiosity, are there specific PC specs that would be ideal for running EGSnrc? RAM, Processor, storage, etc?

[2021-09-02 19:09] #764 closed

[2021-09-03 02:29] 1035326373 opened #766 "Building projects with visual studio"
I want to learn the details of the code and do some secondary development. How can I build the project under windows? Is there a tool similar to cmake available?

[2021-09-03 14:17] #766 closed

[2021-09-14 18:49] ftessier opened #768 "Unexpected beam truncation due to `BEAM_SIZE` parameter in DOSXYZnrc"
In the DOSXYZnrc documentation, `BEAM_SIZE` is mentioned for the input line where `NCASE, IWATCH, TIMMAX, INSEED1, INSEED2` etc. have to be specified, in record 13 (or record 9, if `NMED = 0`).

This suggest that this parameter has no influence when using `isource = 8`, but it actually does have an influence. The default is 100 cm square, which is pretty large but for some reason we had it set to

[2021-09-23 03:31] jcampbell555 opened #770 "egs_view keeps crashing"
I'm making my way through the Getting Started manual and was successful the first time around up to "4.5 Change the type of incident particles". I took a break for a few days and came back to try to reproduce my work but I can't seem to run egs_view. I've tried to use the command prompt to open it using the egs_view command as well as opening it directly from the file location and my desktop short

[2021-09-23 10:58] ftessier commented on #770
Are you working on Windows or Linux? I presume it was working before, up to this point, correct?

[2021-09-23 14:26] jcampbell555 commented on #770
I'm working on Windows and yes it was working before

[2021-09-28 19:53] rtownson commented on #770
When you open it from the desktop shortcut, do you get the file selection dialog before it crashes? If it crashes after selecting the input file, try opening a different input file instead. A mistake in the input file can cause a crash like this (feel free to post it here, if you determine that to be the case). If egs_view crashes before selecting an input file, then I would try running the instal

[2021-09-29 17:43] ftessier opened #773 "Inconsistent Results between EGSnrc v4 (rev. 2.2.3) and EGSnrc v2021"
### Discussed in https://github.com/nrc-cnrc/EGSnrc/discussions/772

<div type='discussions-op-text'>

<sup>Originally posted by **agsponer-metas** September 29, 2021</sup>

Hi everyone

I'm new to EGSnrc and have been recently tasked with "resurrecting" an old BEAMnrc simulation of a treatment head attached to an electron accelerator. At the time the old simulations were performed (~2003-2006), a

[2021-09-29 17:56] ftessier commented on #773
I see only cosmetic changes in the SLAB component module's history on git, back to 2015. @agsponer-metas if you can run a test with EGSnrc v2016 quickly, that would prove useful. We have CVS history back to V4 2.2.3, but it is harder to untangle that... So knowing if the change happened before or after v2016 (when EGSnrc was ported to git) would help me steer my efforts in the right direction!

[2021-09-29 21:28] jcampbell555 commented on #770
@rtownson The file selection dialogue pops up and after uninstalling and reinstalling again I can now open those  input files. However, I still can't call the program from the command prompt.

[2021-09-30 06:36] agsponer-metas commented on #773
Hi @ftessier,
I tried using the v2016 tag, but could not get this version of EGSnrc to compile... (see [compile_error_v2016.txt](https://github.com/nrc-cnrc/EGSnrc/files/7257188/compile_error_v2016.txt) ). However, I was able to compile and run the simulation using the v2015 version (is there a significant difference between v2015 and v2016?).

With v2015 I still get the same result as v2021 (an e

[2021-09-30 20:18] rtownson commented on #770
Does it work on the command line if you 'cd' into `HEN_HOUSE\egs++\dso\win-static` first?

[2021-09-30 21:17] ftessier commented on #770
Indeed, most likely a `PATH` issue.

[2021-10-04 17:21] ftessier opened #778 "Parallel script for cpu jobs does wait for the prescribed delay"
The `egs-parallel` script includes an option to insert a user-defined delay between each job:

[code]

However, the `egs-parallel-cpu` sub-script to launch the job in parallel on a multiple core cpu locally does not implement this option, so the jobs are always submitted as fast as possible on the cpu, irrespective of the `--delay` option specified in the `egs-parallel` command. A `sleep $delay` c

[2021-10-04 17:25] ftessier commented on #773
@agsponer-metas, thank you for checking, this is helpful, I will dig up older changes to the SLABS component module, unless @blakewalters can recall any such change from memory alone. If I understand correctly, the SLAB CM is _now_ behaving as expected (i.e., with the extra air added), right?

[2021-10-05 06:04] agsponer-metas commented on #773
Hi @ftessier
Thanks for looking into this issue! Yes, the SLAB CM is now (v2021) behaving as expected. What I'm trying to figure out is if this means that the old results obtained using EGSnrc v4 rev 2.2.3 are incorrect, or if the differences could be caused by some other parameters which have changed between EGS versions.

[2021-10-05 07:21] agsponer-metas commented on #773
On a related note, I found the second CM in the simulation of the treatment head where I get differences between the two EGSnrc versions. As mentioned previously, even after adding the 0.01 cm of material to the SLAB  mentioned above the results for the simulation using all CMs do not agree between the EGS versions.

This second CM is the flattening filter, which is constructed using FLATFILT. I r

[2021-10-05 12:23] ftessier commented on #773
@agsponer-metas thank you for the detailed investigation, this proves extremely valuable to track down this issue.

[2021-10-14 19:33] ojalaj opened #781 "egs_chamber exits with error in case of too many empty .egsdat files"
When using "calculation=combine" option in .egsinp and running interactively to combine number of parallel runs, one gets:

[code]
if there are too many empty .egsdat files.

How about adding more graceful exit with proper information?

[2021-10-14 20:39] ftessier commented on #781
Thanks for reporting this! The issue can be traced back to the error returned by the [`addState` method](https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645380976f38a013a639759c/HEN_HOUSE/egs%2B%2B/egs_application.cpp#L644) in the `EGS_Application::combineResults` method. This ultimately is caused by [failing to read two integers](https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645

[2021-10-15 05:38] ojalaj commented on #781
Thanks @ftessier for detailed reply.

Unfortunately I already deleted all the wXXX files, but I remember that all other problematic .egsdat files did report `error 1`, but for some reason the script exited at the point above, not earlier. Unfortunately I did not open those files, but since they have size 0, I believe they should be more or less empty (?).

Personally, now since I know this issue,

[2021-10-15 21:31] ftessier opened #784 "Add the legacy EGS_Windows (BEAMnrc viewer) source code to the repository"
The `EGS_Windows` source code has not been available to download from NRC since May 2013. Users are periodically asking about this gui to view BEAMnrc geometries and tracks. I posted answers to common questions in #783. I also added the standalone executable to the assets for Release 2021, for convenience.

I think we ought to add the EGS_Windows source code to the repo, so that people can compile

[2021-10-18 12:44] ftessier opened #785 "Elements in wrong order in polystyrene in materials data file"
The `elements` line should be `H,C` instead of `C,H` in the following entry of the `HEN_HOUSE/pegs4/data/material.dat file`:

[code]

Thank you to Pat Saull for reporting this issue.

[2021-10-18 13:22] ftessier opened #786 "Incorrect subscript in EGSnrc manual equation for Compton sampling"
_Thank you to Erlend Andersen for reporting this issue:_

I’m playing around with modelling of Compton events and think I spotted a typo in the manual in equation 2.2.35. I believe the `p_z <= -p` should be `p_i <= -p`:

![image](https://user-images.githubusercontent.com/1444241/137738982-ac0ecb94-4bcf-4c4a-903b-56a4114b1f00.png)

[2021-10-22 07:20] phantasuson opened #788 "DOSXYZ running error"
DOSXYZnrc always reports error, neither the phantom I built nor example from other can run. I don't know if it's my misoperation or a bug.
![image](https://user-images.githubusercontent.com/80371548/138408126-e51588be-c458-48d4-a986-c7941584dfb9.png)
![image](https://user-images.githubusercontent.com/80371548/138410608-426ae6b0-9273-41b8-bed7-9d7d72ac4f51.png)

[2021-10-22 13:41] #788 closed, assigned to nobody

[2021-11-03 15:31] ftessier commented on #770
Is this resolved? Another user is reporting `egs_view` not working on Windows:

[2021-11-03 16:18] ftessier commented on #770
Turns out the issue reported in the previous comment was trying to open the `.ptracks` file directly, instead of the `.egsinp` file initially.

@rtownson, may we add a filename filter in the initial egs_view file select box to only show `*.egsinp` files?

[2021-11-03 16:50] mainegra commented on #770
The user having that problem was using the command line as well: egs_view slab.egsinp slab.ptracks
But not on the application folder! ;-)
**Eureka:** Problem solved!

[2021-11-03 17:13] ftessier commented on #770
@mainegra you mean it was resolved for @jcampbell555 as well, upon running from the appropriate folder?

[2021-11-03 17:15] mainegra commented on #770
Nope. I interacted with the other user. I think.

[2021-11-03 17:22] jcampbell555 commented on #770
Yeah, I'm still having an issue from the command line. I'm not entirely certain why it won't run from there. I've been running directly through the egs_view app on the desktop.

[2021-11-03 17:24] ftessier commented on #770
Thank you for the update!

[2021-11-06 17:48] blakewalters opened #795 "Installation error on macOS 12 (Monterey)"
**Description:**

Installation fails on pegs4 compilation with the message:

********************* Compiling pegs4 ******************
Generating pegs4_osx.f from pegs4.mortran
At line 2504 of file mortran3.f (unit = 1, file = '/Users/blakewalters/EGSnrc/HEN_HOUSE/bin/osx/mortran3.dat')
Fortran runtime error: End of file

On closer investigation, this looks like an error in compiling the mortran3 c

[2021-11-19 17:59] mxxo commented on #781
Hi guys,

I encountered a similar issue trying to combine 1000 egsdat files where the combine routine stopped after processing the `w499` file.

[code]

However, this is a long-running development branch, and I see looking through the git history that before Release 2021 the number of files to combine was hardcoded to 499. See diff here: https://github.com/nrc-cnrc/EGSnrc/commit/c4c2fe76c11204ae8f

[2021-11-19 18:04] ftessier commented on #781
Very good point @mxxo, thanks for pointing that out!

[2021-11-19 19:36] ojalaj commented on #781
Hello @mxxo and @ftessier

Yes, it is possible and true. I'm using a develop branch from 2020, in which the latest commit has been [e88d089](https://github.com/nrc-cnrc/EGSnrc/commit/e88d0899e1e6f0020343687b603a3cce4c140a02).

[2021-11-25 09:42] agsponer-metas commented on #773
@blakewalters Any updates on this?

[2021-11-26 00:27] blakewalters commented on #773
No, @agsponer-metas: I haven't yet installed the EGSnrc_V4 (or equivalent) on my system to see why the slab seems to be placed at the wrong position.

[2021-12-02 15:15] ftessier opened #804 "The egs_chamber sample input files don't run out-of-the-box"
The sample input files provided in the `egs_chamber` application directory are complex, and moreover depend on a BEAMnrc source or materials that are not readily available. Hence, the examples don't run out-of-the-box after a fresh EGSnrc install. Also, a  much simpler sample input file (pencil beam on slab) would prove useful.

Specifically, this was reported by Dave Rogers on 8 March 2014, but w

[2021-12-02 16:50] rtownson opened #805 "DYNJAWS GUI bug when defining jaws openings"
### Discussed in https://github.com/nrc-cnrc/EGSnrc/discussions/803

<div type='discussions-op-text'>

<sup>Originally posted by **phantasuson** December  1, 2021</sup>
![image](https://user-images.githubusercontent.com/80371548/144355513-42cad2b0-a9bd-4b7c-a3e5-fcdb2f24dc35.png)
</div>

[2021-12-09 11:32] aminetec opened #807 "PET simulation"
Greetings,

I'm looking to simulate PET scanner system using EGSnrc but I can't seem to find the egs_pet example in HEN_HOUSE

Any help would be greatly appreciated.

[2021-12-09 13:51] ftessier commented on #807
The `egs_pet` application has never been released with EGSnrc officially, although development versions were distributed among researchers in the field. If you are only looking to model the positron emission and scoring in the detector crystals, i.e., without modelling the electronic digitization chain, then you can build the detector using the standard egs++ geometries and sources.

[2021-12-13 15:13] rtownson opened #809 "TCL/TK GUI desktop shortcuts not working on Ubuntu 21.04"
Reported here (not verified):
https://www.reddit.com/r/EGSnrc/comments/r68i85/some_guis_not_working_with_updated_linux_versions/

[2021-12-13 15:22] rtownson opened #810 "Multiple radionuclide spectra for one radionuclide source may give wrong result"
See original report here:
https://www.reddit.com/r/EGSnrc/comments/r9idid/dose_dependence_on_radionuclide_source_spectrum/

[2021-12-13 18:50] crcrewso commented on #809
Will test, works on clean fedora 35. Tk is installed as default on Ubuntu 21.04 but TCL is potentially not.

[2021-12-13 19:13] crcrewso commented on #809
I had success moving the icons to ~/.local/share/applications
[Source Ref Stack Exchange](https://askubuntu.com/questions/5172/running-a-desktop-file-in-the-terminal)

Is it time to modify the installer to do this too. Theres been a lot of monkeying with the default purpose and behavior of the desktop over the last couple years.

[2022-01-05 10:47] Jaap1957 opened #818 "EGSnrc-configure-windows.exe only works if in c:\EGSNRC\"
The installation instructions suggest to download the configure-windows.exe .

I would like to stress this exe has to be downloaded to
c:\EGSNRC\configure-windows.exe

otherwise, it seems to work, but in the end does not do its job.

Please add this to
[https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-Windows#3-configure-egsnrc](url)

after the sentence
" Download the EGSnrc-configure-win

[2022-01-05 14:16] rtownson commented on #818
What part fails, specifically? I believe I usually run it from the downloads directory without issue.

[2022-01-05 14:59] Jaap1957 commented on #818
You are right (of course)

At the start of the install i made a folder to put everything in.
Like gfortran.exe which i found somewhere in the Octave distribution.
When starting the exe from that folder i got this error:

[cid:32ee07d5-a070-4262-ac5b-703f7e80982e]

After removing this gfortran.exe version i had no error.

________________________________
From: Reid Townson ***@***.***>
Sent: Wednes

[2022-01-05 15:40] rtownson commented on #818
Ok, I'm glad you found source of the problem! I don't think we need to do anything about this, so I'll close this issue.

[2022-01-05 15:40] #818 closed

[2022-01-06 13:26] ftessier commented on #795
I have checked that EGSnrc install on macOS 11 (Big Sur), and I have tweaked the [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS) accordingly. The more recent versions of Homebrew have improved installation on macOS significantly, including [compiling the GUs](https://github.com/nrc-cnrc/EGSnrc/wiki/Building-GUIs-on-macOS).

I used macOS version 11

[2022-01-06 13:41] ftessier commented on #704
Please consult the updated [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS), which are known to work on macOS 11 (Big Sur).

[2022-01-06 13:50] ftessier commented on #150
Please consult the updated [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS), which are known to work on macOS 11 (Big Sur), including the egsinprz preview. Please report any further issue in #704.

[2022-01-06 13:51] ftessier commented on #325
Please consult the updated [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS), which are known to work on macOS 11 (Big Sur), and report any outstanding or further issue in #704.

[2022-01-06 13:51] ftessier commented on #642
Please consult the updated [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS), which are known to work on macOS 11 (Big Sur), and report any outstanding or further issue in #704.

[2022-01-06 13:52] ftessier commented on #671
Please consult the updated [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS), which are known to work on macOS 11 (Big Sur), and report any outstanding or further issue in #704.

[2022-01-06 13:52] ftessier commented on #644
Please consult the updated [macOS installation instructions](https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-macOS), which are known to work on macOS 11 (Big Sur), and report any outstanding or further issue in #704.

[2022-01-06 14:09] #704 closed

[2022-01-09 23:31] karnigen opened #821 "Missing iphspout global variable in DOSXYZnrc gui"
- branch development
Missing global for iphspout in load_input2_nrc.tcl procedure read_input().
line 207:
`    global iphant imuphspout calflag`
should be replaced by:
`    global iphant iphspout imuphspout calflag`

[2022-01-24 21:32] mxxo opened #828 "Out of bounds read in egs_dose_scoring for region index = -1"
I had some sporadic crashes (up to 10% of total jobs crashing with `SIGBUS` errors) during some calculations on the supercomputer. Building egs++ with address sanitizer found a potential out of bounds read in `egs_dose_scoring` while scoring region doses. I am not sure if this is the root cause of the crashes, but it was flagged while I was debugging.

**Reproducer**

I built egs++ and tutor7pp fr

[2022-01-24 21:39] ftessier commented on #828
Great find @mxxo 🏅

Thanks for taking the time to pen down a detailed account, and solution.

[2022-02-01 07:35] kstcmcjw opened #839 "Where is the "clipping planes"? I can't find it!"
I have studied the chapter 6, about the concentric spheres, and i edit the program:

:start geometry definition:
     :start geometry:
      name = my_spheres # this name is up to you
      library = egs_spheres
      radii = 0.3 1.8 2 # three concentric spheres
        :start media input:
           media = default shell center # names of media 0 1 2 ...
           set medium = 2 1 # set region 2

[2022-02-01 13:02] rtownson commented on #839
In `egs_view` look in the `Display` tab instead of the `Colors`. You will see a section on the left that looks like a table. In each row here, you can enter a unit vector for the normal to the plane, and a distance from the origin. E.g. try `1 0 0 0`. The 4th number is the distance.

[2022-02-03 15:16] kstcmcjw commented on #839
Thank you very much, i get it !!
![image](https://user-images.githubusercontent.com/96934217/152371235-96593d1f-ae8b-44ee-a9ab-f5f4f65257b0.png)

[2022-02-03 15:55] agsponer-metas commented on #773
Any updates on this in the new year?
Please let me know if I can help you with any additional information.

[2022-02-04 23:59] blakewalters commented on #773
@agsponer-metas, I'm unable to reproduce this on the oldest release available on the EGSnrc wiki (EGSnrc 2015), so I'll track down EGSnrcV4, install on another machine, and see if I can reproduce it there.  Stay tuned, then.

[2022-02-05 00:54] blakewalters commented on #773
@ftessier, I was able to find a dropbox link you'd made to EGSnrcV4 with self-extracting installers, but do you know where I might find the standalone tarred/compressed directories for this distribution together with an installation script?  I'd like to try installing on Mac, and, as I remember, this was the only way to do it.

[2022-02-07 17:41] iymadmansour opened #844 "material definition order causing dosimetric difference when using xcom-mcdf photoelectric cross sections"
Hello!

There seems to be an issue specific to the xcom-mcdf photoelectric cross-sections which can cause significant dosimetric differences when using otherwise identical media definitions which vary in the order of elements presented. The issue was initially identified when calculating key metrics related to miniature X-ray tubes. To illustrate this point, I've created a test case (attached) whi

[2022-02-07 20:17] ftessier commented on #844
Thanks for taking the time to report this issue @iymadmansour!

I always presume(d) that the elements have to be specified in order of increasing atomic number, but I have never looked into the reason, I mean from the code's point of view.

I don't know, I would have thought this requirement is across the board. Maybe @mainegra will provide a clue?

I think that yes, that is the least we could do

[2022-02-07 20:24] mainegra commented on #844
@iymadmansour thanks for letting us know! I will take a look and see what might be the issue! In principle mcdf-xcom triggers a sorting of the elements to start sampling the interacting shell from the heaviest element in a material.

[2022-02-08 15:02] mainegra commented on #844
@iymadmansour could you check PR #845 and check that it fixes this issue? Go to the tab `Files changed` to see the on line that needs changing in egsnrc.mortran!

[2022-02-08 15:07] iymadmansour commented on #844
@mainegra No problem! Working on it now :)

[2022-02-14 07:07] agsponer-metas commented on #773
Hi @blakewalters
Thanks for looking into the issue, I have attached the simulation files of a fresh run ([BEAM_cool_cap_test.zip](https://github.com/nrc-cnrc/EGSnrc/files/8058574/BEAM_cool_cap_test.zip)) as well as the beamnrc directory ([beamnrc.zip](https://github.com/nrc-cnrc/EGSnrc/files/8058576/beamnrc.zip)).

[2022-02-23 14:38] eric11210 opened #851 "Bremsstrahlung photon angle sampling: potential error in code?"
In reviewing the current bremsstrahlung photon angular sampling code for an ongoing project, I came across what seems like an error to me. Specifically, [line 488](https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/src/egsnrc.mortran#L488) of `egsnrc.mortran`, in the `BREMS` subroutine.

It seems to me that this is approximating `lnM(0)` in the 2BS formula given by Koch and Motz, in the limi

[2022-02-23 15:16] ftessier commented on #851
The Taylor expansion of `-log(1+1/x)` in the limit of large `x` is indeed `(0.5-x)/x^2` so I would agree with you at first glance.

[2022-02-25 23:43] blakewalters commented on #773
Hi @agsponer-metas:  Thanks for sending the files!  They certainly helped sort out what I think is the source of the discrepancy between old and new results: In some of the CMs, SLABS among them, the Z-distance between the start of the CM geometry (i.e. Z-position of the first slab) and the end of the previous CM is tested against a minimum air gap thickness, $MIN_GAP.  If this distance is found t

[2022-03-04 10:08] rashidxjtu opened #853 "Problem in installation of minGW software required for installation of prerequisite software's."
![minGW-installation problem](https://user-images.githubusercontent.com/96041133/156742913-a0e1d5bd-933b-4cfc-b295-f4dbce4fd44d.PNG)
I have successfully installed EGSnrc on Ubuntu but when i am installing the said software on the windows 10. The minGW software required for installation of prerequisite software's gives me an error message. Please review the attached image for further details. I hav

[2022-03-04 14:54] rtownson commented on #853
I would start by just giving this another try, in case the download just failed. If that doesn't help, try version 8.3.0 or similar instead.

[2022-03-07 18:32] eric11210 opened #855 "Bremsstrahlung photon energy sampling: potential error in code?"
I found another possible error in the code for bremsstrahlung, this time when doing the energy sampling (specifically if the default `ibr_nist=0` option is used, that is the user wants to use the Bethe-Heitler cross sections, Coulomb-corrected above 50 MeV and Born approximation otherwise).

The error turns up when calculating the functions ϕ1 and ϕ2 on [lines 435-327](https://github.com/nrc-cnrc/

[2022-03-07 22:31] ftessier commented on #855
Good catch. Let's review if there is indeed a reason for using a slightly different numerical value, since this is in the fix_brems routine with is meant to, well, fix the brems calculation! So it is not impossible that this change was intentional. I will dig through the file history and change log for this remote possibility. It is such a small difference though that I doubt it is more than just

[2022-03-07 22:40] ftessier commented on #855
None of the lines containing `20.863` have been modified since EGSnrc was ported to CVS in 2003, and the only log message at that point was "Blah" (!). I will have to recover the pre-2003 RCS version control history to confirm further...

[2022-03-08 15:38] eric11210 commented on #855
Interesting! It looks like that portion of the code (`fix_brems`) was written in January 2000. Given that it hasn't been modified since 2003, I would be surprised if it was changed some time between 2000 and 2003. Although perhaps there is a log when it was first committed indicated why the value of 20.863 was chosen.

[2022-03-10 22:19] ftessier commented on #855
Looking back through the log history (in rcs and sccs version control logs!), and I can confirm that the lines containing the `20.863` constant in the `fix_brems` subroutine first appeared as is in the code on 20 January 2000, and have not been modified since. So in the end I see no documented reason for using `20.863` instead of `20.867`. Again, no significant impact on calculations, but it would

[2022-03-20 16:18] Yasminmr86 opened #857 "fail to compile using EGS_GUI"
Hi @mainegra @ftessier @rtownson ,
I have freshly completed installing the package on Windows 10.
Now following the Getting started document.
However, I am having difficulties in compiling the application using EGS_GUI.
tutor7pp also failed .
Many thanks for your help.

g++ -O2 -mtune=native -o C:\EGSnrc\EGS_HOME\bin\win3264\myapp.exe myapp_win3264.o egs_advanced_application_win3264.o egsnrc_win32

[2022-03-20 16:46] mxxo commented on #857
This error means the linker can't find symbols defined in the `quadmath` library. In your configuration file `HEN_HOUSE/specs/win3264.conf`, add `-lquadmath` to the `fortran_libs` line:

[code]

Then try recompiling your applications.

[2022-03-21 04:42] Yasminmr86 commented on #857
Thanks for your comment towards my issue.
Can you direct me to which line are you referring to in my HEN_HOUSE/specs/win3264.conf file below and advice further.
many thanks
[win3264conf.txt](https://github.com/nrc-cnrc/EGSnrc/files/8313148/win3264conf.txt)

[2022-03-21 15:02] mxxo commented on #857
I'm sorry, I directed you to the wrong file. The line should be at the end of `HEN_HOUSE/specs/egspp_win3264.conf`, for me it is line 80.

[2022-03-22 03:36] Yasminmr86 commented on #857
oh wow...it worked! I compile it in Egs_gui and it worked! thank u!

[2022-03-22 19:01] Yasminmr86 opened #858 "error message when Execute Beamdp"
Hi all,

I have been following the Getting Started and have an issue at this point when analysing ph-sp using beamdp_gui.
my error message was:
![image](https://user-images.githubusercontent.com/88606090/159555553-37c4499b-13e5-4472-87fe-ead74830747c.png)

What I understand is it not happy to delete the temp script to continue.
Do anyone knows how to solve this? Greatly appreciate any help.
thanks

[2022-03-23 14:21] #857 closed

[2022-03-24 15:41] rtownson commented on #858
The first thing I would check is to make sure that your output file is specified with a full path, instead of just typing in a filename.

[2022-03-24 22:17] Yasminmr86 commented on #858
Thank u very much for ur respond.
Greatly appreciated.ill try to look at the path again.

[2022-03-25 01:42] Yasminmr86 opened #859 "compilation failed in dosxyz_show"
Hi @rtownson @ftessier @mainegra ,
I try to compile dosxyz_show for my 3ddose file.
but it showed some errors.
![image](https://user-images.githubusercontent.com/88606090/160037888-a30d909d-9f00-4d7e-9874-b7d00499890a.png)
 what could be the possible reason? thanks

[2022-03-25 10:28] #859 closed

[2022-03-30 00:13] mxxo opened #860 "Out of bounds write while scoring dose to media with vacuum present"
I have been experiencing some `SIGSEGV` and `SIGBUS` crashes while running large simulations (see also #828). Building EGSnrc with Address Sanitizer led me to the following case. There appears to be an out-of-bounds read and write if medium dose scoring from `egs_dose_scoring` is used if the `vacuum` media is present in the geometry.

Here is the asan crash report, which is triggered after dose sc

[2022-04-04 12:22] rtownson opened #862 "Typos in the egs_cbct example"
The egs_cbct example from the documentation (and distributed with the app) seems to have the source and scoring planes incorrectly positioned.
https://nrc-cnrc.github.io/EGSnrc/doc/pirs898/egs_cbct.html
https://github.com/nrc-cnrc/EGSnrc/blob/master/HEN_HOUSE/user_codes/egs_cbct/example_w5br.egsinp

See the discussion from reddit, which explains the issue:
https://www.reddit.com/r/EGSnrc/comments/

[2022-04-04 21:23] mxxo opened #863 "Out of bounds write in tutor7pp fluence scoring arrays from floating point rounding issue"
I think I've found an potential issue with the `tutor7pp` fluence scorring array bin math with Address Sanitizer. I am using a modified version of `tutor7pp` called `mevegs` that shares the same fluence scoring code.

The asan report is:
[code]

The fluence arrays are set up here with 200 bins:
https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645380976f38a013a639759c/HEN_HOUSE/user_codes/tu

[2022-04-06 12:06] rtownson commented on #863
What a thorough bug report! Good work.

[2022-04-22 17:03] mxxo commented on #804
Just to add to this, `example1_co60_Pfactors.egsinp` fails with this error:

[code]

[2022-05-11 20:32] mxxo opened #872 "Redirecting `stderr` to a file causes `EGS_Application` based user codes to abort"
Reproducer with `tutor7pp`:
[code]

I see the code it's hitting is here, but don't understand why redirection works for `stdout` but not `stderr`:
https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645380976f38a013a639759c/HEN_HOUSE/egs%2B%2B/egs_application.cpp#L1077-L1088

[2022-05-14 17:59] mxxo commented on #781
I took a look at skipping over bad data files but it was more complex than I expected. Skipping files with errors is straightforward, but making sure the application's state remains valid is harder. Merging states is implemented by calling `addState` in a loop.

https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645380976f38a013a639759c/HEN_HOUSE/egs%2B%2B/egs_application.cpp#L565-L586

If `a

[2022-05-22 23:39] mehran1234 opened #875 "pbs /egs_brachy"
Hello,

when I execute this command :
exb egs_brachy COMS16mm.egsinp pegsless batch=pbs p=2

the jobs are added to the queue, starts to execute but terminates immediately. It outputs this file COMS16mm.egsinp_w1.eo with the following text:

/var/spool/torque/mom_priv/jobs/502.localhost.SC: line 1: 27758 Segmentation fault     (core dumped) /home/mehran/EGSnrc_with_egs_brachy/egs_home//bin/linux/eg

[2022-05-24 15:25] mxxo commented on #875
Hello @mehran1234,

This sort of error can arise from either problems in the input file or bugs in the code. More information is likely required to resolve it. Does the error also occur when running the input file as a interactive job (`egs_brachy -i COMS16mm.egsinp`)? Are you able to provide the input file? Given that `egs_brachy` isn't distributed as part of EGSnrc, maybe it's better to submit t

[2022-05-27 15:38] rtownson opened #876 "egs++ phsp scoring bug when scoring plane intersects regions"
It seems that particles are scored incorrectly for egs++ phsp scoring when the scoring plane intersects more than one region. I reproduced the issue both for egsphsp and IAEA (constant Z) formats.

See issue and example input file here: https://www.reddit.com/r/EGSnrc/comments/uxvu5b/issues_with_scoreplane/

[2022-06-09 16:19] rtownson opened #880 "egs_dose_scoring 'dose start region' parameter doesn't support labels"
It looks like we missed label support for the region listing parameters 'dose start region' and 'dose stop region'.

Reported here, thanks to u/pysix33:
https://www.reddit.com/r/EGSnrc/comments/v8k4uo/nonnumeric_region_label_issue_for_ausgab_dose/

[2022-06-19 06:27] Elhamvahebi commented on #880
Hello sir
I'm Elham vahebi of Tehran university in Iran .
I put a plan TBI and opened a 40 x 40
percent field. Because the patient is TBI, I
put it in ssd 200, and the field size is about
80 × 80. But when we irradiate the
phantom with the same conditions,
unfortunately the phantom does not take a
dose. Shows only green and blue doses, ie
50% doses. And does not show high doses
and 100% doses. I d

[2022-06-19 06:29] Elhamvahebi commented on #876
Hello sir
I'm Elham vahebi of Tehran university in Iran.
I put a plan TBI and opened a 40 x 40
percent field. Because the patient is TBI, I
put it in ssd 200, and the field size is about
80 × 80. But when we irradiate the
phantom with the same conditions,
unfortunately the phantom does not take a
dose. Shows only green and blue doses, ie
50% doses. And does not show high doses
and 100% doses. I do

[2022-07-04 15:35] ftessier opened #886 "I/O bottleneck for EGS_ScoringSingle and EGS_ScoringArray"
Reopening this as an issue: originally posted as issue #605 and then transferred to Discussion #688.

There are 2 pull requests related to this issue (#606, #707) and a suggested improvement on branch `fix-egspp-scoring-speed` (extracted from #707). Note also a somewhat related pull request for sparse matrix storage in DOSXYZnrc (#405).

I ran into this issue myself a couple weeks ago with a 250x2

[2022-07-07 15:01] devinvanelburg opened #892 "Segmentation fault -> EXC_BAD_ACCESS"
A stack trace when running egs_brachy through a debugger gives the following error (occurs on the order of 10e6 histories into the simulation):

      1This version of LLDB has no plugin for the language "fortran90". Inspection of frame variables will be limited.
Process 82358 stopped
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0xfffffffd008c5250)

[2022-07-07 20:03] mchamberland commented on #892
@devinvanelburg  What system are you running your simulations on, by the way? Linux?

[2022-07-07 22:30] devinvanelburg commented on #892
Both systems I tried were Linux based. One a university cluster (Redhat I believe) and the other Ubuntu through WSL.

[2022-07-07 22:39] ftessier commented on #892
How many media are there in the simulation? I am wondering if this errors simply stems from a `$MXMED` macro that is not set high enough. Trying the simple ideas first!

[2022-07-07 23:08] mchamberland commented on #892
@ftessier oooh! My egs++ $MXMED is set to 50, but the one in egsnrc.macros is set to 10. It's been so long since I've dealt with this, I totally forgot about it. Let me try again with the egsnrc.macros increased to 50.

[2022-07-08 17:41] devinvanelburg commented on #892
I also tried setting MXMED to 50 and recompiled egs_brachy. Same error.

[2022-07-08 17:48] rfmthoms commented on #892
Is the issue related to the enormous size of the phantom + memory?  Are you only scoring dose via collision kerma approximation (default) or other quantities (e.g. interaction scoring dose) as well?  You might only do default scoring and see if it works.  Also, you could try cropping your egsphant down to a much smaller size and seeing if it runs (eb_gui may allow cropping, too)

[2022-07-08 18:05] mchamberland commented on #892
@rfmthoms  it does use an enormous amount of memory (24 GB on my laptop!), but I wouldn't expect it to crash in this way during the simulation if it ran out of memory. Yes, this is only scoring collision kerma. Most options are pretty standard. It's running in egs_brachy's superposition mode, but I wouldn't expect it to cause an issue to show up in the electron transport routine...

[2022-07-08 18:50] ftessier commented on #892
Thanks for checking. I don't have egs_brachy running here, so can't help at the moment. It would be useful to know if this is an out-of-bounds access, and whether it is on `lelkef+1` or `medium`. Since the lelkef index has to do with energy interpolation, also check that energy thresholds and cutoffs `AE, UE, ECUT` are properly set; in particular ensure that `UE` is _strictly_ above the source ene

[2022-07-08 19:03] mchamberland commented on #892
@ftessier  Yes, I actually suspect AE. UE shenanigans... Let me look closer at the input file.

Also, I thought there were warnings added when something was not consistent in those parameters or am I misremembering?

[2022-07-08 19:29] ftessier commented on #892
Yes, but there can be a trap, e.g., energy test falls on one side of the good float side for the warning, then the wrong side for the array index? I am widely speculating here! 😄

[2022-07-08 20:55] ftessier opened #894 "Discrepancy between EGSnrc ctcreate and egs_glib egsphant media encoding"
This issue was reported in https://github.com/clrp-code/egs_brachy/issues/22.

Briefly, #633 expanded the number of media in the EGSnrc `ctcreate` to 95. However, the number of media was _also_ independently expanded in `egs_glib` in the development of `egs_brachy`, but using a different encoding. As a result, `egsphant` files are being created using inconsistent encodings, leading to undefined be

[2022-07-08 21:40] devinvanelburg commented on #892
The AE and UE are both set to 2.010.  That should be fine considering the 192Ir max energy is 1.377 MeV (+0.511 MeV for electrons), right?

However I noticed that the MC transport parameters was set to low energy default, so Global ECUT and Source ECUT were set to 1.512. Could this be the cause of the problem? I now switched it to high energy default (2.012 ECUTs), we'll see if this crashes too.

[2022-07-08 22:05] ftessier commented on #892
Unlikely, given that `ECUT` is normally reset to `AE` if `ECUT<AE`. But I am more worried about `AE` set the same as `UE`, in terms of the interpolation tables that EGSnrc builds...

[2022-07-08 22:08] devinvanelburg commented on #892
Oh oops, I should clarify the settings are:

AE = 2.010
UE = 2.011

[2022-07-08 22:14] mxxo commented on #892
In the same vein, has `$MXREG` been adjusted accordingly? I don't know if it's the cause of this error but the default is fairly low (2000).

https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645380976f38a013a639759c/HEN_HOUSE/src/egsnrc.macros#L180

[2022-07-08 22:56] mchamberland commented on #892
@mxxo that’a an interesting one. I’ve run hundreds of egs++ simulations with 250,000+ regions and was never aware of this $MXREG, so I’ve always used this default.

Worth looking into, though!

[2022-07-08 23:09] ftessier commented on #892
Me too (15e6 regions recently). I can only guess that `$MXREG` is only used in mortran applications? But now I am curious about that too!

[2022-07-09 00:42] devinvanelburg commented on #892
Hmm, I switched the Global and Source ECUTs to the high energy default (2.012) and it appears to be working. Currently running the simulation and it's completed 2/10 of the 10e7 batches so far, whereas before it was crashing near the end of the first batch.

[2022-07-09 11:39] mchamberland commented on #892
@ftessier 🥇for you. Setting AE and UE to more reasonable values (0.512, 2.012) seems to resolve the issue. Thanks for the help!

[2022-07-10 12:53] ftessier commented on #892
Thanks, happy that we figured this out!

[2022-07-12 20:46] AbdelrahmanHamoda commented on #603
I have the same issue, this issue occurs also with tutor7app , my log file is attached, thanks in advance
[config_win3264.log](https://github.com/nrc-cnrc/EGSnrc/files/9096706/config_win3264.log)

[2022-07-12 21:26] rtownson commented on #603
EGSnrc is not yet compatible with gcc 10.X, try gcc 8.X.

By the way, it looks like you're using gcc installed outside of your mingw installation.

[2022-07-13 17:09] AbdelrahmanHamoda commented on #603
OK, where can I get gcc 8.xx?

[2022-07-13 17:22] rtownson commented on #603
You already have mingw6.3.0 install, you just need to change your PATH environment variable so that it uses `C:\Program Files\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin` and not `c:\users\abdelrahman\gcc\lib\gcc\x86_64-w64-mingw32\10.3.0`. Right now it's using a mix of both, which is not good.

[2022-07-13 17:28] rtownson commented on #603
https://github.com/nrc-cnrc/EGSnrc/wiki/Install-EGSnrc-on-Windows

[2022-07-13 17:32] AbdelrahmanHamoda commented on #603
I tried already, but it's somehow confusing for me

[2022-07-15 12:10] AbdelrahmanHamoda commented on #603
thanks a lot, I overcome my issues , and now it works perfectly

[2022-07-16 07:33] walleludvig opened #901 "macOS (Monterey, 12.4) EGSnrc configuration failure"
Hi all,

I am seeking help to install and configure EGSnrc on my mac running macOS 12.4 Monterey. I have followed the installation instructions rigorously and downloaded EGS using the first listed option (by cloning the git repository), however I am experiencing an issue with the configuration.

After accepting the automatically generated compiler/linker switches:

================================

[2022-07-16 16:25] mxxo commented on #901
Hi @walleludvig,

Can you attach your `configure.log` from `HEN_HOUSE/log/`? It will have a different name depending on your system, on linux mine is called `configure-linux.log`.

[2022-07-17 02:59] walleludvig commented on #901
Thanks for responding @mxxo,

my HEN_HOUSE/log/ directory appears to be empty, however I located a file, configure.log in HEN_HOUSE/scripts/.

Here is that file:

[configure.log](https://github.com/nrc-cnrc/EGSnrc/files/9126976/configure.log)

[2022-07-17 13:44] ftessier commented on #901
There seems to be an issue with the C compilation linking step:

[code]

The following (new?) Fortran name mangling schemes seem to be missing from the configure script: `_junk_` and `_junk_junk_`, i.e., with a _prepended_ `_` symbol. Try the following patch on the configure script:

[code]

[2022-07-18 00:38] walleludvig commented on #901
Thank you for your response @ftessier,

I attempted your suggestion and applied the patch file, however the C compilation linking still seem to fail:

'''
Looking for available C compilers ...             found: gcc cc c89

Input C compiler:                                 [gcc]
Input C compiler flags to use:                    [-O2]
Checking for fortran name mangling scheme ...     C compilation

[2022-07-18 13:20] ftessier commented on #901
@walleludvig can you share your `configure.log` file again?

[2022-07-18 13:27] walleludvig commented on #901
@ftessier here is the configure.log file:
[configure.log](https://github.com/nrc-cnrc/EGSnrc/files/9132228/configure.log)

The issue might be due to the processor as you suggest, I have got the M1 pro chip if that might be relevant.

[2022-07-18 13:27] ftessier commented on #901
Oh wait, there is a mistake in my patch! Try this instead:

[code]

[2022-07-18 13:42] walleludvig commented on #901
Unfortunately I am still experiencing the same issue that building the IAEA phase space library and EGSnrc C++ class library  fails. However, the search for C compilers section look slightly different (it does not say that C compilation fails):

'''
Looking for available C compilers ...             found: gcc cc c89

Input C compiler:                                 [gcc]
Input C compiler flags to

[2022-07-18 13:49] ftessier commented on #901
Ok, that is (very small) progress. I don't have an M1 on hand, so thanks for reporting quickly!

[2022-07-18 14:16] ftessier commented on #901
Ok never mind my patches, the issue seems to lie with the compiling target differences for the Fortran vs C conftest programs.

[2022-07-19 15:00] ftessier commented on #901
So this explains the issue! `gcc` is building for `arm-64` and gfortran for `x86_64`. Linking those two objects does not work. I presume your `gcc` is in fact calling `clang` (you can confirm this with the output of `gcc -v`). You have to use `gcc-11` (or equivalent for your version) to use the Homebrew installed GNU compiler. As far as I can tell, gcc started supporting `arm64` in version 12 only

[2022-07-19 23:23] ftessier opened #904 "Compilation fails with -mcmodel=medium on macOS"
In #725 the compiler option `-mcmodel=medium` was added to the default flags, but this causes compilation failures on macOS (testing on version 11.6.7). On macOS, the `clang` linker is used, which apparently fails to link with code compiled with `-mcmodel=medium`. Specifically, out of the box on branch `develop` with the default options we get the following failures:

[code]

(I have no clue why `

[2022-07-20 12:48] walleludvig commented on #901
Hi @ftessier,

Thanks again,

I have tried both of your suggestions. When attempting to use the GNU compilers throughout it solve one issue at the start, because now ctcreate compiled, however dosxyz_show still fails as well as IAEA phase space library and C++ class library fails. Here's my terminal output from configuration run:
[GNU_compile.txt](https://github.com/nrc-cnrc/EGSnrc/files/9149865/G

[2022-07-20 12:51] mchamberland commented on #901
@walleludvig can you share the configure log, please?

[2022-07-20 13:00] walleludvig commented on #901
Here's my configure-osx.log
[configure-osx.log](https://github.com/nrc-cnrc/EGSnrc/files/9149966/configure-osx.log)

[2022-07-27 13:30] mchamberland commented on #901
@ftessier M2 MacBook Air acquired!

Out of the box and with the Homebrew tools (gcc-11, g++-11), egs+= compilation fails because it passes the wrong option to the c++ compiler. Somehow, it passes `-qmkshrobj`, which comes from [here](https://github.com/nrc-cnrc/EGSnrc/blob/a6fc389c6465c949645380976f38a013a639759c/HEN_HOUSE/scripts/configure_c%2B%2B#L199).

My workaround was just to change that lin

[2022-07-27 13:52] ftessier commented on #901
Thanks for testing. Arrgh, I don't know how to coerce QT to use the (real) gcc. I presume it will prove saner (in the long run) to figure out how to adjust the EGSnrc configuration scripts so they t work out-of-the-box on (arm64) macOS.

[2022-07-27 13:54] mchamberland commented on #901
@ftessier  Well, I got egs_view compiled. Now let's see if it actually works... If it does, I'll share what I did.

[2022-07-27 13:56] mchamberland commented on #901
Success!
<img width="1205" alt="Screen Shot 2022-07-27 at 09 55 48" src="https://user-images.githubusercontent.com/1675666/181265329-c6855eff-9bff-489a-a37d-ba3192797b08.png">

[2022-07-27 14:05] mchamberland commented on #901
@ftessier For the record:

1. I added:
[code]
to my .zshrc file.

2. In /opt/homebrew/Cellar/qt@5/5.15.5_1/mkspecs/common/macx.conf, I added:
`QMAKE_APPLE_DEVICE_ARCHS = arm64`

3. And in /opt/homebrew/Cellar/qt@5/5.15.5_1/mkspecs/common/g++-base.conf, I specified the Homebrew versions of gcc and g++ (gcc-11 and g++-11 respectively on my system) to `QMAKE_COMPILER`, `QMAKE_CC`, and `QMAKE_CXX`. So

[2022-07-27 14:07] mchamberland commented on #901
@ftessier I have not compiled any of the other GUIs, which I do not typically use.

[2022-07-27 14:13] ftessier commented on #901
Thanks a bunch, this information will prove extremely useful! 🙏🏻

[2022-07-27 14:17] ftessier commented on #901
So, just to be clear, you did _not_ encounter the linking issue reported by @walleludvig?

[2022-07-27 14:19] ftessier commented on #901
Then we might want to adjust the configuration script so that it recognizes `g++-*`. In your case `g++11` does not match the case pattern `g++`, so the default arm with `-qmkshrobj` is executed instead.

[2022-07-27 14:20] mchamberland commented on #901
@ftessier I did not encounter the linking issue reported above.

[2022-07-27 14:20] ftessier commented on #901
@walleludvig, any luck, any progress?

[2022-07-27 14:21] mchamberland commented on #901
Ah, that makes sense! Yes, for people installing `gcc` with Homebrew when the Apple tools are already present, I believe the default pattern will be `gcc-*`, with the latest version appended, e.g., `gcc-11`.

[2022-07-28 02:29] walleludvig commented on #901
Hi @ftessier,

I have not made progress with this issue, however I may not quite understand your suggested method on how to compile and link with various flags for gfortran and gcc. I followed your instructions and get the following (expected) linking issue arose:

'''
ld: warning: ignoring file c_test.o, building for macOS-x86_64 but attempting to link with file built for unknown-arm64
Undefined

[2022-07-28 02:49] ftessier commented on #901
Ok, thanks for the update. To be honest I am flying blind here. What I know is that when you run `gfortran --verbose` and `gcc --verbose` you want the `Target:` lines to match (or be compatible). I am just surprised that it worked for Marc!? @mchamberland, care to share your `Target:` lines on the M2?

[2022-07-28 03:07] walleludvig commented on #901
Not quite sure if this is at all helpful but can it be related to any of the following warnings I get when running $brew doctor?

'''
Warning: "config" scripts exist outside your system or Homebrew directories.
`./configure` scripts often look for *-config scripts to determine if
software packages are installed, and which additional flags to use when
compiling and linking.

Having additional scrip

[2022-07-28 11:25] ftessier commented on #901
I doubt it. The EGSnrc script is not related to the typical autoconf `./configure` script often found in software packages. It does not rely on any of the files listed above, which all relate to python or tcl/tk (dev files). All we care about is what specific gfortran or gcc executable is invoked. I mean it is not a bad idea to address the Homebrew message, but it is unlikely it is the source of t

[2022-07-28 12:58] mchamberland commented on #901
Here's what I get for the `verbose` output:

[code]

@walleludvig  Can you share the content of `/opt/Homebrew/bin` ?

[2022-07-28 13:02] mchamberland commented on #901
@walleludvig  Also, please run and share the output of:

[code]

[2022-07-28 13:11] walleludvig commented on #901
Hi @mchamberland,

the contents showing up from '''ls''' in '''/opt/Homebrew/bin''' is only '''brew'''.

'''

/usr/local/bin/gfortran

/usr/bin/gcc

/usr/bin/g++
'''

[2022-07-28 14:59] mchamberland commented on #901
@walleludvig  Hmm... None of those look like they came from brew. Can you try installing gcc from brew again?

`>brew install gcc`

When I did that earlier this week, it installed version 11 of gcc, and it placed `gfortran-11`, `gcc-11`, and `g++-11` in `/opt/Homebrew/bin`. Then in the EGSnrc configure script, you would specify those compilers.

But you'll need to change the `configure_c++` script

[2022-07-28 15:02] mchamberland commented on #901
@walleludvig and if you want to compile `egs_view`, you'll want to install QT5 with brew:

`>brew install qt@5`

And make the changes I mentioned further above.

If instead you're working with BEAMnrc and the other GUIs, then I haven't tried those yet.

[2022-07-28 15:06] mchamberland commented on #901
@walleludvig oooh, I noticed you have `/usr/local/Cellar` in your first post above. I think this might be from an older version of brew or an older version macOS. Nowadays, brew puts everything under /opt/Homebrew.

So, here's my recommendation: uninstall brew completely. You can look up instructions online. Then, reinstall brew and gcc.

Hopefully, this helps resolve some of your issues.

[2022-07-30 15:11] walleludvig commented on #901
Hi @mchamberland and @ftessier,

First of all, thank you so much for sticking through with this and not giving up. I greatly appreciate your aptitude at getting this issue solved.

After following @mchamberland most recent guidelines I have finally got EGSnrc configured successfully, what a relief! :)

However, during the configuration it was reported that ctcreate Failed and dosxyz_show Failed. M

[2022-07-30 15:35] mchamberland commented on #901
@walleludvig  Great news! For dosxyz_show, you need extra libraries installed, but there are more modern options to display your dose distributions from dosxyz, so I wouldn't bother with it for now.

For ctcreate, it looks like you're running into the same problem as before. Weird. Maybe go to `$EGS_HOME/ctcreate`, then do `make clean` and try `make` again.

For egs_view, here's what I do:

1. Go

[2022-07-30 15:43] mchamberland commented on #901
@walleludvig  The other solution to opening egs_view is to do `open -a egs_view` instead of just typing `egs_view` in the terminal.

[2022-07-30 15:58] walleludvig commented on #901
Thanks for quick response @mchamberland,

It appears as if I do not have neither of the directories your pointing at here.

For ctcreate <$EGS_HOME/ctcreate> returns <no such file or directory>, and I cannot locate it through finder either.

I also cannot find a directory with my config name in HEN_HOUSE but can go directly to a bin folder, which in turn contains a subfolder named osx. However, th

[2022-07-30 16:03] mchamberland commented on #901
Oops, right, my mistake! I should have written `$HEN_HOUSE/bin/[your config]`

And I bet you just did not compile `egs_view` yet. It does not get compiled automatically with EGSnrc.

Go to `$HEN_HOUSE/egs++/view`, then type `make` and cross your fingers. This one is tricky to get right!

[2022-07-30 16:21] walleludvig commented on #901
You are indeed correct @mchamberland, I had not compiled egs_view earlier, but when attempting now I get error code 1 as follows:

`>make
/bin/qmake my_machine= MAKEFILE=Makefile_ hhouse=
make: /bin/qmake: No such file or directory
make: *** [Makefile_] Error 1`

[2022-07-30 16:30] mchamberland commented on #901
Looks like a bunch of environment variables are missing.

Does `echo $EGS_CONFIG` return anything? My first guess is you may have missed those couple of lines at the end of your .bashrc or .zshrc (if you're on a modern Mac, you may be using the default zsh shell):

[code]

[2022-07-30 16:46] walleludvig commented on #901
@mchamberland `echo $EGS_CONFIG` returns `/Users/ludvigwalle/EGSnrc/HEN_HOUSE/specs/osx.conf` . I am on a modern Mac and am using the default zsh shell yes

[2022-07-30 16:55] mchamberland commented on #901
Hmm... How about `echo $QTDIR` ?

Also, make sure you've sourced the EGSnrc bashrc additions:

`source $HEN_HOUSE/scripts/egsnrc_bashrc_additions`

We'll get you there because I'm on a brand new M2 and got everything working!

[2022-07-30 22:15] mchamberland commented on #901
@walleludvig oh and ctcreate is under `$HEN_HOUSE/omega/progs/ctcreate`.

[2022-07-30 22:58] ftessier commented on #901
Thank you @mchamberland for all the great support, and @walleludvig for not giving up! Maybe I ought to ask work for a newer mac 😆.

[2022-07-31 02:53] walleludvig commented on #901
@mchamberland I had previously failed to add the paths to my .zshrc file as you earlier mentioned to do. Turns out I had been denied permission to edit that file before however I have resolved that issue now.

`echo $QTDIR` now returns `/opt/homebrew/Cellar/qt@5/5.15.5_1`.

I believe ctcreate compilation has worked now, for reference this is the output I got from `>make` after having done `>make c

[2022-07-31 02:55] walleludvig commented on #901
I really wanna get this working! And I am grateful for such good support :) Almost there now

[2022-07-31 12:28] mchamberland commented on #901
@walleludvig  Can you post the entire output when you do `make`? Make sure to do a `make clean` first. Maybe there will be something in there to clue me in.

Since the linker complains about `arm64`, maybe you should remove the line `QMAKE_APPLE_DEVICE_ARCHS = arm64` from `macx.conf`. This is mostly a stab in the dark. We'll see what if any error message this throws.

[2022-07-31 12:43] walleludvig commented on #901
Hi @mchamberland,

Removing `QMAKE_APPLE_DEVICE_ARCHS = arm64` made it only fail much faster. I am immediately prompted `Project ERROR: QMAKE_APPLE_DEVICE_ARCHS or QMAKE_APPLE_SIMULATOR_ARCHS must contain at least one architecture` without having that line.

However, this is the total output from `make clean`, and then `make` respectively:

[egs_view_make_cleanOutput.txt](https://github.com/nrc-cn

[2022-07-31 13:01] mchamberland commented on #901
Ok good to know. Leave that line, then. Do another make clean and make, then post the Makefile_osx that gets generated in the egs_view source folder.

[2022-07-31 13:08] walleludvig commented on #901
Here's a .txt version of that file @mchamberland (since GitHub don't let me upload the original filetype):
[egs_view_makefile_osx.txt](https://github.com/nrc-cnrc/EGSnrc/files/9228912/egs_view_makefile_osx.txt)

[2022-07-31 13:08] mchamberland commented on #901
Actually, instead of `make clean` try `make realclean`.

[2022-07-31 13:13] walleludvig commented on #901
Tried `make realclean` now but ended up with the same results.

Here's the new makefile_osx:
[egs_view_makefile_osx_realclean.txt](https://github.com/nrc-cnrc/EGSnrc/files/9228921/egs_view_makefile_osx_realclean.txt)

[2022-07-31 13:25] mchamberland commented on #901
I’m out of ideas, but at this point, I would remove the entire EGSnrc folder, clone it fresh and redo everything, taking into account what you know now to get it working on the first try.

Let me know how that goes… 😅

[2022-07-31 16:20] mchamberland commented on #901
@walleludvig  Taking a closer look at your Makefile_osx, I believe the problem is the following line:

`LINK          = /Library/Developer/CommandLineTools/usr/bin/g++\`

This should be pointing to the Brew g++. Mine looks like this:

`LINK          = /opt/homebrew/bin/g++-11`

I remember having this issue before getting it to work, so maybe in my QT instructions above, I missed something. Or perh

[2022-08-17 13:08] walleludvig commented on #901
Hi @mchamberland,

Apologies for taking so long to get back at this issue, but have unfortunately not had much time for it.

I tried a complete fresh EGSnrc clone install and configuration and this time it all went pretty smoothly. I have not had any errors in configuration or compilation and even egs_view seem to have compiled alright. However, when I attempt to open egs_view by `open -a egs_view

[2022-08-17 16:06] mchamberland commented on #901
@walleludvig This is what I do. If you use the `open -a egs_view`, then the Finder window wants you to select an input file to open.

Glad you got everything working!

[2022-08-18 02:18] walleludvig commented on #901
Thanks for your continuous support @mchamberland.

I have done as you suggested and copied the egs_view exec to my `HEN_HOUSE/bin/osx` folder. And this is what's currently happening:

- I can open a .egsinp file with egs_view successfully if I do so by running the egs_view exec file directly by double clicking on it in finder! (the original egs_view package does not need to be in `HEN_HOUSE/bin/os

[2022-08-18 18:56] mainegra commented on #611
@rtownson this issue has been fixed, right? All looks good on the egs++ manual page now!

[2022-08-18 19:03] mainegra opened #913 "Outdated documentation for charged particle differential fluence calculations with cavity"
The PIRS-898 manual refers to these calculations using the stopping power at the bottom of the beam which is not what is currently implemented. This was the initial implementation but was changed to a series expansion of the expression for stopping power around the energy at the middle of each bin.

There is also several typos in the indices of the equations! Documentation actually was never compl

[2022-08-18 19:35] rtownson commented on #611
I can't find when it got fixed, but yes, looks good! I'll close this...

[2022-08-18 19:35] #611 closed

[2022-08-20 00:30] barghashr opened #914 "Addphsp ***ERROR READING HEADER OF PHASE SPACE FILE***"
Hi,

I have been trying to merge 10 phase space files using "addphsp" utility. It works until after the second phase space file, then gives an error that says "***ERROR READING HEADER OF PHASE SPACE FILE***".

I am not sure what the problem is, please let me know if you could help and if more information is needed.

Thank you,
Reham

![error](https://user-images.githubusercontent.com/111618589/185

[2022-08-27 04:38] #901 closed

[2022-09-01 18:03] mchamberland opened #918 "Add shape descriptions"
Sources have descriptions associated with them. But some sources use shapes and those shapes are not described.

Say you have two parallel beam simulations with a cylinder shape and they differ by the radius of the cylinder, the `source->getSourceDescription()` method will return the same description, even though the two sources are different.

For example, [in egs_parallel_beam](https://github.co

[2022-09-08 15:19] rtownson commented on #914
Did this issue get resolved? I feel like I addressed the same question elsewhere and the issue was insufficient disk space.

[2022-09-08 15:54] barghashr commented on #914
Correct, it got resolved and the issue was insufficient disk space.

Sorry for not closing the issue earlier.

Thank you.

[2022-09-11 18:49] blakewalters commented on #904
@ftessier, have you tried compiling a shared library on Mac?  I'm using gfortran-8 and I'm running into errors with the flags "-Wl,-Bsymbolic." I get the error: "ld: unknown option: -Bsymbolic."  This goes away if I eliminate the "-Wl" flag and the shared library apparently compiles successfully (I haven't actually tried running it, though).  What do these flags do?  Does "-W" define a warning lev

[2022-09-11 22:05] blakewalters commented on #795
@ftessier, I'm just wondering if you've tried compiling a shared library on Mac? I'm using gfortran-8 and I'm running into errors with the flags "-Wl,-Bsymbolic." I get the error: "ld: unknown option: -Bsymbolic." This error goes away if I eliminate the "-Wl" flag and the "-Bsymbolic" flag, although I can also leave the latter flag in place, and the shared library compiles successfully. What do th

[2022-09-13 15:27] crcrewso commented on #904
Finally read this one

I wonder, does -mcmodel=large also fail?

[2022-09-16 14:34] rtownson opened #922 "Crash when only providing electric field and not magnetic field"
A segmentation fault occurs when only an electric field is specified:

[code]

the error is resolved when you provide a zero magnetic field:

[code]

So it seems that we need to add a default setting for magnetic fields of 0,0,0. I haven't looked into the code yet, and only tested this in egs++.

[2022-09-23 01:36] CQUswl opened #925 "BEAMnrc mesh CM geometry error"
When I run beamnrc on Windows, the used mesh module component shows 'can not get here'，what does that mean?
![图片](https://user-images.githubusercontent.com/114200268/191877744-ab040a28-ed2f-4d1f-ab66-8c307be6d44e.png)

[2022-09-23 14:08] rtownson commented on #925
This usually means that the geometry is not well defined, like there is some dimension that doesn't make sense. Double check with the documentation, and if you're still stuck you are welcome to post the (non-proprietary) input here.

[2022-09-24 01:22] CQUswl commented on #925
Thanks！I compiled and ran this .egsinp input file using the beamnrc GUI, sometimes this error appears, sometimes it does not.
![图片](https://user-images.githubusercontent.com/114200268/192074131-80b33e36-ff9d-4a73-a902-5311468520af.png)
![图片](https://user-images.githubusercontent.com/114200268/192074145-2765dbf9-f1ee-4a09-9f7c-684850635df6.png)
![图片](https://user-images.githubusercontent.com/114200

[2022-09-24 16:42] mxxo commented on #925
Hi @CQUswl,

Could you post your egsinp as text in the comment body or upload the files themselves? It's much easier to start debugging if you don't have to manually transcribe code from an image (and there's no chance of making transcription mistakes).

[2022-09-25 07:31] CQUswl commented on #925
Thanks，this is the egsinp file.
sandwich1                                                                        #!GUI1.0
AIR521ICRU
0, 0, 0, 0, 0, 2, 0,  IWATCH ETC.
1000000000, 33, 97, 99, 0, 0, 0, 0,  NCASE ETC.
0, 21, 1, -1, 0, 0, 0, 0, 0, 0,  IQIN, ISOURCE + OPTIONS
C:/EGSnrc/egs_home/BEAM_Sandwich/BEAM_Sandwich.egsphsp1
0, 0, 0.521, 0.01, 0, 0, 0,  0 , ECUT,PCUT,IREJCT,ESAVE
0, 0, 0, 0, 0,

[2022-09-27 15:40] rtownson commented on #925
I don't see any issues with the input file. If you only spot a few of these errors over millions of histories, the effect will be completely negligible. I believe it is a floating point error that is not properly handled, where a particle will appear to be in one region when it is in fact in a different one within a very small distance.

[2022-09-28 00:38] CQUswl commented on #925
Thank you so much for your help, I understand.

[2022-09-30 09:38] CQUswl opened #927 "A question of beamdp"
I've modified the $NB variable in the beamdp.mortran file to change its value to 500(figure 1), but when I ran “Derive spectral distribution from ph-sp data”,the value of “Number of equal energy bins” cannot be set to a value greater than 200.If I set the value less than 200，it can work fine；but when I set it to a value greater than 200，It shows the error in Figure 2.

Figure1:
![图片](https://user-

[2022-10-05 01:58] CQUswl commented on #927
I run the beamdp_gui in the Windows,how can I to do **make clean**?

[2022-10-05 01:58] #927 closed

[2022-10-05 02:14] CQUswl commented on #927
I run the beamdp_gui on Windows,I don’t know how to do ”make clean”.But what I can be sure of is that under the exact same phase-space file and input，when I change the input of "Number of equal energy bins" to a number greater than 200,the program will show the error in Figure 2.

[2022-10-05 12:59] CQUswl commented on #927
Under your guidance, I successfully solved this problem, thank you very much!

[2022-10-11 14:18] rtownson opened #928 "Two MLCE CMs in the same BEAMnrc linac fail to compile"
Two MLCE CMs in the same BEAMnrc linac fail to compile. We had a similar issue with the SYNC CMs that was fixed previously, I believe it was due to a few variables not including the CM number in their variable name. For now, the workaround is just to use SYNCMLCE instead.

Reported here, thanks /u/center2506:
https://www.reddit.com/r/EGSnrc/comments/xs5b3j/compilation_error/

[2022-10-14 07:13] CQUswl commented on #925
How do I turn off Compton scattering while running beamnrc gui?

[2022-10-22 22:08] walleludvig opened #932 "egs-parallel.sh - Abort trap: 6"
Hi,

I am writing here to discuss an issue I am having when attempting to run parallel jobs using the script supplied here (egs-parallel.sh): [https://egsnrcarchive.home.blog/2014/04/23/running-egsnrc-codes-on-multiple-cores-without-a-queuing-system/comment-page-1/#comment-5246](https://github.com/nrc-cnrc/EGSnrc/issues/url).

I am trying to use it to run 10 parallel jobs but I get an abort trap 6

[2022-10-24 04:12] walleludvig commented on #932
Hi @mchamberland,

If I am correct I remember you recently purchased an M1, any chance you've run any parallel processing jobs yet?

Cheers,
LW

[2022-10-24 12:25] mchamberland commented on #932
@walleludvig My version works.

[egs-parallel.sh.txt](https://github.com/nrc-cnrc/EGSnrc/files/9851612/egs-parallel.sh.txt)

<img width="1510" alt="Screen Shot 2022-10-24 at 08 24 12" src="https://user-images.githubusercontent.com/1675666/197525035-a35c0062-b276-4a2a-aecf-20199f24e4f4.png">

[2022-10-24 12:36] mchamberland commented on #932
I didn’t bother trying the official version distributed with EGSnrc. I’ll try that one tonight and see if I also get an error.

[2022-10-24 12:50] mchamberland commented on #932
The official version does not seem to work out of the box.

<img width="1510" alt="Screen Shot 2022-10-24 at 08 49 24" src="https://user-images.githubusercontent.com/1675666/197529256-366c4573-579d-400e-97b0-e5a43139bf51.png">

[2022-10-24 21:44] walleludvig commented on #932
Thanks for your response @mchamberland,

all jobs launch successfully for me as well, but immediately returns the abort trap 6.
![Screen Shot 2022-10-25 at 8 42 47 am](https://user-images.githubusercontent.com/109406799/197635519-d933eb66-549c-42eb-ad9a-a43d156246d6.png)

Any ideas on what I might attempt to resolve this?

[2022-10-24 23:32] mchamberland commented on #932
@walleludvig Sadly, no. I know next to nothing about bash scripting. Off the top of my head, I would try submitting just one job with the egs-parallel script. Does that fail? If so, then I’d remove the `> /dev/null 2>&1` part of the line in the script and see if it works.

@ftessier any ideas?

[2022-10-25 07:14] walleludvig commented on #932
Thanks for suggestions anyway @mchamberland. However, still no luck with any amount of jobs submitted using egs-parallel.sh script.

For reference I do know that the job I try to submit can run (i.e., I have ran it the normal 1 thread way: '<accelerator> -i <inputfile> -p <pegs4data>)

[2022-10-25 12:51] mchamberland commented on #932
@walleludvig  How about you try the following:

`egs-parallel -n 4 -d 2 -f -v -c 'your command that you're trying to run'`

Use the egs-parallel that's distributed with EGSnrc. The verbose option might tell us something.

[2022-10-25 12:53] mchamberland commented on #932
For the record, this was caused by using a delay of 0 for job submissions, which meant the lock file did not have time to be created before the other jobs tried to access it. Setting the delay to a non-zero value resolved this issue.

[2022-10-25 23:17] walleludvig commented on #932
Thanks @mchamberland & @ftessier,

Using the included EGSnrc egs-parallel (at HEN_HOUSE/scripts/bin) I get the same error. Here's the verbose output:

[code]

Thanks for your support.

[2022-10-26 11:54] mchamberland commented on #932
@walleludvig  Hmm... It looks like it's a problem with your simulation running in parallel, in my opinion. You say it runs fine when you launch it interactively?

How about if you just launch it straight from the command line, but with the parallel options, so you can see what error it produces, i.e.:

`BEAM_XSample_mod -i XSample_mod -p XSample -b -P 4 -j 1 -f 1`

Just run that in the terminal.

[2022-10-27 04:03] walleludvig commented on #932
@mchamberland Yes when I launch it the conventional way ``` BEAM_XSample_mod -i XSample_mod -p XSample ``` the job runs completely fine.

Also if I launch the job as ```BEAM_XSample_mod -i XSample_mod -p XSample -b -P 4 -j 1 -f 1``` it also runs completely fine and as so I can launch each of the parallel jobs 'manually' by:
[code]

I therefore tried to remove ```$runcommand >/dev/null 2>&1 &``` fr

[2022-10-28 13:52] mchamberland opened #933 "Compilation fails on macOS Ventura"
I like to live on the bleeding edge, so I updated to macOS Venture on my M2 Mac and compilation fails. Looks like a linker issue:

[code]

Using gcc12 installed with Homebrew.

I will investigate and keep you posted.

[2022-10-28 13:54] mchamberland commented on #933
Well, that was quick. [Looks like a bug in the latest version of Xcode and solution is to downgrade the command line tools.](https://stackoverflow.com/questions/73714336/xcode-update-to-version-2395-ld-compile-problem-occurs-computedatomcount-m)

I will test this solution.

[2022-10-28 14:02] mchamberland commented on #933
Can't install command line tools 13.4 on Ventura, so the next workaround is to download the beta 3 of version 14.1. Hopefully, this means it will be fixed in version 14.1. Testing now...

[2022-10-28 14:19] mchamberland commented on #933
Compilation works with command line tools version 14.1, candidate 2. So, this should be resolved by the time Xcode 14.1 comes out. Given the release candidates are available, should be soon. Non-pro users should probably hold off from upgrading to macOS Ventura until then.

[2022-10-28 14:50] mchamberland opened #934 "Expand environment variables in include files"
Expanding environment variables in various egs++ applications has been added a while ago, but what about for `include file` keys in egsinp files? It does not seem to be supported (as far as I can tell...) and looking at the source in `egs_input.cpp`, I have no idea where the call to `egsExpandPath()` should be placed.

Can someone add support for this, please?

[2022-10-31 14:48] ftessier commented on #928
Fixed with pull request #931

[2022-10-31 14:48] #928 closed

[2022-11-01 18:49] mchamberland commented on #933
Command line tools 14.1 were released today, so this should be officially resolved now.

[2022-11-10 02:06] #665 closed

[2022-11-12 07:19] YapingQi opened #937 "error when compiling DOSXYZnrc"
Hi guys,

I change some parameters in dosxyznrc user macros.mortran and recompiling with "make"  in folder /egs_home/dosxyznrc/, and I got the errors like following :
/usr/bin/ld: failed to convert GOTPCREL relocation; relink with --no-relax
collect2: error: ld returned 1 exit status
/root/es/EGSnrc/HEN_HOUSE/makefiles/standard_makefile:87: recipe for target '/root/es/EGSnrc/egs_home/bin/linux/dos

[2022-11-14 14:25] rtownson commented on #937
Try changing the parameters back, and then go one at a time to see which one results in the failure. I'm guessing this is due to changing the maximum number of voxels. You might need to adjust compiler flags, see here:

https://www.reddit.com/r/EGSnrc/comments/gzy2de/statedose_voxel_limitation/

[2022-11-29 13:41] Yassir1998 opened #941 "Building accelerator ERROR in BEAMnrc"
i've just installed EGSnrc in Linux and was successfully ended, but when i try to build my accelerator by command "beam_build.exe my_accelerator_name"  it gives me this error => -bash: beam_build.exe: command not found.

[2022-11-29 18:32] rtownson commented on #937
Did you resolve this issue?

[2022-11-29 18:32] #925 closed